<%= form_for(@group_semester) do |f| %>
  <% if @group_semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_semester.errors.count, "error") %> prohibited this group_semester from being saved:</h2>

      <ul>
      <% @group_semester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.select :group_id, [nil] + @groups.map{|g| [g.name, g.id]}, {}, :disabled => !!@group_semester.group_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %>
    <%= f.select :semester_id, [nil] + @semesters.map{|s| ["#{s.start_on} - #{s.end_on}", s.id]}, {}, :disabled => !!@group_semester.semester_id %>
  </div>
  <div class="field">
    <%= f.label :first_session %>
    <%= f.text_field :first_session, class: 'date' %>
  </div>
  <div class="field">
    <%= f.label :last_session %>
    <%= f.text_field :last_session, class: 'date' %>
  </div>
  <div class="actions">
    <%= f.submit 'Lagre' %>
  </div>
<% end %>
