<%= form_for(@group_semester) do |f| %>
  <% if @group_semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_semester.errors.count, "error") %> prohibited this group_semester from being saved:</h2>

      <ul>
      <% @group_semester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br />
    <%= f.number_field :semester_id %>
  </div>
  <div class="field">
    <%= f.label :first_session %><br />
    <%= f.date_select :first_session %>
  </div>
  <div class="field">
    <%= f.label :last_session %><br />
    <%= f.date_select :last_session %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
