<h1>Gruppeinformasjon for semestre</h1>

<table class="table">
  <tr>
    <th>Gruppe</th>
    <th>Semester</th>
    <th>Første trening</th>
    <th>Siste trening</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_semesters.each do |group_semester| %>
  <tr>
    <td><%= group_semester.group.name %></td>
    <td><%= group_semester.semester.start_on.year %> <%= month_name(group_semester.semester.start_on.month) %> - <%= t(:date)[:month_names][group_semester.semester.end_on.month] %></td>
    <td><%= group_semester.first_session %></td>
    <td><%= group_semester.last_session %></td>
    <td><%= link_to 'Vis', group_semester %></td>
    <td><%= link_to 'Endre', edit_group_semester_path(group_semester) %></td>
    <td><%= link_to 'Slett', group_semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Opprett nytt semester', new_group_semester_path %>
