<% @content_width = 1024 %>

<h1>
  <%= @group_semester.group.name %>
  <%= @group_semester.semester.name %>
</h1>

<p>
  <b>Hovedinstruktør:</b>
  <%= @group_semester.chief_instructor.try(:name) %>
</p>

<div class="row">
  <div class="col-md-6">
    <b>Første trening:</b>
    <%= @group_semester.first_session %>
  </div>

  <div class="col-md-6">
    <b>Siste trening:</b>
    <%= @group_semester.last_session %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <b>Oversikt:</b><br/>
    <%=textalize @group_semester.summary%>
  </div>
</div>


<%= link_to 'Rediger', edit_group_semester_path(@group_semester), class: 'btn btn-primary' %>
<%= back_or_link_to 'Tilbake', group_semesters_path, class: 'btn btn-secondary' %>

<h2>Treninger</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#plan" role="tab" data-toggle="tab">Plan</a></li>
  <li><a href="#history" role="tab" data-toggle="tab">Historie</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="plan">
    <table class="table">
      <% @group_semester.practices.select { |p| p.date >= Date.current }.sort_by(&:date).each do |practice| %>
          <tr>
            <td><%= practice.date %></td>
            <td>
              <%= form_for practice do |f| %>
                  <%= f.text_area :message, rows: 5, style: 'width: 100%' %>
                  <br/>
                  <%= f.submit class: 'btn btn-secondary' %>
                  <%= link_to 'Vis', practice, class: 'btn btn-secondary' %>
              <% end %>
            </td>
            <td><%= practice.status %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="history">
    <table class="table">
      <% @group_semester.practices.select { |p| p.date < Date.current }.sort_by(&:date).reverse.each do |practice| %>
          <tr>
            <td><%= practice.date %></td>
            <td>
              <%= form_for practice do |f| %>
                  <%= f.text_area :message, rows: 5, style: 'width: 100%' %>
                  <br/>
                  <%= f.submit class: 'btn btn-secondary' %>
                  <%= link_to 'Vis', practice, class: 'btn btn-secondary' %>
              <% end %>
            </td>
            <td><%= practice.status %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
