<h1>
  <%= @group_semester.group.name %>
  <%= @group_semester.semester.name %>
</h1>

<p>
  <b>Hovedinstruktør:</b>
  <%= @group_semester.chief_instructor.try(:name) %>
</p>

<div class="row">
  <div class="col-md-6">
    <b>Første trening:</b>
    <%= @group_semester.first_session %>
  </div>

  <div class="col-md-6">
    <b>Siste trening:</b>
    <%= @group_semester.last_session %>
  </div>
</div>

<%= link_to 'Rediger', edit_group_semester_path(@group_semester), class: 'btn btn-primary' %>
<%= back_or_link_to 'Tilbake', group_semesters_path, class: 'btn btn-default' %>

<h2>Treninger</h2>

<table class="table">
  <% @group_semester.practices.sort_by(&:date).each do |practice| %>
      <tr>
        <td><%= practice.date %></td>
        <td>
          <%= form_for practice do |f| %>
              <%=f.text_area :message, rows: 5, style: 'width: 100%' %>
              <br/>
              <%=f.submit class: 'btn btn-default' %>
              <%=link_to 'Vis', practice, class: 'btn btn-default'%>
          <% end %>
        </td>
        <td><%= practice.status %></td>
      </tr>
  <% end %>
</table>
