<p id="notice"><%= notice %></p>

<p>
  <b>Gruppe:</b>
  <%= @group_semester.group_id %>
</p>

<p>
  <b>Semester:</b>
  <%= @group_semester.semester_id %>
</p>

<p>
  <b>Første trening:</b>
  <%= @group_semester.first_session %>
</p>

<p>
  <b>Siste trening:</b>
  <%= @group_semester.last_session %>
</p>


<%= link_to 'Rediger', edit_group_semester_path(@group_semester) %> |
<%= back_or_link_to 'Tilbake', group_semesters_path %>
