<%= form_for(@semester) do |f| %>
    <% if @semester.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@semester.errors.count, "error") %> prohibited this
            semester from being saved:</h2>

          <ul>
            <% @semester.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field" style="float: left; margin-right: 1em">
      <%= f.label :start_on, 'Fra' %>
      <%= f.text_field :start_on, class: 'date', :size => 18 %>
    </div>

    <div class="field">
      <%= f.label :end_on, 'Til' %>
      <%= f.text_field :end_on, class: 'date', :size => 18 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
