<% @content_width = 1024 %>

<div style="float: right; width: 240px; height: 680px; overflow:auto; border: 1px solid black">
  <% @embu.images.select('images.id, content_type, name').each do |e| %>
      <% if e.video? %>
          <%= video_tag url_for(:controller => :images, :action => :show, :id => e.id, :format => e.format), :title => e.name || 'Film', :controls => true, :autobuffer => true, :style => "float: right; width: 240px" %>
          </video>
      <% else %>
          <%= image_tag url_for(:controller => :images, :action => :inline, :id => e.id, :format => e.format, :width => 185), :title => e.name || 'Bilde', :style => "float: right; width: 19%" %>
      <% end %>
      <br clear="right"/>
  <% end %>
</div>

<h1>Din Embu</h1>

<%= render 'form' %>

<%= link_to 'Ny Embu', new_embu_path %>

<% if (@embus - [@embu]).any? %>
    <h3>Eldre embu</h3>
    <table>
      <% @embus.each do |embu| %>
          <tr>
            <td><%= embu.rank.name %></td>
            <td><%= link_to 'Show', embu %></td>
            <td><%= link_to 'Edit', edit_embu_path(embu) %></td>
            <td><%= link_to 'Destroy', embu, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
      <% end %>
    </table>
<% end %>
