<% @content_width = 1024 %>

<h1>Din Embu</h1>

<% if @embu %>
    <%= render 'form' %>
<% end %>

<%= link_to 'Ny Embu', new_embu_path %>

<% @embu.images.each do |e| %>
    <img src="<%=url_for(:controller => :images, :action => :inline, :id => e.id) %>"/>
<% end %>

<% if (@embus - [@embu]).any? %>
    <h3>Eldre embu</h3>
    <table>
      <% @embus.each do |embu| %>
          <tr>
            <td><%= embu.rank.name %></td>
            <td><%= link_to 'Show', embu %></td>
            <td><%= link_to 'Edit', edit_embu_path(embu) %></td>
            <td><%= link_to 'Destroy', embu, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
      <% end %>
    </table>
<% end %>
