<h1>Din Embu</h1>

<% if @embu %>
    <%= render 'form' %>
<% end %>

<table>
  <tr>
    <th>User</th>
    <th>Rank</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @embus.each do |embu| %>
      <tr>
        <td><%= embu.user_id %></td>
        <td><%= embu.rank_id %></td>
        <td><%= embu.description %></td>
        <td><%= link_to 'Show', embu %></td>
        <td><%= link_to 'Edit', edit_embu_path(embu) %></td>
        <td><%= link_to 'Destroy', embu, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Embu', new_embu_path %>
