<%= link_to 'Ny instruktørsamling', new_instructor_meeting_path, class: 'btn btn-primary pull-right' %>

<h1>Instruktørsamlinger</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>Slutt</th>
      <th>Tema</th>
      <th>Agenda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_meetings.each do |instructor_meeting| %>
      <tr>
        <td><%= instructor_meeting.start_at %></td>
        <td><%= instructor_meeting.end_at %></td>
        <td><%= instructor_meeting.title %></td>
        <td><%= instructor_meeting.agenda %></td>
        <td><%= link_to 'Show', instructor_meeting %></td>
        <td><%= link_to 'Edit', edit_instructor_meeting_path(instructor_meeting) %></td>
        <td><%= link_to 'Destroy', instructor_meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
