<h1>Listing wazas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Translation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wazas.each do |waza| %>
  <tr>
    <td><%= waza.name %></td>
    <td><%= waza.translation %></td>
    <td><%= waza.description %></td>
    <td><%= link_to 'Show', waza %></td>
    <td><%= link_to 'Edit', edit_waza_path(waza) %></td>
    <td><%= link_to 'Destroy', waza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Waza', new_waza_path %>
