<% @content_width = 1024 %>
<h1>Folk i prøvetid</h1>

<table class="table">
  <tr>
    <th>Navn</th>
    <th>Alder</th>
    <th>Adresse</th>
    <th>Epost</th>
    <th>Mobil</th>
    <th>Reg dato</th>
  </tr>

<% @nkf_member_trials.each do |nkf_member_trial| %>
  <tr>
    <td><%=link_to nkf_member_trial.name, nkf_member_trial %></td>
    <td><%=h nkf_member_trial.fodtdato %> <%=h nkf_member_trial.alder %> år</td>
    <td><%=h nkf_member_trial.adresse %><br/>
        <%=h nkf_member_trial.postnr %> <%=h nkf_member_trial.sted %></td>
    <td><%=h nkf_member_trial.epost %></td>
    <td><%=h nkf_member_trial.mobil %></td>
    <td <%='style="color: red"'.html_safe if nkf_member_trial.reg_dato < 2.months.ago.to_date %>>
      <%=h nkf_member_trial.reg_dato %>
    </td>
  </tr>
<% end %>
</table>
