<p>
  <b>Medlems type:</b>
  <%= h @nkf_member_trial.medlems_type %>
</p>

<p>
  <b>Etternavn:</b>
  <%= h @nkf_member_trial.etternavn %>
</p>

<p>
  <b>Fornavn:</b>
  <%= h @nkf_member_trial.fornavn %>
</p>

<p>
  <b>Fodtdato:</b>
  <%= h @nkf_member_trial.fodtdato %>
</p>

<p>
  <b>Alder:</b>
  <%= h @nkf_member_trial.alder %>
</p>

<p>
  <b>Postnr:</b>
  <%= h @nkf_member_trial.postnr %>
</p>

<p>
  <b>Sted:</b>
  <%= h @nkf_member_trial.sted %>
</p>

<p>
  <b>Adresse:</b>
  <%= h @nkf_member_trial.adresse %>
</p>

<p>
  <b>Epost:</b>
  <%= h @nkf_member_trial.epost %>
</p>

<p>
  <b>Mobil:</b>
  <%= h @nkf_member_trial.mobil %>
</p>

<p>
  <b>Res sms:</b>
  <%= h @nkf_member_trial.res_sms %>
</p>

<p>
  <b>Reg dato:</b>
  <%= h @nkf_member_trial.reg_dato %>
</p>


<%= link_to 'Edit', edit_nkf_member_trial_path(@nkf_member_trial) %> |
<%= link_to 'Back', nkf_member_trials_path %>