<h1>Søkeresultat</h1>

<% if @query %>
    <% if !@members.blank? || !@trials.blank? || @users || @pages.any? %>

        <% unless @members.blank? %>
            <h3>Medlemmer</h3>
            <ul>
              <% @members.each do |m| %>
                  <li><%= link_to m.name, m %></li>
              <% end %>
            </ul>
        <% end %>

        <% unless @trials.blank? %>
            <h3>Søkere i prøvetid</h3>
            <ul>
              <% @trials.each do |tr| %>
                  <li><%= link_to tr.name, tr %></li>
              <% end %>
            </ul>
        <% end %>

        <% unless @users.blank? %>
            <h3>Brukere</h3>
            <ul>
              <% @users.each do |u| %>
                  <li><%= link_to u.name, u %></li>
              <% end %>
            </ul>
        <% end %>

        <% if @pages.any? %>
            <h3>Informasjonssider</h3>
            <ul>
              <% @pages.each do |p| %>
                  <li><%= link_to p.title, p %></li>
              <% end %>
            </ul>
        <% end %>

        <h2>Savner du noe?</h2>
        <p>
          Hvis du vil ha flere søkeresultater, si ifra til
          <%= link_to 'nettansvarlig', 'mailto:web@jujutsu.no?subject=[RJJK] Bedre søk på web' %>.
        </p>

    <% else %>
        Fant ingenting om "<%= @query %>".
    <% end %>
<% else %>
    Fyll inn søkeboksen oppe til høyre for å søke.
<% end %>
