<%= form_for(@annual_meeting) do |f| %>
  <% if @annual_meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annual_meeting.errors.count, 'error') %> prohibited this annual_meeting from being saved:</h2>

      <ul>
      <% @annual_meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_at, 'Dato og tid' %>
    <%= f.datetime_picker :start_at, :dateFormat => 'yy-mm-dd', :firstDay => 1,
                          :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
