<h1>Listing annual_meetings</h1>

<table class="table">
  <tr>
    <th>Start at</th>
    <th>Invitation</th>
    <th>Public record</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @annual_meetings.each do |annual_meeting| %>
  <tr>
    <td><%= annual_meeting.start_at.strftime('%F %R') %></td>
    <td><%= annual_meeting.invitation_sent_at %></td>
    <td><%= annual_meeting.public_record_updated_at %></td>
    <td><%= link_to 'Show', annual_meeting %></td>
    <td><%= link_to 'Destroy', annual_meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Annual meeting', new_annual_meeting_path, :class => 'btn btn-primary' %>
