<% @content_width = 1024 %>

<style>
	a {text-decoration: none}
</style>

<div style="float: right">
  <%=link_to 'Hent nye oppdateringer fra NKF', :action => :import, :id => 0 %>
  <div id="notice"><%=flash[:notice]%></div>
</div>

<% if @orphan_nkf_members.empty? && @orphan_members.empty? && @members.empty?%>
Det er ingen innkommende endringer fra NKF medlemsregister.
<% end %>

<% if @orphan_nkf_members.size > 0 %>
<h1>Nye medlemmer fra NKF-registeret (<%=@orphan_nkf_members.size%>)</h1>
<br/>

<table>
  <tr>
<% unless @orphan_members.empty? %>
    <th>Ledige medlemmer</th>
<% end %>
    <th align="left">Navn</th>
  </tr>

<% for nkf_member in @orphan_nkf_members %>
  <tr>
<% unless @orphan_members.empty? %>
  	<td>
		<%=form_for nkf_member do |f| %>
			<%=f.select :member_id, [['', '']] + @orphan_members.map{|m| [m.name, m.id]} %>
			<%=f.submit t(:connect) %>
		<% end %>
  	</td>
<% end %>
    <td><%=link_to "#{nkf_member.fornavn} #{nkf_member.etternavn}", :action => :show, :id => nkf_member.id %></td>
    <td><%=button_to t(:create), :controller => :nkf_members, :action => :create_member, :id => nkf_member.id %></td>
  </tr>
<% end %>
</table>
<br/>
<br/>
<% end %>


<% if @members.size > 0 %>
<h1>Endringer NKF Medlemsregister => Vårt medlemsregister (<%=@members.size%>)</h1>

<table>
  <tr>
    <th align="left" colspan="4">Navn</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td colspan="2"><%=link_to "#{member.name}", :controller => :members, :action => :edit, :id => member.id %></td>
	<td></td>
    <td><%=link_to "#{member.nkf_member.fornavn} #{member.nkf_member.etternavn}", :controller => :nkf_members, :action => :show, :id => member.nkf_member.id %></td>
  </tr>
  <% member.changes.each do |k, v| %>
    <tr>
	  <td><%=k%>:</td>
	  <td align="right"><%=v[0]%></td>
	  <td> <%=link_to '=>', :action => :update_member, :id => member.id, :member => {k => v[1]} %> </td>
	  <td><%=v[1]%></td>
    </tr>
  <% end %>
  <% nkf_group_names = member.nkf_member.gren_stilart_avd_parti___gren_stilart_avd_parti.split(/ - /).map{|n| n.split('/')[3]} %>
  <% member_groups = member.groups.map{|g| g.name} %>
  <% (nkf_group_names - member_groups).each do |gn| %>
    <% if group = @groups.find{|g| g.name == gn} %>
    <tr>
	  <td>Group:</td>
	  <td/>
	  <td> <%=link_to '=>', {:controller => :members, :action => :add_group, :id => member.id, :group_id => group.id}, :method => :post %> </td>
	  <td><%=gn%></td>
    </tr>
	<% else %>
	<tr>
		<td>Unknown group: <%=gn.inspect%></td>
	</tr>
    <% end %>
  <% end %>
  
  <% (member_groups - nkf_group_names).each do |gn| %>
    <% if group = @groups.find{|g| g.name == gn} %>
    <tr>
	  <td>Group:</td>
	  <td><%=gn%>(<%=member.attendances.by_group_id(group.id).last_months(6).size%>)</td>
	  <td> <%=link_to '=>', {:controller => :members, :action => :remove_group, :id => member.id, :group_id => group.id}, :method => :post %> </td>
	  <td/>
    </tr>
	<% else %>
	<tr>
		<td>Unknown group: <%=gn.inspect%></td>
	</tr>
    <% end %>
  <% end %>
  
  <tr><td>&nbsp;</td></tr>
<% end %>
</table>
<br/>
<br/>
<% end %>


<% if @orphan_members.size > 0 %>
<h1>Medlemmer som ikke er i NKF-registeret (<%=@orphan_members.size%>)</h1>

<table>
  <tr>
    <th align="left" colspan="4">Navn</th>
  </tr>

<% for member in @orphan_members %>
  <tr>
    <td><%=link_to "#{member.name}", :controller => :members, :action => :edit, :id => member.id %></td>
  </tr>
<% end %>
</table>
<br/>
<br/>
<% end %>
