<h1>Editing nkf_member</h1>

<%=form_for(@nkf_member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :member_id %><br />
    <%= f.select :member_id, ([@nkf_member.member ? [@nkf_member.member.name, @nkf_member.member.id] : ['', '']] + NkfMember.find_free_members.map{|m| [m.name, m.id]}).sort %>
  </p>
  
<!--
  <p>
    <%= f.label :medlemsnummer %><br />
    <%= f.text_field :medlemsnummer %>
  </p>
  <p>
    <%= f.label :etternavn %><br />
    <%= f.text_field :etternavn %>
  </p>
  <p>
    <%= f.label :fornavn %><br />
    <%= f.text_field :fornavn %>
  </p>
  <p>
    <%= f.label :adresse_1 %><br />
    <%= f.text_field :adresse_1 %>
  </p>
  <p>
    <%= f.label :adresse_2 %><br />
    <%= f.text_field :adresse_2 %>
  </p>
  <p>
    <%= f.label :adresse_3 %><br />
    <%= f.text_field :adresse_3 %>
  </p>
  <p>
    <%= f.label :postnr %><br />
    <%= f.text_field :postnr %>
  </p>
  <p>
    <%= f.label :sted %><br />
    <%= f.text_field :sted %>
  </p>
  <p>
    <%= f.label :fødselsdato %><br />
    <%= f.text_field :fodselsdato %>
  </p>
  <p>
    <%= f.label :telefon %><br />
    <%= f.text_field :telefon %>
  </p>
  <p>
    <%= f.label :telefon_arbeid %><br />
    <%= f.text_field :telefon_arbeid %>
  </p>
  <p>
    <%= f.label :mobil %><br />
    <%= f.text_field :mobil %>
  </p>
  <p>
    <%= f.label :epost %><br />
    <%= f.text_field :epost %>
  </p>
  <p>
    <%= f.label :epost_faktura %><br />
    <%= f.text_field :epost_faktura %>
  </p>
  <p>
    <%= f.label :yrke %><br />
    <%= f.text_field :yrke %>
  </p>
  <p>
    <%= f.label :medlemsstatus %><br />
    <%= f.text_field :medlemsstatus %>
  </p>
  <p>
    <%= f.label :medlemskategori %><br />
    <%= f.text_field :medlemskategori %>
  </p>
  <p>
    <%= f.label :medlemskategori_navn %><br />
    <%= f.text_field :medlemskategori_navn %>
  </p>
  <p>
    <%= f.label :kont_sats %><br />
    <%= f.text_field :kont_sats %>
  </p>
  <p>
    <%= f.label :kont_beløp %><br />
    <%= f.text_field :kont_belop %>
  </p>
  <p>
    <%= f.label :kontraktstype %><br />
    <%= f.text_field :kontraktstype %>
  </p>
  <p>
    <%= f.label :kontraktsbeløp %><br />
    <%= f.text_field :kontraktsbelop %>
  </p>
  <p>
    <%= f.label :rabatt %><br />
    <%= f.text_field :rabatt %>
  </p>
  <p>
    <%= f.label :gren_stilart_avd_parti___gren_stilart_avd_parti %><br />
    <%= f.text_field :gren_stilart_avd_parti___gren_stilart_avd_parti %>
  </p>
  <p>
    <%= f.label :sist_betalt_dato %><br />
    <%= f.text_field :sist_betalt_dato %>
  </p>
  <p>
    <%= f.label :betalt_t_o_m__dato %><br />
    <%= f.text_field :betalt_t_o_m__dato %>
  </p>
  <p>
    <%= f.label :konkurranseområde_id %><br />
    <%= f.text_field :konkurranseomrade_id %>
  </p>
  <p>
    <%= f.label :konkurranseområde_navn %><br />
    <%= f.text_field :konkurranseomrade_navn %>
  </p>
  <p>
    <%= f.label :klubb_id %><br />
    <%= f.text_field :klubb_id %>
  </p>
  <p>
    <%= f.label :klubb %><br />
    <%= f.text_field :klubb %>
  </p>
  <p>
    <%= f.label :hovedmedlem_id %><br />
    <%= f.text_field :hovedmedlem_id %>
  </p>
  <p>
    <%= f.label :hovedmedlem_navn %><br />
    <%= f.text_field :hovedmedlem_navn %>
  </p>
  <p>
    <%= f.label :innmeldtdato %><br />
    <%= f.text_field :innmeldtdato %>
  </p>
  <p>
    <%= f.label :innmeldtårsak %><br />
    <%= f.text_field :innmeldtarsak %>
  </p>
  <p>
    <%= f.label :utmeldtdato %><br />
    <%= f.text_field :utmeldtdato %>
  </p>
  <p>
    <%= f.label :utmeldtårsak %><br />
    <%= f.text_field :utmeldtarsak %>
  </p>
  <p>
    <%= f.label :antall_etiketter_1 %><br />
    <%= f.text_field :antall_etiketter_1 %>
  </p>
-->

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nkf_member %> |
<%= link_to 'Back', nkf_members_path %>