<p>
  <b>Medlemsnummer:</b>
  <%=h @nkf_member.medlemsnummer %>
</p>

<p>
  <b>Etternavn:</b>
  <%=h @nkf_member.etternavn %>
</p>

<p>
  <b>Fornavn:</b>
  <%=h @nkf_member.fornavn %>
</p>

<p>
  <b>Adresse 1:</b>
  <%=h @nkf_member.adresse_1 %>
</p>

<p>
  <b>Adresse 2:</b>
  <%=h @nkf_member.adresse_2 %>
</p>

<p>
  <b>Adresse 3:</b>
  <%=h @nkf_member.adresse_3 %>
</p>

<p>
  <b>Postnr:</b>
  <%=h @nkf_member.postnr %>
</p>

<p>
  <b>Sted:</b>
  <%=h @nkf_member.sted %>
</p>

<p>
  <b>Fødselsdato:</b>
  <%=h @nkf_member.fodselsdato %>
</p>

<p>
  <b>Telefon:</b>
  <%=h @nkf_member.telefon %>
</p>

<p>
  <b>Telefon arbeid:</b>
  <%=h @nkf_member.telefon_arbeid %>
</p>

<p>
  <b>Mobil:</b>
  <%=h @nkf_member.mobil %>
</p>

<p>
  <b>Epost:</b>
  <%=h @nkf_member.epost %>
</p>

<p>
  <b>Epost faktura:</b>
  <%=h @nkf_member.epost_faktura %>
</p>

<p>
  <b>Yrke:</b>
  <%=h @nkf_member.yrke %>
</p>

<p>
  <b>Medlemsstatus:</b>
  <%=h @nkf_member.medlemsstatus %>
</p>

<p>
  <b>Medlemskategori:</b>
  <%=h @nkf_member.medlemskategori %>
</p>

<p>
  <b>Medlemskategori navn:</b>
  <%=h @nkf_member.medlemskategori_navn %>
</p>

<p>
  <b>Kont sats:</b>
  <%=h @nkf_member.kont_sats %>
</p>

<p>
  <b>Kont beløp:</b>
  <%=h @nkf_member.kont_belop %>
</p>

<p>
  <b>Kontraktstype:</b>
  <%=h @nkf_member.kontraktstype %>
</p>

<p>
  <b>Kontraktsbeløp:</b>
  <%=h @nkf_member.kontraktsbelop %>
</p>

<p>
  <b>Rabatt:</b>
  <%=h @nkf_member.rabatt %>
</p>

<p>
  <b>Gren stilart avd parti   gren stilart avd parti:</b>
  <%=h @nkf_member.gren_stilart_avd_parti___gren_stilart_avd_parti %>
</p>

<p>
  <b>Sist betalt dato:</b>
  <%=h @nkf_member.sist_betalt_dato %>
</p>

<p>
  <b>Betalt t o m  dato:</b>
  <%=h @nkf_member.betalt_t_o_m__dato %>
</p>

<p>
  <b>Konkurranseområde:</b>
  <%=h @nkf_member.konkurranseomrade_id %>
</p>

<p>
  <b>Konkurranseområde navn:</b>
  <%=h @nkf_member.konkurranseomrade_navn %>
</p>

<p>
  <b>Klubb:</b>
  <%=h @nkf_member.klubb_id %>
</p>

<p>
  <b>Klubb:</b>
  <%=h @nkf_member.klubb %>
</p>

<p>
  <b>Hovedmedlem:</b>
  <%=h @nkf_member.hovedmedlem_id %>
</p>

<p>
  <b>Hovedmedlem navn:</b>
  <%=h @nkf_member.hovedmedlem_navn %>
</p>

<p>
  <b>Innmeldtdato:</b>
  <%=h @nkf_member.innmeldtdato %>
</p>

<p>
  <b>Innmeldtårsak:</b>
  <%=h @nkf_member.innmeldtarsak %>
</p>

<p>
  <b>Utmeldtdato:</b>
  <%=h @nkf_member.utmeldtdato %>
</p>

<p>
  <b>Utmeldtårsak:</b>
  <%=h @nkf_member.utmeldtarsak %>
</p>

<p>
  <b>Antall etiketter 1:</b>
  <%=h @nkf_member.antall_etiketter_1 %>
</p>


<%= link_to 'Edit', edit_nkf_member_path(@nkf_member) %> |
<%= link_to 'Back', nkf_members_path %>