<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @instruction.group_id %>
</p>

<p>
  <b>Member:</b>
  <%= @instruction.member_id %>
</p>

<p>
  <b>From:</b>
  <%= @instruction.from %>
</p>


<%= link_to 'Edit', edit_instruction_path(@instruction) %> |
<%= link_to 'Back', instructions_path %>
