<%= form_for(@group_instructor) do |f| %>
    <%= f.error_messages %>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :group_schedule_id, 'Gruppe' %>
        <%= f.select :group_schedule_id,
                @group_schedules.sort_by { |gs| [gs.group.from_age, gs.weekday] }.
                        map { |gs| ["#{gs.group.name} #{gs.weekday_name}", gs.id] },
                {prompt: 'Velg gruppe og dag'}, class: 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :member_id, 'Instruktør' %>
        <%= f.select :member_id, @group_instructors.map { |g| [g.name, g.id] },
                {prompt: 'Velg instruktør'}, class: 'form-control' %>
      </div>


      <div class="form-group col-md-6">
        <%= f.label :semester_id, 'Semester' %>
        <%= f.select :semester_id, @semesters.map { |s| [s.name, s.id] },
                {prompt: 'Velg semester', selected: @group_instructor.group_semester.try(:semester).try(:id)}, class: 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :assistant, 'Hjelpeinstruktør' %><br/>
        <%= f.check_box :assistant, {}, class: 'form-control' %>
      </div>
    </div>
    <div class="clearer">
      <%= f.submit 'Lagre', class: 'btn btn-default' %>
      <%= back_or_link_to 'Tilbake', group_instructors_path %>
    </div>

<% end %>
