<%= form_for(@group_instructor) do |f| %>
    <%=f.error_messages%>

    <div class="field" style="float: left; margin-right: 1em">
      <%= f.label :group_schedule_id, 'Gruppe' %>
      <%= f.select :group_schedule_id, [[]] + @group_schedules.map { |gs| ["#{gs.group.name} #{gs.weekday_name}", gs.id] } %>
    </div>
    <div class="field">
      <%= f.label :member_id, 'Instruktør' %>
      <%= f.select :member_id, [[]] + @group_instructors.map { |g| [g.name, g.id] } %>
    </div>
    <div class="field" style="float: left; margin-right: 1em">
      <%= f.label :semester_id %>
      <%= f.select :semester_id, [[]] + @semesters.map { |g| [g.name, g.id] } %>
    </div>
    <div class="field">
      <%= f.label :role, 'Rolle' %>
      <%= f.select :role, GroupInstructor::Role.constants.map{|r| GroupInstructor::Role.const_get(r)} %>
    </div>
    <div class="actions">
      <%= f.submit 'Lagre', :class => 'btn btn-default' %>
      <%= back_or_link_to 'Tilbake', group_instructors_path %>
    </div>
<% end %>
