<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group_instructor.group_id %>
</p>

<p>
  <b>Member:</b>
  <%= @group_instructor.member_id %>
</p>

<p>
  <b>From:</b>
  <%= @group_instructor.from %>
</p>


<%= link_to 'Edit', edit_group_instructor_path(@group_instructor) %> |
<%= link_to 'Back', group_instructors_path %>
