<%= form_for @censor do |f| %>
    <%= f.error_messages %>

    <%= f.hidden_field :graduation_id %>

    <div class="form-group">
      <%= f.label :approved_grades_at %>
      <%= f.text_field :approved_grades_at, class: 'form-control datetime' %>
    </div>

    <%= submit_tag 'Lagre', :class => 'btn btn-primary' %>
    <%= link_to('Vis', @censor, :class => 'btn btn-default') unless @censor.new_record? %>
    <%= back_or_link_to 'Tilbake', {:action => :index}, :class => 'btn btn-default' %>
<% end %>
