<h1>Listing censors</h1>

<table>
  <tr>
  <% for column in Censor.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for censor in @censors %>
  <tr>
  <% for column in Censor.content_columns %>
    <td><%=h censor.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => censor %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => censor %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => censor }, :data => {:confirm => 'Are you sure?'}, :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @censors %> 

<br />

<%= link_to 'New censor', :action => 'new' %>
