<%= form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div style="float: right ; width: 50%">
      <%= f.label :summary, :Sammendrag %>
      <%= f.text_area :summary, :style => 'width: 100%', :rows => 5 %>

      <%= f.label :description, :Beskrivelse %>
      <%= f.text_area :description, :style => 'width: 100%', :rows => 5 %>
    </div>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <% if @group.martial_art && @group.martial_art.name != 'Kei Wa Ryu' %>
          <%= f.label :martial_art_id, 'Gren' %>
          <%= f.select :martial_art_id, @martial_arts.map { |ma| [ma.name, ma.id] } %>
      <% end %>

      <%= f.label :from_age, 'Fra alder' %>
      <%= f.text_field :from_age %>

      <%= f.label :to_age, 'Til alder' %>
      <%= f.text_field :to_age %>

      <%= f.label :closed_on, 'Avsluttet' %>
      <%= f.datepicker :closed_on, :dateFormat => 'yy-mm-dd', :firstDay => 1 %>
    </p>

    <p>
      <%= f.submit "Lagre" %>
      <%= link_to 'Tilbake', groups_path %>
    </p>
<% end %>
