<h3><%= @group.name %></h3>

<div style="float:left; width: 50%">
  <h4>Alder</h4>

  <p>
    <strong>Fra <%= @group.from_age %> til <%= @group.to_age %> år</strong>.
  </p>
</div>

<div style="float:left; width: 50%">
  <% unless @group.monthly_price.blank? %>
      <h4>Pris</h4>

      <p style="line-height: 1.5">
        <% unless @group.yearly_price.blank? %>
            Årskontingent <strong>kr <%= @group.yearly_price %>,-</strong><br/>
        <% end %>

        Treningsavgift <strong>kr <%= @group.monthly_price %>,-</strong> (månedlig)
        Treningsavgiften inkluderer gradering og belte og betales hele året.
      </p>
  <% end %>
</div>


<div style="float:left; width: 50%">
  <h4>Treningstider</h4>

  <p><strong>
    <% @group.group_schedules.each do |gs| %>
        <%= gs.weekday_name %> <%= gs.start_at.strftime '%H:%M' %>
        - <%= gs.end_at.strftime '%H:%M' %><br/>
    <% end %>
  </strong></p>
</div>

<% if @instructors.any? %>
    <div style="float:left; width: 50%">
      <h4>Instruktører</h4>
      <% @instructors.each do |m| %>
          <%= m.name %><br/>
      <% end %>
      <br/>
    </div>
<% end %>

<br clear="all"/>

<div>
  <p>
    <% if @group.school_breaks? %>
        Gruppen følger skoleåret og har ikke trening i skoleferiene.
        <br/>
        <% if @group.current_semester %>
            <% if @group.current_semester.try(:first_session).try(:>, Date.today) %>
                Første trening etter <%=@group.current_semester.first_session.month > 6 ? 'sommer' : 'jule'%>ferien er
                <strong><%=t(:date)[:day_names][@group.current_semester.first_session.cwday].downcase %>
                  <%= @group.current_semester.first_session.day %>.
                  <%= t(:date)[:month_names][@group.current_semester.first_session.month].downcase %></strong>.
                <br/>
            <% end %>
            <% if @group.current_semester.last_session %>
                Siste trening før <%=@group.current_semester.last_session.month < 8 ? 'sommer' : 'jule'%>ferien er
                <strong><%=t(:date)[:day_names][@group.current_semester.last_session.cwday].downcase %>
                  <%= @group.current_semester.last_session.day %>.
                  <%= t(:date)[:month_names][@group.current_semester.last_session.month].downcase %></strong>.
                <br/>
            <% end %>
            <% if @group.next_semester.try(:first_session) %>
                Første trening etter <%=@group.next_semester.first_session.month > 6 ? 'sommer' : 'jule'%>ferien er
                <strong><%=t(:date)[:day_names][@group.next_semester.first_session.cwday].downcase %>
                  <%= @group.next_semester.first_session.day %>.
                  <%= t(:date)[:month_names][@group.next_semester.first_session.month].downcase %></strong>.
                <br/>
            <% end %>
        <% end %>
    <% else %>
        Gruppen har trening hele året dersom annet ikke er annonsert.
    <% end %>
  </p>
</div>

<% unless @group.summary.blank? && @group.description.blank? %>
    <h4>Innhold</h4>

    <% unless @group.summary.blank? %>
        <%= textalize @group.summary.strip %>
    <% end %>

    <% unless @group.description.blank? %>
        <%= textalize @group.description %>
    <% end %>
<% end %>

<% if admin? %>
    <ul class="controls">
      <li><%= detour_to 'Rediger', edit_group_path(@group), :class => :edit %></li>
      <li><%= back_or_link_to 'Tilbake', groups_path, :class => :back %></li>
    </ul>
<% end %>
