<h3><%= @group.name %></h3>

<h4>Alder</h4>

<p>
  Fra <%= @group.from_age %> til <%= @group.to_age %> år.
</p>

<% unless @group.monthly_price.blank? %>
    <h4>Pris</h4>

    <p style="line-height: 1.5">
      <% unless @group.yearly_price.blank? %>
          Årskontingent kr <%= @group.yearly_price %>,-<br/>
      <% end %>

      Treningsavgift kr <%= @group.monthly_price %>,- (månedlig)
    </p>
<% end %>

<h4>Treningstider</h4>

<p>
  <% @group.group_schedules.each do |gs| %>
      <%= gs.weekday_name %> <%= gs.start_at.strftime '%H:%M' %>
      - <%= gs.end_at.strftime '%H:%M' %><br/>
  <% end %>
  </p>

  <div>
    <% if @group.school_breaks? %>
        <p>
          Gruppen følger skoleåret og har ikke trening i skoleferiene.
        </p>
        <% if @group.current_semester %>
            <% if @group.current_semester.last_session %>
                <p>
                  Siste trening dette
                  semesteret : <%= @group.current_semester.last_session %>
                </p>
            <% end %>
            <% if @group.next_semester.try(:first_session) %>
                <p>
                  Første trening neste
                  semester : <%= @group.next_semester.first_session %>
                </p>
            <% end %>
        <% end %>
    <% else %>
        Gruppen har trening hele året dersom annet ikke er annonsert.
    <% end %>
  </div>

  <% unless @group.summary.blank? && @group.description.blank? %>
      <h4>Innhold</h4>

      <% unless @group.summary.blank? %>
          <%= textalize @group.summary.strip %>
      <% end %>

      <% unless @group.description.blank? %>
          <%= textalize @group.description %>
      <% end %>
  <% end %>

  <% if admin? %>
      <ul class="controls">
        <li><%= link_to 'Rediger', edit_group_path(@group), :class => :edit %></li>
        <li><%= back_or_link_to 'Tilbake', groups_path, :class => :back %></li>
      </ul>
  <% end %>
