<% @content_width = 1024 %>
<p>
<table class="table">
<tr>
  <th><%=l :user_last_name_form%></th>
  <th><%=l :user_first_name_form%></th>
  <th align="center">Admin</th>
  <th align="center">Bekreftet</th>
</tr>
<% for @user in @users %>
<tr>
  <td><%=h @user.last_name%></td>
  <td><%=h @user.first_name%></td>
  <td align="center"><%='*' if @user.admin?%></td>
  <td align="center"><%='*' if @user.verified?%></td>
  <td><%=link_to l(:user_edit_head), :action => :edit, :id => @user%></td>
</tr>
<% end %>
</table>
</p>

<br/>

<p>
<%=link_to 'Legg til ny bruker', login_signup_path %>
</p>
