<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <title>Trening - Teknikk - Trygghet | Romerike Jujutsu Klubb</title>
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!-- This site is optimized with the Yoast SEO plugin v7.3 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Professional services company that helps to obtain sustainable competitive advantage through adoption of innovative technologies. We offer methodology, training, technology building blocks, and deep industry knowledge for cloud automation, microservices, blockchain, and AI."/>
  <link rel="canonical" href="https://www.jujutsu.no/"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Trening - Teknikk - Trygghet | Romerike Jujutsu Klubb"/>
  <meta property="og:description" content="Professional services company that helps to obtain sustainable competitive advantage through adoption of innovative technologies. We offer methodology, training, technology building blocks, and deep industry knowledge for cloud automation, microservices, blockchain, and AI."/>
  <meta property="og:url" content="https://www.jujutsu.no/"/>
  <meta property="og:site_name" content="Romerike Jujutsu Klubb"/>
  <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.altoros.com\/","name":"Altoros","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.altoros.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
  <!-- / Yoast SEO plugin. -->

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'font-awesome', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel='dns-prefetch' href='//maps.google.com'/>
  <link rel='dns-prefetch' href='//cdnjs.cloudflare.com'/>
  <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
  <link rel='dns-prefetch' href='//s.w.org'/>
  <link rel="alternate" type="application/rss+xml" title="Altoros &raquo; Home Comments Feed" href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/home-2.html/feed"/>
  <!-- managing ads with Advanced Ads -->
  <script>
      advanced_ads_ready = function () {
          var fns = [], listener, doc = typeof document === "object" && document,
              hack = doc && doc.documentElement.doScroll, domContentLoaded = "DOMContentLoaded",
              loaded = doc && (hack ? /^loaded|^c/ : /^loaded|^i|^c/).test(doc.readyState);
          if (!loaded && doc) {
              listener = function () {
                  doc.removeEventListener(domContentLoaded, listener);
                  window.removeEventListener("load", listener);
                  loaded = 1;
                  while (listener = fns.shift()) listener()
              };
              doc.addEventListener(domContentLoaded, listener);
              window.addEventListener("load", listener)
          }
          return function (fn) {
              loaded ? setTimeout(fn, 0) : fns.push(fn)
          }
      }();
  </script>
  <link rel='stylesheet' id='validate-engine-css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/wysija-newsletters/css/validationEngine.jquery.css?ver=2.8.2' type='text/css' media='all'/>
  <link rel='stylesheet' id='fbuilder_fornt_css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/frontend_builder/css/front.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='wp-block-library-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/css/dist/block-library/style.min.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='contact-form-7-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.5.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='showbiz-settings-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/showbiz/showbiz-plugin/css/settings.css?rev=1.6.3&#038;ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='fancybox-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/showbiz/showbiz-plugin/fancybox/jquery.fancybox.css?rev=1.6.3&#038;ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='simple-skype-add-widget-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/simple-skype-add-widget/skype_style.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_googlefont_style-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C800%2C700&#038;ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_bootstrap_css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/css/bootstrap.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_theme_css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/style.css?ver=4.6.2' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_skin_css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/css/style-light.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_punchbox_css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/punchbox/css/settings.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='goodweb_fontello_css-css' href='<%=asset_path 'new_front_page/fontello.scss?ver=5.0.1' %>' type='text/css' media='all'/>
  <link rel='stylesheet' id='magnific-popup-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/libs/popup/magnific-popup.css?ver=5.0.1' type='text/css' media='all'/>
  <!--[if IE 8]>
  <link rel='stylesheet' id='ie8-style-css'
        href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/css/style_ie8.css?ver=5.0.1'
        type='text/css' media='all'/>
  <![endif]-->
  <!--[if IE 9]>
  <link rel='stylesheet' id='ie9-style-css'
        href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/css/style_ie9.css?ver=5.0.1'
        type='text/css' media='all'/>
  <![endif]-->
  <link rel='stylesheet' id='mc4wp-form-themes-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/mailchimp-for-wp/assets/css/form-themes.min.css?ver=4.2.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='cf-select2-lib-css-css' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css?ver=5.0.1' type='text/css' media='all'/>
  <link rel='stylesheet' id='cf-select2-custom-css-css' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/css/select2-custom-styles.css?ver=5.0.1' type='text/css' media='all'/>
  <script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
  <script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
  <script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/showbiz/showbiz-plugin/fancybox/jquery.fancybox.pack.js?rev=1.6.3&#038;ver=5.0.1'></script>
  <script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/showbiz/showbiz-plugin/js/jquery.themepunch.showbizpro.min.js?rev=1.6.3&#038;ver=5.0.1'></script>
  <link rel='https://api.w.org/' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-json/'/>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/xmlrpc.php?rsd"/>
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/wlwmanifest.xml"/>
  <link rel='shortlink' href='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/'/>
  <link rel="alternate" type="application/json+oembed" href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.altoros.com%2F"/>
  <link rel="alternate" type="text/xml+oembed" href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.altoros.com%2F&#038;format=xml"/>

  <style>
    .fbuilder_column.fbuilder_column-1-2 {
      width: 48%;
      margin-left: 4%;
    }

    .fbuilder_column.fbuilder_column-1-3 {
      width: 30.666666666667%;
      margin-left: 4%;
    }

    .fbuilder_column.fbuilder_column-2-3 {
      width: 65.333333333333%;
      margin-left: 4%;
    }

    .fbuilder_column.fbuilder_column-1-4 {
      width: 22%;
      margin-left: 4%;
    }

    .fbuilder_column.fbuilder_column-3-4 {
      width: 74%;
      margin-left: 4%;
    }

    .fbuilder_column.fbuilder_column-1-5 {
      width: 16.8%;
      margin-left: 4%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar {
      width: 65.333333333333%;
    }

    .fbuilder_sidebar.fbuilder_one-third-left-sidebar {
      width: 30.666666666667%;
      margin-right: 4%;
    }

    .fbuilder_sidebar.fbuilder_one-third-right-sidebar {
      width: 30.666666666667%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-1-2,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-1-2 {
      width: 46.938775510204%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-1-3,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-1-3 {
      width: 29.251700680272%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-2-3,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-2-3 {
      width: 64.625850340136%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-1-4,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-1-4 {
      width: 20.408163265306%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-3-4,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-3-4 {
      width: 73.469387755102%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-third-left-sidebar .fbuilder_column.fbuilder_column-1-5,
    #fbuilder_content_wrapper.fbuilder_content_one-third-right-sidebar .fbuilder_column.fbuilder_column-1-5 {
      width: 15.102040816327%;
      margin-left: 6.1224489795918%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar {
      width: 74%;
      float: left;
    }

    .fbuilder_sidebar.fbuilder_one-fourth-left-sidebar {
      width: 22%;
      margin-right: 4%;
    }

    .fbuilder_sidebar.fbuilder_one-fourth-right-sidebar {
      width: 22%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-1-2,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-1-2 {
      width: 47.297297297297%;
      margin-left: 5.4054054054054%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-1-3,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-1-3 {
      width: 29.72972972973%;
      margin-left: 5.4054054054054%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-2-3,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-2-3 {
      width: 64.864864864865%;
      margin-left: 5.4054054054054%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-1-4,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-1-4 {
      width: 20.945945945946%;
      margin-left: 5.4054054054054%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-3-4,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-3-4 {
      width: 73.648648648649%;
      margin-left: 5.4054054054054%;
    }

    #fbuilder_content_wrapper.fbuilder_content_one-fourth-left-sidebar .fbuilder_column.fbuilder_column-1-5,
    #fbuilder_content_wrapper.fbuilder_content_one-fourth-right-sidebar .fbuilder_column.fbuilder_column-1-5 {
      width: 15.675675675676%;
      margin-left: 5.4054054054054%;
    }

    @media screen and (max-width: 1200px) {
      .fbuilder_column.fbuilder_column-1-2 {
        width: 48.125%;
        margin-left: 3.75%;
      }

      .fbuilder_column.fbuilder_column-1-3 {
        width: 30.833333333333%;
        margin-left: 3.75%;
      }

      .fbuilder_column.fbuilder_column-2-3 {
        width: 65.416666666667%;
        margin-left: 3.75%;
      }

      .fbuilder_column.fbuilder_column-1-4 {
        width: 22.1875%;
        margin-left: 3.75%;
      }

      .fbuilder_column.fbuilder_column-3-4 {
        width: 74.0625%;
        margin-left: 3.75%;
      }

      .fbuilder_column.fbuilder_column-1-5 {
        width: 16.8%;
        margin-left: 3.75%;
      }

    }

    @media screen and (max-width: 960px) {
      .fbuilder_column.fbuilder_column-1-2 {
        width: 48.4375%;
        margin-left: 3.125%;
      }

      .fbuilder_column.fbuilder_column-1-3 {
        width: 31.25%;
        margin-left: 3.125%;
      }

      .fbuilder_column.fbuilder_column-2-3 {
        width: 65.625%;
        margin-left: 3.125%;
      }

      .fbuilder_column.fbuilder_column-1-4 {
        width: 22.65625%;
        margin-left: 3.125%;
      }

      .fbuilder_column.fbuilder_column-3-4 {
        width: 74.21875%;
        margin-left: 3.125%;
      }

      .fbuilder_column.fbuilder_column-1-5 {
        width: 16.8%;
        margin-left: 3.125%;
      }
    }

    @media screen and (max-width: 768px) {
      .fbuilder_column.fbuilder_column-1-2 {
        width: 100%;
        margin-left: 0%;
      }

      .fbuilder_column.fbuilder_column-1-3 {
        width: 100%;
        margin-left: 0%;
      }

      .fbuilder_column.fbuilder_column-2-3 {
        width: 100%;
        margin-left: 0%;
      }

      .fbuilder_column.fbuilder_column-1-4 {
        width: 100%;
        margin-left: 0%;
      }

      .fbuilder_column.fbuilder_column-3-4 {
        width: 100%;
        margin-left: 0%;
      }

      .fbuilder_column.fbuilder_column-1-5 {
        width: 100%;
        margin-left: 0%;
      }
    }
  </style>

  <!-- Markup (JSON-LD) structured in schema.org ver.4.2.1 START -->
  <!-- Markup (JSON-LD) structured in schema.org END -->
  <style type="text/css">
    .recentcomments a {
      display: inline !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  </style>

  <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>

  <!--[if lte IE 9]>
  <link rel="stylesheet" type="text/css"
        href="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css"
        media="screen">
  <![endif]-->

  <noscript>
    <style type="text/css"> .wpb_animate_when_almost_visible {
      opacity: 1;
    }</style>
  </noscript>

  <!-- THE FF HACK FOR MASKING HEADER -->
  <style>
    .cinematic.overheader {
      mask: url('#m1');
    }
  </style>
  <!-- ClickTale end of Top part -->

  <style>
    /* Highlight Color */
    .sticky a h3.bo-title, .sticky a:visited h3.bo-title {
      color: #8e3233
    }

    a {
      color: #8e3233 !important
    }

    a:hover icon {
      color: #8e3233 !important
    }

    #subfooter a:hover {
      color: #8e3233
    }

    .subfooter-socials:hover {
      color: #8e3233 !important
    }

    .widget_pages ul li a:hover {
      color: #8e3233 !important
    }

    .widget_pages ul li.current_page_item a {
      color: #8e3233 !important
    }

    .widget_nav_menu ul li a:hover {
      color: #8e3233 !important
    }

    .widget_nav_menu ul li.current_page_item a {
      color: #8e3233 !important
    }

    .widget_archive ul li a:hover, .widget_categories ul li a:hover, .widget_meta ul li a:hover, .widget_recent_entries ul li a:hover {
      color: #8e3233 !important
    }

    .tagcloud a:hover {
      color: #8e3233;
      border: 1px solid #8e3233
    }

    menu #navigation ul li:hover > a .menubutton,
    menu #navigation ul li.active > a .menubutton {
      color: #8e3233
    }

    menu #navigation ul li.hassubmenu:hover > a:after {
      color: #8e3233
    }

    .single_bluroverlay {
      background-color: #8e3233
    }

    .minibtn, .logged-in-as a, #cancel-comment-reply-link {
      color: #8e3233 !important;
      border: 1px solid #8e3233 !important
    }

    .glassbtn input[type="submit"] {
      color: #8e3233 !important;
      border: 1px solid #8e3233 !important
    }

    .mediawall-filter:hover,
    .mediawall-filter.selected {
      color: #8e3233 !important
    }

    .teamgroup .centeredlist li a:hover {
      color: #8e3233 !important
    }

    #bo-loadmorebutton:hover {
      background: #8e3233
    }

    .blog-author a:hover,
    .blog-category a:hover,
    .blog-comments:hover,
    .bo-comments:hover,
    .bo-category a:hover,
    .blog-tag a:hover,
    .tagcloud a:hover {
      color: #8e3233 !important
    }

    .sb-nav-goodweb .sb-navigation-left:hover i,
    .sb-nav-goodweb .sb-navigation-right:hover i {
      color: #8e3233
    }

    .accordion-colored .accordion-heading .accordion-toggle,
    .accordion-colored .accordion-heading .accordion-toggle:hover {
      color: #8e3233 !important
    }

    .accordion-glas .accordion-heading .accordion-toggle,
    .accordion-glas .accordion-heading .accordion-toggle:hover {
      color: #8e3233 !important
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:visited,
    .nav-tabs > li > a:hover {
      color: #8e3233 !important
    }

    .skill-overlay {
      background: #8e3233
    }

    .ptglas.highlight .decoredbutton {
      background-color: #8e3233 !important
    }

    .thecomments .comment-details a:hover {
      color: #8e3233 !important
    }

    .thecomments .comment-details .comment-reply-link span {
      color: #8e3233 !important
    }

    .comment-reply-link:hover .icon-forward {
      color: #8e3233 !important
    }

    #code {
      background-color: #8e3233
    }

    #bo-loadmorebutton:hover {
      background: #8e3233
    }

    .page-navi ul li a:hover {
      color: #8e3233 !important;
      border: 1px solid #8e3233 !important;
    }

    .page-navi ul li a.current {
      color: #8e3233 !important;
      border: 1px solid #8e3233 !important;
    }

    .page-navi ul li a.current span {
      color: #8e3233 !important;
    }

    .postlist-title a:hover {
      color: #8e3233 !important;
      font-weight: 300 !important
    }

    ul#recentcomments li a:hover {
      color: #8e3233 !important;
      font-weight: 300 !important
    }

    ul#recentcomments li a.url:hover {
      color: #8e3233 !important;
      font-weight: 400 !important
    }

    .sb-goodweb-skin .showbiz-title a:hover {
      color: #8e3233 !important;
    }

    .mediawall-lightbox a:hover,
    .mediawall-link a:hover {
      color: #8e3233 !important;
    }

    .mediawall-categories a:hover {
      color: #8e3233 !important;
    }

    .search-results h2.section-title a:hover {
      color: #8e3233 !important;
    }

    .skill-overlay {
      background: #8e3233
    }

    .menuontop menu #navigation > ul > li > a:hover > .menubutton, .menuontop menu #navigation > ul > li.active > a > .menubutton {
      color: #8e3233 !important;
    }

    menu .had-logo {
      display: none;
    }

    .glassbtn input[type="submit"] {
      color: #fff !important
    }
  </style>

  <% if Rails.env.test? %>
    <script>
        $.fx.off = true;
    </script>
  <% end %>

  <script>
      jQuery("document").ready(function () {
          jQuery(".form-submit input[type=submit]").each(function () {
              jQuery(this).wrap("<div class=\"glassbtn\">");
          });
          jQuery(".wpcf7 input[type=submit]").each(function () {
              jQuery(this).wrap("<div class=\"glassbtn\">");
          });
      });
  </script>

  <style id="customizercss"></style>
</head>

<body class="home page-template page-template-one_page page-template-one_page-php page page-id-240  withoutmoduleanimations menuontop gw_light wpb-js-composer js-comp-ver-5.4.7 vc_responsive" data-menutitle="Home" data-autoslider="7">

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("form p span input").each(function () {
            this.value = this.defaultValue;
            jQuery(this).attr("placeholder", jQuery(this).attr("title"));
        });

        jQuery("form p span textarea").each(function () {
            this.value = this.defaultValue;
        });
    });
</script>

<!-- THE FIREFOX FALL BACK GRADIENT HEADER -->
<svg height="0">
  <mask id="m1" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
    <linearGradient id="g" gradientUnits="objectBoundingBox" x2="0" y2="1">
      <stop stop-color="white" stop-opacity="1" offset="0"/>
      <stop stop-color="white" stop-opacity="1" offset="0.80"/>
      <stop stop-color="white" stop-opacity="0" offset="1"/>
    </linearGradient>
    <rect x="0" y="0" width="1" height="1" fill="url(#g)"/>
  </mask>
</svg>
<!-- END OF GRADIENT HEAdER FALL BACK -->

<!-- THE MENU -->
<menu id="mainmenuholder">
  <!-- THE NAVIGATION HOLDER -->
  <a>
    <div class="header-menu-closer hidden-phone hidden-tablet menucloser nobg">
      <div class="single_blurredbg_holder noborder">
        <div class="single_blurredbg"></div>
        <div class="single_bluroverlay"></div>
      </div>
      <i class="icon-cancel"></i></div>
  </a>
  <div id="navigation" class="menu-main-menu-container">
    <ul id="menu-main-menu" class="">
      <li class="header-menu-closer visible-phone visible-tablet"><a>
        <div class="menubutton txt-center"><i class="icon-cancel"></i></div>
      </a></li>
      <li id="menu-item-15458" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item">
        <a href="/"><img src="<%= asset_path('rjjk_logo_plus_txt_320.png') %>" style="height:2rem"/></a>
        <div class="clear"></div>
      </li>
      <% @information_pages.select(&:public).reject(&:hidden).each do |ip| %>
        <li id="menu-item-<%= ip.id %> %>" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
          <a href="<%= url_for ip %>"><%= ip.title %></a>
          <div class="clear"></div>
        </li>
      <% end %>
      <li id="menu-item-1723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="<%= current_user ? root_path : login_path %>">Medlemssider<%= " (#{current_user&.name})" if current_user %></a>
        <div class="clear"></div>
      </li>
    </ul>
  </div>

  <div class="mainmenuholder-wihite">
    <div></div>
  </div>

</menu>
<!-- END OF MENU -->

<!-- TO BE ABLE TO SCROLL ALL THE CONTENT IN CASE MENU HAS BEEN PRESSED -->
<section id="allcontent">

  <!-- HEADER -->
  <header id="headerwrapper">
    <div class="header_innerwrapper container">

      <div class="header-menu-wrapper txtshadow pull-left bgholderparent" id="headermenuholder" style="width: 113px;">
        <div class="single_blurredbg_holder">
          <div class="single_blurredbg" style="opacity: 1; transform-origin: center center 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00333, 0, 0, 0, 1); width: 680px; height: 379.5px; background-image: url(&quot;https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/uploads/2014/05/bg_1200px_4_blur.jpg&quot;); background-position: 0px -1.75px;"></div>
          <div class="single_bluroverlay"></div>
        </div>

        <i class="icon-menu menu-toggler"></i>

        <div id="current-menu-txt" style="">Home</div>
        <div class="clear"></div>

      </div>

      <!-- !LOGO -->
      <a href="https://www.altoros.com">
        <div id="logo-wrapper">
          <img id="logo" src="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/uploads/2014/06/AltorosLogo_v6_2702.png" alt="">
        </div>
      </a><!-- END OF LOGO -->


      <div class="clear"></div>
    </div>
  </header>
  <!-- END OF HEADER -->

  <section id="background-wrapper">
    <!-- THE BACKGROUND SLIDER -->
    <article class="cinematic" data-contentholder="#slidercontent-wrapper">
      <!-- SLIDER LIST -->
      <ul>

        <% @front_page_sections.each do |fps| %>
          <!-- A SLIDE ITEM -->
          <li>
            <!-- USE  data-repeatbg="true" for Tiled BG 's -->
            <div class="slide-background-image" data-repeatbg="false" data-repeatbg2="false" data-src="<%= image_path fps.image_id %>"
                 data-srcblur="<%= blurred_image_path fps.image_id %>"
                 data-width="<%=fps.image.width || 1920 %>"
                 data-height="<%=fps.image.height || 1080 %>"></div>
            <section class="slidercontent">
              <h2>
                <a href="<%= information_page_path fps.information_page_id %>" title="<%= fps.title %>"><%= fps.title %></a>
              </h2>
              <div class='hidden-phone'>
                <p class="mainTitleSlider"><%= fps.subtitle %></p>
                <div class="fbuilder_module sliderBtn" style="width:auto" data-shortcode="tp_button" data-modid="0">
                  <a href="<%= information_page_path fps.information_page_id %>" class="smoothscroll" target="_self">
                    <button style="color:#ffffff;background-color:#4e89b7;white-space:nowrap!important" class="btn txtshadow fullwidth">
                      <%= fps.button_text %>
                      <i style="float:right;margin-top:1rem;margin-left:1rem" class="fa fa-chevron-right"></i>
                    </button>
                  </a>
                </div>
              </div>
            </section>
          </li>
          <!-- END OF A SLIDE ITEM -->
        <% end %>

      </ul>
      <!-- END OF SLIDER LIST -->
    </article>
  </section>
  <!-- END OF THE BACKGROUND WRAPPER -->

  <section id="cinematic-title-wrapper" class="txtshadow empty">
    <!--<div class="single_blurredbg_holder noborder">
            <div class="single_blurredbg"></div>
            <div class="single_bluroverlay"></div>
        </div>-->
    <div class="container">
      <section id="slidercontent-wrapper">

      </section>

      <section id="cinematic-navigation" class="txtshadow">
        <div class="cinematic-left cinematic-navbutton"><i class="fa fa-chevron-left fa-3x"></i></div>
        <div class="cinematic-right cinematic-navbutton"><i class="fa fa-chevron-right fa-3x"></i></div>
        <div class="cinematic-down cinematic-navbutton"><i class="fa fa-chevron-down fa-3x"></i></div>
        <script type="text/javascript">
            $(".fa-chevron-down").click(function (e) {
                e.stopPropagation();
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#maincontent").offset().top
                }, 700, "swing");
            });
            </script>
      </section>
    </div>
  </section>

  <section id="home" class="pagestart"></section>

  <section id="maincontent">
    <div class="onepagecontent">
      <section id="home" class="first"></section>
      <div class="clear"></div>
    </div>

    <style>
      #wp-admin-bar-fbuilder_edit, #fbuilder_wrapper.empty {
        display: none
      }
    </style>
    <!-- End Inner -->

    <!-- Hide dublicated text in slider on home page -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#slidercontent-wrapper').on('DOMNodeInserted', function (e) {
                jQuery('#slidercontent-wrapper p.topTitleSlider').remove();
            });
        });
    </script>
  </section>

  <footer id="footer">

    <section class="container">
      <div class="row">
        <article class="span4" style="margin-bottom: 1rem">
          <div class="widget-1  last divide30 footer_widget_spacer clear"></div>
          <div id="nav_menu-11" class="widget-1  last footer_widget widget_nav_menu">
            <div class="menu-footerwidgetnavigation-container">
              <ul id="menu-footerwidgetnavigation" class="menu">
                <% @information_pages.select(&:public).reject(&:hidden).each do |ip| %>
                  <li id="menu-item-<%= ip.id %>" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="<%= information_page_path ip %>"><i class="demoicon <%= ip.icon_class || 'fa fa-file-text' %>" style="text-align: center"></i>
                      <%= ip.title %>
                    </a>
                    <div class="clear"></div>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </article>

        <article class="span4">
          <div class="widget-1 last divide30 footer_widget_spacer clear"></div>
          <div id="rss-2" class="widget-1 last footer_widget widget_rss">
            <h4 class="widget-title"  style="margin-bottom: .5rem">
<!--              <a class="rsswidget" href="<%#=news_items_path %>">-->
<!--                <img class="rss-widget-icon" style="border:0" width="14" height="14" src="https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/images/rss.png" alt="RSS"/>-->
<!--              </a>-->
              <i class="fa fa-newspaper-o"></i>
              <a class="rsswidget" href="<%=news_items_path %>">
                Nyheter
              </a>
            </h4>
            <ul>
              <% @news_items.each do |news_item| %>
                <li>
                  <div class="rss-date" style="float: right"><%= news_item.created_at.to_date %></div>
                  <a class='rsswidget' href='<%= news_item_path news_item %>'>
                    <%= news_item.title %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="clear"></div>
          </div>
        </article>

        <article class="span4 last">
          <div class="widget-1  first divide30 footer_widget_spacer clear"></div>
          <div id="nav_menu-17" class="widget-1  first footer_widget widget_nav_menu">
            <div class="menu-for-contact-us-widget-container">
              <ul id="menu-for-contact-us-widget" class="menu">
                <li id="menu-item-2374" class="menu-item menu-item-type-post_type menu-item-object-page">
                  <a href="<%= information_page_path(6) %>"><i class="fa fa-map" style="margin-right:0.5rem"></i>
                    Kontakt oss</a>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <div class="widget-2  last divide30 footer_widget_spacer clear"></div>
          <div id="text-3" class="widget-2  last footer_widget widget_text">
            <div class="textwidget" style="text-align: center">
              <a href="<%= information_page_path(6) %>"><img alt="RJJK kart" src="<%= asset_path 'kart.png'%>" width="332"/></a>
            </div>
            <div class="clear"></div>
          </div>
        </article>
        <div class="clear"></div>
      </div><!-- END OF THE ROW -->
    </section><!-- END OF THE FOOTER CONTAINER -->
  </footer>


  <!-- SUBFOOTER -->
  <section id="subfooter">
    <div class="container">
      <!-- ROW -->
      <div class="row">
        <article class="span6">
          <div class="widget-1  last widget_text">
            <div class="textwidget"><p>© 1999–2019 Romerike Jujutsu Klubb</p>
            </div>
            <div class="clear"></div>
          </div>
        </article>

        <article class="span6 txt-right">
          <div class="widget-1  last goodwebSocials rightfloat subright">
            <a href="http://twitter.com/altoros/" class="subfooter-socials" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://www.linkedin.com/company/altoros-systems/" class="subfooter-socials" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCzVZ70hdQxYqzxavQL6x8pw" class="subfooter-socials" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://www.facebook.com/Altoros" class="subfooter-socials" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="http://plus.google.com/b/106511337358259588944/106511337358259588944/posts" class="subfooter-socials" target="_blank"><i class="fa fa-google-plus"></i></a>
            <div class="clear"></div>
          </div>
        </article>

      </div><!-- END OF ROW -->
    </div>
  </section><!-- END OF SUBFOOTER -->

</section><!-- END OF ALL CONTENT HERE -->

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    inputs = document.getElementsByTagName("input");
    for (var i in inputs) {
        if (typeof (inputs[i].value) != 'unknown' && inputs[i].value != null && (inputs[i].type == "button" || inputs[i].type == "submit") && inputs[i].value.search(/^Search$/) != -1) {
            var oElement = inputs[i];

            function fn(e) {
                ClickTaleTag("Search");
            }

            $(oElement).on("click", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    for (var i in document.forms) {
        if (typeof (document.forms[i].action) != 'unknown' && document.forms[i].action != null && document.forms[i].action.search(/\/wp-comments-post\.php$/) != -1) {
            var oElement = document.forms[i];

            function fn(e) {
                ClickTaleTag("Comment");
            }

            $(oElement).on("submit", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    for (var i in document.links) {
        if (typeof (document.links[i].href) != 'unknown' && document.links[i].href != null && document.links[i].href.search(/(feed=rss2$)|(feed$)|(feed\/$)/) != -1) {
            var oElement = document.links[i];

            function fn(e) {
                ClickTaleTag("RSS");
            }

            $(oElement).on("click", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    for (var i in document.links) {
        if (typeof (document.links[i].href) != 'unknown' && document.links[i].href != null && document.links[i].href.search(/(feed=comments-rss2$)|(comments\/feed$)|(comments\/feed\/$)/) != -1) {
            var oElement = document.links[i];

            function fn(e) {
                ClickTaleTag("Comments-RSS");
            }

            $(oElement).on("click", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    for (var i in document.links) {
        if (typeof (document.links[i].href) != 'unknown' && document.links[i].href != null && document.links[i].href.search(/(feed=rss2$)|(feed$)|(feed\/$)/) != -1) {
            var oElement = document.links[i];

            function fn(e) {
                ClickTaleTag("RSS-Rightclick");
            }

            $(oElement).on("contextmenu", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*//*---->*/
    for (var i in document.links) {
        if (typeof (document.links[i].href) != 'unknown' && document.links[i].href != null && document.links[i].href.search(/(feed=comments-rss2$)|(comments\/feed$)|(comments\/feed\/$)/) != -1) {
            var oElement = document.links[i];

            function fn(e) {
                ClickTaleTag("Comments-RSS-Rightclick");
            }

            $(oElement).on("contextmenu", fn);
        }
    }
    /*--*//*]]>*/
</script>

<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/jquery.color.min.js?ver=2.1.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/jquery/ui/draggable.min.js?ver=1.11.4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/altoros-custom-area/includes/js/altoros_custom_area.js?ver=4'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "https:\/\/www.altoros.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptcha": {"messages": {"empty": "Please verify that you are not a robot."}},
        "sending": "Sending ...",
        "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/punchstrap/js/gmap3.min.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/plugins/showbiz/showbiz-plugin/js/jquery.themepunch.plugins.min.js?rev=1.6.3&#038;ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/bootstrap.min.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/punchbox/js/jquery.themepunch.punchbox.js?ver=5.0.1'></script>
<script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/jquery.isotope.min.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/libs/popup/jquery.magnific-popup.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/libs/scrollspy/scrollspy.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/libs/scrollspyjquery/scrollspyjquery.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/my_custom.js?ver=2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var goodweb_theme_vars = {"load": "LOAD", "more": "MORE"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/screen2.js?ver=5.0.1'></script>
<script type='text/javascript' src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/menu_com.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/comment-reply.min.js?ver=5.0.1'></script>
<script type='text/javascript' defer src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.full.min.js?ver=1.0.0'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-content/themes/goodweb/js/cf-landing-page.js?ver=1.0.0'></script>
<script type='text/javascript' defer src='https://web.archive.org/web/20190203085358cs_/https://www.altoros.com/wp-includes/js/wp-embed.min.js?ver=5.0.1'></script>

</body>
</html>
