<%=render :partial => '/tiny_mce' %>

<%=form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p style="float: left; margin-right: 1em">
    <%= f.label :start_tidspunkt %><br />
    <%= f.datetime_picker :start_at, :value => @event.start_at && @event.start_at.strftime('%Y-%m-%d %H:%M'),
                          :dateFormat => "yy-mm-dd", :size => 12 %>
  </p>
  <p>
    <%= f.label :slutt_tidspunkt %><br />
    <%= f.datetime_picker :end_at, :value => @event.end_at && @event.end_at.strftime('%Y-%m-%d %H:%M'),
                     :dateFormat => "yy-mm-dd", :size => 12 %>
  </p>
  <p>
    <%= f.label :beskrivelse %><br />
    <%= f.text_area :description, :class => 'tiny_mce' %>
  </p>
  <p>
    <%= f.submit "Lagre" %>
    <%= back_or_link_to 'Back', events_path %>
  </p>
<% end %>
