<%= render :partial => '/tiny_mce' %>

<%= form_for(@event) do |f| %>
    <%= f.error_messages %>

    <p style="float: left; margin-right: 1em">
      <%= f.label :name, 'Navn' %><br/>
      <%= f.text_field :name, :size => 52 %>
    </p>
    <p style="float: left; margin-right: 1em">
      <%= f.label :start_at, 'Fra' %><br/>
      <%= f.datetime_picker :start_at, :value => @event.start_at && @event.start_at.strftime('%Y-%m-%d %H:%M'),
                            :dateFormat => 'yy-mm-dd', :timeFormat => 'hh:mm', :firstDay => 1, :size => 18 %>
    </p>
    <p>
      <%= f.label :end_at, 'Til (valgfritt)' %><br/>
      <%= f.datetime_picker :end_at, :value => @event.end_at && @event.end_at.strftime('%Y-%m-%d %H:%M'),
                            :dateFormat => 'yy-mm-dd', :timeFormat => 'hh:mm', :firstDay => 1, :size => 18 %>
    </p>
    <p>
      <%= f.label :beskrivelse %><br/>
      <%= f.text_area :description, :class => 'tiny_mce', :cols => 100, :rows => 36 %>
    </p>

    <% if @event.id %>
        <% if @event.invitation.nil? %>
            <p>
              <%= detour_to 'Lag invitasjon', :controller => :event_messages, :action => :new, :event_message => {
                      :message_type => EventMessage::MessageType::INVITATION, :event_id => @event.id,
                      :subject => "Invitasjon til #{@event.name}"} %>
            </p>
        <% else %>
            <% if @event.invitation.ready_at %>
                <div style="float: right">
                  <table>
                    <tr>
                      <th>Gruppe</th>
                      <th>Invitert</th>
                    </tr>
                    <% for g in @groups %>
                        <tr>
                          <td><%= g.name %></td>
                          <td>
                            <%= check_box :group, 'id', {:multiple => true, :checked => @event.groups.include?(g)}, g.id, nil %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                  <%= f.button 'Send innbydelse til disse gruppene', :type => :button, :onclick => "$.get('#{url_for(:action => :invite, :id => @event.id, :recipients => :groups)}')" %>
                </div>
            <% end %>
            <p>
              <%= detour_to 'Rediger invitasjonen', :controller => :event_messages, :action => :edit, :id => @event.invitation %>
              <%= f.button 'Send meg eksempel på innbydelse', :type => :button, :onclick => "$.get('#{url_for(:action => :invite, :id => @event.id, :example => true)}')" %>
            </p>
            <% if @event.invitation.ready_at %>
                <p>
                  <%= f.label :inviter %><%= "(#{@event.invitees.split(/\s*,\s*/).size})" if @event.invitees %>
                  (Kommaseparert
                  liste: Navn 1 &lt;e-post1&gt;, e-post2, Navn 3 &lt;e-post3&gt;, etc.)<br/>
                  <%= f.text_area :invitees, :cols => 100, :rows => 3 %>
                </p>
            <% end %>
        <% end %>
    <% end %>

    <% if @event.event_invitees.any? %>
        <div style="float: left">
          <table>
            <tr>
              <th>Navn</th>
              <th>e-post</th>
              <th>Vil delta</th>
              <th>Medhjelper</th>
              <th>Betalt</th>
            </tr>
            <% for inv in @event.event_invitees %>
                <tr>
                  <td><%= detour_to inv.name, edit_event_invitee_path(inv) %></td>
                  <td><%= inv.email %></td>
                  <td align="center">
                    <%= {true => 'Ja', false => 'Nei'}[inv.will_attend] %>
                    <% if inv.will_attend %>
                        <%= detour_to('Bekreft', :controller => :event_invitee_messages,
                                      :action => inv.signup_confirmation ? :edit : :new,
                                      :id => inv.signup_confirmation.try(:id),
                                      :event_invitee_message => {
                                              :message_type => EventInviteeMessage::MessageType::SIGNUP_CONFIRMATION,
                                              :event_invitee_id => inv.id,
                                      }) unless inv.signup_confirmation.try(:ready_at)
                        %>
                        <%= detour_to('Avslå', :controller => :event_invitee_messages,
                                      :action => inv.signup_confirmation ? :edit : :new,
                                      :id => inv.signup_confirmation.try(:id),
                                      :event_invitee_message => {
                                              :message_type => EventInviteeMessage::MessageType::SIGNUP_REJECTION,
                                              :event_invitee_id => inv.id,
                                      }) unless inv.signup_confirmation.try(:ready_at)
                        %>
                    <% elsif inv.will_attend.nil? %>
                        <%=detour_to('Send invitasjon', :controller => :event_invitee_messages,
                                      :action => inv.invitation ? :edit : :new,
                                      :id => inv.invitation.try(:id),
                                      :event_invitee_message => {
                                              :message_type => EventMessage::MessageType::INVITATION,
                                              :event_invitee_id => inv.id,
                                      }) unless inv.invitation.try(:ready_at)
                        %>
                        <%= "Invitert #{inv.invitation.sent_at.to_date}" if inv.invitation %>
                    <% end %>
                  </td>
                  <td align="center">
                    <%= {true => 'Ja', false => 'Nei'}[inv.will_work] if inv.will_attend %>
                  </td>
                  <td align="right"><%= inv.payed if inv.payed.to_i > 0 %></td>
                </tr>
            <% end %>
          </table>
          <%= detour_to 'Legg til deltaker', :controller => :event_invitees, :action => :new, :event_invitee => {:event_id => @event.id} %>
          <%= detour_to 'Lag melding', :controller => :event_messages, :action => :new, :event_message => {:event_id => @event.id} %>
          <%= f.button 'Send innbydelse til de inviterte', :type => :button, :onclick => "$.get('#{url_for(:action => :invite, :id => @event.id, :recipients => :invited)}')" %>
        </div>
    <% end %>

    <br clear="all"/>

    <p>
      <%= f.submit "Lagre" %>
      <%= back_or_link_to 'Tilbake', events_path %>
    </p>
<% end %>
