<% @content_width = 1024 %>

<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Description</th>
  </tr>

<% for event in @events %>
  <tr valign="top">
    <td><%=h event.name %></td>
    <td><%=h event.start_at %></td>
    <td><%=h event.end_at %></td>
    <td><%=h event.description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
