<% @content_width = 1024 %>

<h1>Hendelsesarkiv</h1>

<table class="table table-striped">
  <tr>
    <th>Hendelse</th>
    <th>Start</th>
    <th>Slutt</th>
    <th>Beskrivelse</th>
  </tr>
  <tr/>

  <% for event in @events %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td nowrap="true"><%= h event.start_at.to_date %></td>
      <td nowrap="true"><%= h event.end_at.try(:to_date) %></td>
      <td>
        <%= link_to 'Endre', edit_event_path(event) %>
        <%= link_to 'Slett', event, :data => { :confirm => 'Er du sikker på at du vil endre denne hendelsen?' }, :method => :delete %>
      </td>
    </tr>
    <tr>
      <td colspan="4"><%= h event.description.try(:html_safe) %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New event', new_event_path %>
