<% @title = @event.name %>

<h1><%=h @event.name %></h1>

<p>
  <%=h @event.start_at.strftime('%Y-%m-%d') %>
  <% if @event.end_at %>
  	- <%=h @event.end_at.strftime('%Y-%m-%d') %>
  <% end %>
</p>

<p>
  <%=@event.description.try(:html_safe) %>
</p>

<% if user? || admin? %>
<br clear="all"/>

<ul class="controls">
  <li><%=link_to 'Rediger', {:action => :edit, :id => @event}, :class => :edit %></li>
</ul>
<% end %>
