<div style="float: right; width: 196px; height: 680px; overflow:auto; border: 1px solid black">
  <%= render :partial => '/images/list', :locals => {:images => @images} %>
</div>

<%= render :partial => '/tiny_mce' %>

<%= error_messages_for 'news_item' %>

<label for="news_item_title">Tittel</label>
<%= text_field 'news_item', 'title' %>

<label for="news_item_publication_state">Publiseringsstatus</label>
<%= select :news_item, :publication_state, NewsItem::PublicationState.constants.map { |s| [t(s.downcase), s] } %>
Publiser fra <%= text_field :news_item, :publish_at %>
til <%= text_field :news_item, :expire_at %>

<%= text_area 'news_item', 'body', :cols => 100, :rows => 30, :class => 'tiny_mce' %>

