<%= render :partial => '/tiny_mce' %>

<%= error_messages_for 'news_item' %>

<div style="float: right; width: 240px; height: 680px; overflow:auto; border: 1px solid black">
  <%= render :partial => '/images/list' %>
</div>

<p>
  <label for="news_item_title">Tittel</label><br/>
  <%= text_field 'news_item', 'title' %>
</p>

<p>
  <label for="news_item_publication_state">Publiseringsstatus</label><br/>
  <%=select :news_item, :publication_state, NewsItem::PublicationState.constants.map{|s| [t(s.downcase), s]} %>
  Publiser fra <%=text_field :news_item, :publish_at %>
  til <%=text_field :news_item, :expire_at %>
</p>

<p>
  <label for="news_item_body">Tekst</label><br/>
  <%= text_area 'news_item', 'body', :cols => 100, :rows => 36, :class => 'tiny_mce' %>
</p>

