<% @content_width = 1024 %>

<div style="float: right; width: 196px; height: 680px; overflow:auto; border: 1px solid black">
  <%= render :partial => '/images/list', :locals => {:images => @images} %>
</div>

<%= tinymce %>

<%= form_for(@news_item) do |f| %>
    <%= f.error_messages %>

    <div style="float: left;margin-right: 0.5em">
      <%= f.label :title, 'Tittel' %>
      <%= f.text_field :title, :class => 'input-medium' %>
    </div>

    <%= f.label :publication_state, 'Publiseringsstatus' %>
    <%= f.select :publication_state, NewsItem::PublicationState.constants.map { |s| [t(s.downcase), s] }, {}, :class => 'input-medium' %>

    Publiser fra
    <%= f.datetime_picker :publish_at, :dateFormat => 'yy-mm-dd', :firstDay => 1,
                          :class => 'input-medium' %>

    til <%= f.datetime_picker :expire_at, :dateFormat => 'yy-mm-dd', :firstDay => 1,
                              :class => 'input-medium' %>

    <p>
      Sammendrag
      <%= f.text_area :summary, :class => :tinymce, :style => 'height: 120px' %>
    </p>
    <%= javascript_tag do %>
        $(window).load(function () {
        tinyMCE.DOM.setStyle(tinyMCE.DOM.get('news_item_summary_ifr'), 'height', '120px');
        })
    <% end %>

    <p>
      Mer informasjon (valgfri)
      <%= f.text_area :body, :class => :tinymce %>
    </p>

    <%= f.submit 'Lagre', :id => :save, :class => 'btn btn-default' %>
    <%= back_or_link_to 'Avbryt', :action => 'list' %>

<% end %>

<script type="text/JavaScript">
    //<!--
    document.getElementById('news_item_title').focus();
    document.getElementById('news_item_title').select();
    //-->
</script>
