<div style="float: right; width: 196px; height: 680px; overflow:auto; border: 1px solid black">
  <%= render :partial => '/images/list', :locals => {:images => @images} %>
</div>

<%= tinymce %>

<%= form_for(@news_item) do |f| %>
    <%= f.error_messages %>

    <%= f.label :title, 'Tittel' %>
    <%= f.text_field :title %>

    <%= f.label :publication_state, 'Publiseringsstatus' %>
    <%= f.select :publication_state, NewsItem::PublicationState.constants.map { |s| [t(s.downcase), s] } %>

    Publiser fra
    <%= f.datetime_picker :publish_at, :value => @news_item.publish_at.try(:strftime, '%Y-%m-%d %H:%M'),
                          :dateFormat => 'yy-mm-dd', :timeFormat => 'hh:mm',
                          :class => 'input-medium', :firstDay => 1 %>

    til <%= f.datetime_picker :expire_at, :value => @news_item.expire_at.try(:strftime, '%Y-%m-%d %H:%M'),
                              :dateFormat => 'yy-mm-dd', :timeFormat => 'hh:mm',
                              :class => 'input-medium', :firstDay => 1 %>

    <%= f.text_area :body, :class => :tinymce %>

    <%= f.submit 'Lagre', :id => :save, :class => :btn %>
    <%= back_or_link_to 'Avbryt', :action => 'list' %>

<% end %>

<script type="text/JavaScript">
    //<!--
    document.getElementById('news_item_title').focus();
    document.getElementById('news_item_title').select();
    //-->
</script>

