<% if not @news_items.empty? %>
    <% @news_item = @news_items[0] %>
    <%= render 'news/item', full: false %>

    <div class="divider1"></div>

    <div id="primarycontainer">
      <div id="primarycontent">
        <% @news_items[1..-1].each_with_index do |news_item, i| %>
            <% if i > 0 %>
                <div class="divider2"></div>
            <% end %>
            <div class="post">
              <h4>
                <%= news_item.title %>
                <% if news_item.publication_state != NewsItem::PublicationState::PUBLISHED %>
                (<%= t news_item.publication_state.downcase %>)
                <% end %>
              </h4>

              <div class="contentarea">
                <div class="details">
                  <%= "Skrevet av #{news_item.creator.name}" if news_item.creator %>
                  <%= news_item.created_at.strftime '%Y-%m-%d' %>
                  <% if news_item.expire_at && news_item.expire_at < Time.now %>
                      <br/>Utløpt <b><%= "#{news_item.expire_at.strftime('%F %R')}" %></b>.
                  <% end %>
                </div>
                <% texts = [news_item.summary, news_item.body].select { |text| !text.blank? } %>
                <%= textilize(texts[0].strip).html_safe if texts[0] %>
                <p class="read_more"><%= detour_to('Les mer...', news_item) if texts[1] %></p>

                <% if user? %>
                    <ul class="controls">
                      <li><%= detour_to 'Endre', edit_news_item_path(news_item), :class => :edit %></li>
                      <li><%= detour_to 'Utløpt', {controller: :news, action: :expire, id: news_item}, class: :edit, :confirm => 'Er du sikker?', method: :post %></li>
                      <li><%= detour_to 'Slett', {controller: :news, action: :destroy, id: news_item}, class: :edit, :confirm => 'Er du sikker?', method: :delete %></li>
                    </ul>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<% if @link_to_news_archive %>
    <p>
    <ul class="controls">
      <li>
        <%= link_to 'Eldre nyheter', {controller: :news, action: :list, id: nil}, class: :edit %>
      </li>
    </ul>
    </p>
<% end %>

<%=render 'layouts/modal_image' %>

<%= javascript_tag do %>
    $('.post img').addClass('img-thumbnail').css({cursor: 'pointer'});
    $('.post img').on('click', function() {
      $('#imageModal .modal-title').html($(this).attr('title'));
      $('#modalImage').attr('src', $(this).attr('src').replace("inline", "show"));
      $('#imageModal').modal();
    });
<% end %>
