<% if not @news_items.empty? %>
    <% @news_item = @news_items[0] %>
    <%= render :partial => 'news/item' %>

    <div class="divider1"></div>

    <div id="primarycontainer">
      <div id="primarycontent">
        <% @news_items[1..-1].each_with_index do |news_item, i| %>
            <% if i > 0 %>
                <div class="divider2"></div>
            <% end %>
            <div class="post">
              <h4><%= h news_item.title %></h4>

              <div class="contentarea">
                <div class="details">
                  <%= "Skrevet av #{news_item.creator.name}" if news_item.creator %>
                  <%= news_item.created_at.strftime '%Y-%m-%d' %>
                </div>
                <%= textilize(news_item.body.to_s.strip).html_safe %>

                <% if user? %>
                    <ul class="controls">
                      <li>
                        <a href="<%= url_for :action => :edit, :id => news_item %>" class="edit">Redigèr</a>
                      </li>
                      <li><%= link_to 'Utløpt', {:action => :expire, :id => news_item}, :class => :edit, :confirm => 'Er du sikker?', :method => :post %></li>
                      <li><%= link_to 'Slett', {:action => :destroy, :id => news_item}, :class => :edit, :confirm => 'Er du sikker?', :method => :post %></li>
                    </ul>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<ul class="controls">
  <li>
    <%= link_to 'Eldre nyheter', {:action => :list, :id => nil}, :class => :edit %>
  </li>
</ul>
