<%= bootstrap_form_for(@raw_incoming_email) do |f| %>
    <% if @raw_incoming_email.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@raw_incoming_email.errors.count, "error") %> prohibited this
            raw_incoming_email from being saved:</h2>

          <ul>
            <% @raw_incoming_email.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.text_area :content, value: @raw_incoming_email.content&.encode %>

    <div class="actions">
      <%= f.primary %>
    </div>
<% end %>
