<h1>Listing raw_incoming_emails</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raw_incoming_emails.each do |raw_incoming_email| %>
      <tr>
        <td><%= raw_incoming_email.content %></td>
        <td><%= link_to 'Show', raw_incoming_email %></td>
        <td><%= link_to 'Edit', edit_raw_incoming_email_path(raw_incoming_email) %></td>
        <td><%= link_to 'Destroy', raw_incoming_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raw incoming email', new_raw_incoming_email_path %>
