<%= form_for @rank do |f| %>
    <%= f.error_messages %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :martial_art_id, :Stil %>
          <%= f.select :martial_art_id, @martial_arts.map { |ma| [ma.name, ma.id] },
                  {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%=f.label :group_id, :Gruppe%>
          <%= f.select :group_id, @groups.map { |g| [g.name, g.id] }, {}, class:'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <p><label for="rank_position">Posisjon</label><br/>
          <%= f.text_field :position, :size => 4, class: 'form-control' %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p><label for="rank_name">Navn</label><br/>
          <%= f.text_field :name, class:'form-control' %></p>
      </div>
      <div class="col-md-4">
        <label for="rank_colour">Beltebeskrivelse</label><br/>
          <%= f.text_field :colour, :size => 32, class: 'form-control' %>
      </div>
      <div class="col-md-4">
          <%=f.label :decoration, 'Dekorasjon' %>
          <%= f.text_field :decoration, size: 32, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p><label for="rank_standard_months">Måneder</label><br/>
          <%= f.text_field :standard_months, class: 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="rank_description">Beskrivelse</label>
          <%= f.text_area :description, class: 'form-control expanding' %>
        </div>
      </div>
    </div>

    <%= submit_tag 'Lagre', class: 'btn btn-primary' %>
    <%= link_to('Vis', {action: 'show', id: @rank}, class: 'btn btn-secondary') unless @rank.new_record? %>
    <%= back_or_link_to 'Tilbake', {action: 'index'}, class: 'btn btn-secondary' %>
<% end %>
