<%= error_messages_for 'rank' %>

<!--[form:rank]-->
<p><label for="rank_martial_art_id">Stil</label><br/>
<%=select 'rank', 'martial_art_id', @martial_arts.map{|ma| [ma.name, ma.id]} %></p>

<p><label for="rank_group_id">Stil</label><br/>
<%=select 'rank', 'group_id', @groups.map{|g| [g.name, g.id]} %></p>

<p><label for="rank_name">Navn</label><br/>
<%= text_field 'rank', 'name'  %></p>

<p><label for="rank_colour">Beltebeskrivelse</label><br/>
<%= text_field 'rank', 'colour', :size => 32 %></p>

<p><label for="rank_position">Posisjon</label><br/>
<%= text_field 'rank', 'position', :size => 4 %></p>

<p><label for="rank_standard_months">Måneder</label><br/>
<%= text_field 'rank', 'standard_months'  %></p>

<!--[eoform:rank]-->

