<% @content_width = 1024 %>

<h1>Grader</h1>

<ul class="nav nav-tabs">
  <% @martial_arts.each.with_index do |(ma, ranks), i| %>
      <li <%= 'class="active"'.html_safe if i == 0 %>>
        <a href="#<%= ma.name %>" data-toggle="tab"><%= ma.name %></a></li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <% @martial_arts.each.with_index do |(ma, ranks), i| %>
      <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= ma.name %>">

        <ul class="nav nav-tabs">
          <% ma.groups.each.with_index do |group, i| %>
              <li <%= 'class="active"'.html_safe if i == 0 %>>
                <a href="#<%= ma.name.gsub(/\s+/, '') %>_<%= group.name %>" data-toggle="tab"><%= group.name %></a>
              </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% ma.groups.each.with_index do |group, i| %>
              <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= ma.name.gsub(/\s+/, '') %>_<%= group.name %>">

                <table class="table table-condensed">
                  <tr>
                    <th>Posisjon</th>
                    <th align="left">Navn</th>
                    <th align="left">Minste alder</th>
                    <th>Måneder</th>
                    <th/>
                  </tr>

                  <% for rank in group.ranks.sort_by { |r| r.position} %>
                      <tr>
                        <td align="center"><%= h rank.position %></td>
                        <td><%= link_to "#{rank.name} #{rank.colour}", rank %></td>
                        <td align="center"><%= h rank.minimum_age %> år</td>
                        <td align="center"><%= h rank.standard_months %></td>
                        <td><%= link_to 'Rediger', :action => 'edit', :id => rank %></td>
                        <!--
    <td><%= link_to 'Slett', {:action => 'destroy', :id => rank}, data: {:confirm => 'Are you sure?'}, :method => :post %></td>
-->
                      </tr>
                  <% end %>
                </table>

              </div>
          <% end %>
        </div>

      </div>
  <% end %>
</div>

<br/>

<%= link_to 'Legg til grad', :action => 'new' %>
