<% @content_width = 1024 %>

<h2><%= @rank.label %>
  <%= detour_to('Rediger', {action: 'edit', id: @rank}, class: 'btn btn-primary pull-right') if technical_committy? %>
</h2>

<p>Normert tid: <%= @rank.standard_months %> måneder</p>

<%= textalize @rank.description %>

<% if @rank.basic_techniques.any? %>
    <h3>Grunnteknikker</h3>

    <table class="table">
      <% @rank.basic_techniques.group_by(&:waza).each do |waza, bts| %>
          <tr>
            <td><%= waza.name %></td>
            <td><%= bts.map { |bt| detour_to bt.name, bt }.join(', ').html_safe %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if @rank.katas.any? %>
    <h3>Kata</h3>

    <table class="table">
      <% @rank.katas.sort_by(&:name).each do |app| %>
          <tr>
            <td><%= link_to app.name, app %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if @rank.applications.any? %>
    <h3>Applikasjoner</h3>

    <table class="table">
      <% @rank.applications.sort_by(&:name).each do |app| %>
          <tr>
            <td><%= link_to app.name, app %></td>
          </tr>
      <% end %>
    </table>
<% end %>
