<%= link_to 'Registrer nytt valg', new_election_path, class: 'btn btn-primary pull-right' %>

<h1>Listing elections</h1>

<table class="table">
  <tr>
    <th>Årsmøte</th>
    <th>Rolle</th>
    <th>Medlem</th>
    <th>Trukket</th>
    <th></th>
  </tr>

<% @elections.each do |election| %>
  <tr>
    <td><%= election.annual_meeting.start_at.to_date %></td>
    <td><%= election.role.name %></td>
    <td><%= link_to election.member.name, edit_election_path(election) %></td>
    <td><%= election.resigned_on %></td>
    <td><%= link_to '', election, method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'glyphicon glyphicon-trash' %></td>
  </tr>
<% end %>
</table>
