<%= link_to 'Registrer nytt valg', new_election_path, class: 'btn btn-primary float-right' %>

<h1>Styreverv</h1>
<h4><%=AnnualMeeting.board_emails.join(', ')%></h4>
<% @meetings.each do |meeting, elections| %>

    <h2><%= detour_to meeting.start_at.year, meeting %></h2>
    <% withdrawn = elections.any?(&:resigned_on) %>

    <table class="table">
      <tr>
        <th>Rolle</th>
        <th>Medlem/Foresatt</th>
        <% if withdrawn %>
            <th>Trukket</th>
        <% end %>
        <th></th>
      </tr>

      <% elections.each do |election| %>
          <tr>
            <td><%= election.role.name %></td>
            <td>
              <%= detour_to election.elected_name, edit_election_path(election) %>
            </td>
            <% if withdrawn %>
                <td><%= election.resigned_on %></td>
            <% end %>
            <td><%= link_to '', election, method: :delete,
                    data: {confirm: 'Are you sure?'},
                    class: 'fa fa-trash' %></td>
          </tr>
      <% end %>
    </table>
<% end %>
