<p id="notice"><%= notice %></p>

<p>
  <b>Annual meeting:</b>
  <%= @election.annual_meeting_id %>
</p>

<p>
  <b>Role:</b>
  <%= @election.role_id %>
</p>

<p>
  <b>Member:</b>
  <%= @election.member_id %>
</p>

<p>
  <b>Resigned on:</b>
  <%= @election.resigned_on %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
