<% @content_width = 1024 %>

<h2><%= @survey_request.survey.title %></h2>

<p>
  <%= @survey_request.survey.header %>
</p>

<%= form_for @survey_request, url: {action: :save_answers} do |f| %>
    <% @survey_request.survey.survey_questions.order(:position).each do |sq| %>
        <h4><%= sq.title %></h4>
        <% answer = @survey_request.survey_answers.find { |sa| sa.survey_question_id == sq.id } %>
        <% answer ||= @survey_request.survey_answers.build(survey_question_id: sq.id) %>
        <%= f.fields_for :survey_answers, answer do |sa| %>
            <%= sa.hidden_field :survey_question_id %>
            <% choices = sq.choices.try(:split, "\n") %>
            <% answers = answer.answers %>
            <% if sq.free_text %>
                <% other_value = (answer.answers - (choices || [])).first %>
                <% answers << 'annet' if other_value %>
                <% choices << [:Annet, :annet] if choices %>
            <% end %>
            <div class="row">
              <% if choices %>
                  <div class="col-md-6">
                    <%= sa.select :answer, choices, {selected: answers},
                            multiple: sq.select_multiple,
                            class: 'form-control chosen-select',
                            data: {placeholder: 'Velg et svar eller'},
                            onchange: "other_selected = $(this).val() && $(this).val().indexOf('annet') > -1;
                    tf = $('#survey_request_survey_answers_attributes_#{sa.index}_answer_free');
                    tf.prop('disabled', !other_selected);
                    if (other_selected) {
                      tf.show().focus()
                    } else {
                      tf.hide()
                    }" %>
                  </div>
              <% end %>

              <% if sq.free_text %>
                  <div class="col-md-6">
                    <% show_free_text = other_value || choices.blank? %>
                    <%= sa.text_field :answer_free, disabled: !show_free_text,
                            value: other_value, class: 'form-control expanding',
                            placeholder: 'Skriv beskrivelse her.',
                            style: ('display:none' unless show_free_text)
                    %>
                  </div>
              <% end %>

            </div>

        <% end %>
        <br/>
    <% end %>
    <br/>
    <%= f.submit 'Send inn svar', class: 'btn btn-primary' %>
<% end %>
