Følgende prøvemedlemmer har utløpt prøvetid:

<ul>
  <% @trials.each do |trial| %>
      <li>
        <%= trial.name %> (<%= trial.alder %> år)
        <ul>
          <li>Registrert: <%= trial.reg_dato %></li>
          <li><%= trial.trial_attendances.select { |a| a.date >= 2.months.ago.to_date }.size %>
            treninger siste 2 måneder
          </li>
          <li><%= trial.trial_attendances.size %> treninger totalt</li>
        </ul>
      </li>
  <% end %>
</ul>
