<%=form_for(@group_schedule) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :group_id %>
    <%= f.select :group_id, @groups.map{|g| ["#{g.martial_art.name} #{g.name}", g.id]}.sort %>
  </div>
  <div>
    <%= f.label :weekday %>
    <%= f.select :weekday, [['Mandag', 1], ['Tirsdag', 2], ['Onsdag', 3], ['Torsdag', 4], ['Fredag', 5], ['Lørdag', 6], ['Søndag', 7]] %>
  </div>
  <div style="float: left; margin-right: 1em">
    <%= f.label :start_at %>
    <%= f.text_field :start_at, :class => 'input-small' %>
  </div>
  <div>
    <%= f.label :end_at %>
    <%= f.text_field :end_at, :class => 'input-small' %>
  </div>
  <p>
    <%= f.submit 'Lagre', :class => 'btn btn-secondary' %>
	<%= back_or_link_to 'Tilbake', group_schedules_path %>
  </p>
<% end %>
