<h1>Listing group_schedules</h1>

<table>
  <tr>
    <th align="left">Gruppe</th>
    <th>Ukedag</th>
    <th>Start</th>
    <th>Slutt</th>
  </tr>

<% for group_schedule in @group_schedules %>
  <tr>
    <td><%=h group_schedule.group.full_name %></td>
    <td align="center"><%=wday group_schedule.weekday %></td>
    <td><%=t group_schedule.start_at %></td>
    <td><%=t group_schedule.end_at %></td>
    <td><%= link_to 'Redigèr', edit_group_schedule_path(group_schedule) %></td>
    <td><%= link_to 'Slett', group_schedule, :data => {:confirm => 'Sikker?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group_schedule', new_group_schedule_path %>
