<p id="notice"><%= notice %></p>

<p>
  <b>Application:</b>
  <%= @application_step.technique_application_id %>
</p>

<p>
  <b>Position:</b>
  <%= @application_step.position %>
</p>

<p>
  <b>Description:</b>
  <%= @application_step.description %>
</p>

<%= link_to 'Edit', edit_application_step_path(@application_step) %> |
<%= link_to 'Back', application_steps_path %>
