<%= form_for(@page_alias) do |f| %>
    <% if @page_alias.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page_alias.errors.count, "error") %> prohibited
            this page_alias from being saved:</h2>

          <ul>
            <% @page_alias.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :old_path, 'Gammel sti' %>
      <%= f.text_field :old_path, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :new_path, 'Ny sti' %>
      <%= f.text_field :new_path, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit :value => 'Lagre', class: 'btn btn-default' %>
    </div>
<% end %>

<%= javascript_tag do %>
  $('#page_alias_old_path').focus().select();
<% end %>
