<p id="notice"><%= notice %></p>

<p>
  <b>Old path:</b>
  <%= @page_alias.old_path %>
</p>

<p>
  <b>New path:</b>
  <%= @page_alias.new_path %>
</p>


<%= link_to 'Edit', edit_page_alias_path(@page_alias) %> |
<%= link_to 'Back', page_aliases_path %>
