<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this scheduled_practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field left">
    <%= f.label :group_schedule_id %>
    <%= f.select :group_schedule_id, @group_schedules.map{|gs| [gs.to_s, gs.id]} %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>
  <div class="field left">
    <%= f.label :week %>
    <%= f.number_field :week %>
  </div>
    <div class="field">
      <%= f.label :status %>
      <%= f.select :status, ['X'] %>
    </div>
    <div class="field">
      <%= f.label :message %>
      <%= f.text_area :message %>
    </div>
  <div class="actions">
    <%= f.submit :class => :btn %>
  </div>
<% end %>
