<style>
    form div.left {
        margin-right: 0.5em
    }
</style>
<%= form_for(@practice) do |f| %>
    <% if @practice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this
            scheduled_practice from being saved:</h2>

          <ul>
            <% @practice.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
    <div class="left">
      <% if @practice.new_record? %>
          <%= f.label :group_schedule_id %>
          <%= f.select :group_schedule_id, @group_schedules.map { |gs| [gs.to_s, gs.id] }, {}, :class => 'input-md' %>
      <% else %>
          <%= @practice.group_schedule %>
      <% end %>
    </div>
    <% if @practice.new_record? %>
        <div class="left">
          <%= f.label :year %>
          <%= f.number_field :year, :class => 'input-sm', :style => 'width: 6em' %>
        </div>
        <div class="left">
          <%= f.label :week %>
          <%= f.number_field :week, :class => 'input-sm', :style => 'width: 5em' %>
        </div>
    <% else %>
        <div class="left">
          <%= @practice.date %> <%= @practice.group_schedule.start_at.strftime('%H:%M') %>
        </div>
    <% end %>
    <div>
      <%= f.label :status %>
      <%= f.select :status, ['X'], {}, :class => 'input-sm' %>
    </div>
    </p>
    <p>
      <%= f.label :message %><br/>
      <%= f.text_area :message, :class => 'input-lg', :rows => 5, :style => 'width: 100%',
              :placeholder => 'Skriv en liten melding til utøverne om denne treningen.' %>
    </p>

    <div class="actions">
      <%= f.submit :class => 'btn btn-secondary' %>
      <%= link_to('Vis', @practice) unless @practice.new_record? %> |
      <%= back_or_link_to 'Tilbake', practices_path %>
    </div>
<% end %>
