<p id="notice"><%= notice %></p>

<p>
  <b>Treningstid:</b>
  <%= @practice.group_schedule %>
</p>

<p>
  <b>År:</b>
  <%= @practice.year %>
</p>

<p>
  <b>Uke:</b>
  <%= @practice.week %>
</p>

<p>
  <b>Status:</b>
  <%= @practice.status %>
</p>

<p>
  <b>Melding:</b>
  <%= @practice.message %>
</p>


<%= link_to 'Endre', edit_practice_path(@practice) %> |
<%= back_or_link_to 'Tilbake', practices_path %>
