<h1>Hei <%= @member.first_name %>!</h1>

<h2><%= @title %></h2>

<p>
  Vi starter nå en prøveordning for voksengruppen der dere selv bekrefter at
  dere var på trening, eller registrerer at dere var borte. Dette vil spare oss
  for arbeid med å registrere oppmøtet på trening, og å føre oppmøtet fra
  listene inn i medlemsregisteret.
</p>

<h2>Treningen i dag</h2>
<ul>
  <% @completed_attendances.each do |a| %>
      <li>
        <%= a.group_schedule.start_at.strftime('%H:%M') %>
        -<%= a.group_schedule.end_at.strftime('%H:%M') %>
        <%= a.group_schedule.group.name %>
        <% [['Var der!', Attendance::Status::ATTENDED],
                ['Instruerte', Attendance::Status::INSTRUCTOR],
                ['Var syk', Attendance::Status::SICK],
                ['Bortreist', Attendance::Status::HOLIDAY],
                ['Forhindret', Attendance::Status::ABSENT],
           ].each do |text, status| %>
            [<%= link_to text, UserSystem.with_login(@member.user, :controller => :attendances, :action => :review, :id => a.practice_id, :attendance => {:status => status}) %>]&nbsp;&nbsp;
        <% end %>
      </li>
  <% end %>
</ul>

<% if @older_attendances.any? %>
    <h3>Tidligere treninger du ikke har bekreftet enda:</h3>
    <ul>
      <% @older_attendances.each do |a| %>
          <li>
            <%= a.date %>
            <%= t(:date)[:day_names][a.date.cwday] %>
            <%= a.group_schedule.group.name %>
            <% [['Var der!', Attendance::Status::ATTENDED],
                    ['Instruerte', Attendance::Status::INSTRUCTOR],
                    ['Var syk', Attendance::Status::SICK],
                    ['Bortreist', Attendance::Status::HOLIDAY],
                    ['Forhindret', Attendance::Status::ABSENT],
               ].each do |text, status| %>
                [<%= link_to text, UserSystem.with_login(@member.user, :controller => :attendances, :action => :review, :id => a.id, :attendance => {:status => status}) %>]&nbsp;&nbsp;
            <% end %>
          </li>
      <% end %>
<% end %>
</ul>
