<div class="user_edit">
  <%= hidden_field 'user', 'form', :value => 'edit' %>
  <table>
    <tr class="two_columns">
      <td class="prompt"><label>Brukernavn:</label></td>
      <td class="value">
        <%= @user.new_record? ? text_field( 'user', 'login' ) : @user.login %>
        <%=link_to('(medlem)', :controller => :members, :action => :edit, :id => @user.member.id) if @user.member %>
      </td>
    </tr>
    <tr class="two_columns">
      <td class="prompt"><label>Fornavn:</label></td>
      <td class="value"><%= text_field 'user', 'first_name' %></td>
    </tr>
    <tr class="two_columns">
      <td class="prompt"><label>Etternavn:</label></td>
      <td class="value"><%= text_field 'user', 'last_name' %></td>
    </tr>
    <tr class="two_columns">
      <td class="prompt"><label>E-post:</label></td>
      <td class="value"><%= text_field 'user', 'email' %></td>
    </tr>
<% if admin? %>
    <tr class="two_columns">
      <td class="prompt"><label>Bekreftet:</label></td>
      <td class="value"><%=select 'user', 'verified', [['Nei', false], ['Ja', true]] %> <%=link_to 'Send e-post med login link', {:action => :forgot_password, :user => {:email => @user.email}}, :method => :post %></td>
    </tr>
    <tr class="two_columns">
      <td class="prompt"><label>Rolle:</label></td>
      <td class="value"><%=select 'user', 'role', [['Medlem', nil], ['Administrator', UserSystem::ADMIN_ROLE]] %></td>
    </tr>
<% end %>
    <% if submit %>
     <tr>
       <td>
         <%= submit_tag user.new_record? ? 'Meld inn' : 'Lagre', :class => 'two_columns' %>
       </td>
     </tr>
    <% end %>
  </table>
</div>
