<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Endre passord', error: true %>

  <div class="form-padding">
    <p>
      Skriv inn ditt nye passord i feltene under og klikk på "Endre passord" for å lagre.
    </p>
    <%= form_tag url_for(action: controller.action_name) do %>
        <%= render 'password', user: @user, submit: false %>
        <div class="button-bar">
          <%= submit_tag 'Endre passord', class: 'btn btn-primary' %>
          <%= link_to 'Avbryt', action: :welcome %>
        </div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
    $('#user_password').focus();
<% end %>
