<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Edit User', :error => true %>

    <%=form_for(@user) do %>
      <%= render :partial => 'edit', :locals => {:user => @user, :submit => true} %>
    <% end %>
    </br>
    <%=form_tag(url_for(:action => "#{controller.action_name}")) do %>
      <%= render :partial => 'password', :locals =>  {:submit => true} %>
    <% end %>

    <%=form_tag(url_for(:action => "#{controller.action_name}")) do %>
      <div class="user_delete">
        <%= hidden_field 'user', 'form', :value => 'delete' %>
        <%= submit_tag 'Slett bruker' %>
      </div>
    <% end %>
  </div>
</div>
