<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Glemt passord' %>
   
  <div class="form-padding">
    <p>
      Skriv inn e-postadressen din i feltet under, og klikk <strong>Send veiledning</strong>
      for å motta en e-post med beskrivelse av hvordan du skal få tak i passordet ditt.
    </p>

    <%=form_tag(url_for(:action => "#{controller.action_name}")) do %>
      <%= text_field :user, :email, :size => 30, :placeholder => 'e-post' %><br/>

      <div class="button-bar">
        <%= submit_tag 'Send veiledning', :class => :btn %>
        <%= link_to 'Avbryt', :action => 'login' %>
      </div>
    <% end %>
  </div>
</div>                                                                          

<%= javascript_tag do %>
    $('#user_email').focus();
<% end %>
