<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Venligst logg inn' %>

  <div class="form-padding">
    <%=form_tag(url_for(:action => "#{controller.action_name}")) do %>
      <table>
        <tr class="two_columns">
          <td class="prompt"><label>Logg inn:</label></td>
          <td class="value"><%= text_field 'user', 'login', :style => 'width: 14em;' %></td>
        </tr>
        <tr class="two_columns">
          <td class="prompt"><label>Passord:</label></td>
          <td class="value"><%= password_field 'user', 'password', :style => 'width: 14em;' %></td>
        </tr>
      </table>

<p><label for="remember_me">Husk meg:</label>
<%=check_box_tag 'remember_me' %></p>

      <div class="button-bar">
        <%= submit_tag 'login' %>
        <%= link_to 'Registrer deg', :action => 'signup' %> |
        <%= link_to 'Glemt passord', :action => 'forgot_password' %>      </div>
    <% end %>
  </div>
</div>

<%=javascript_tag update_page {|page|
  page[:user_login].focus
}
%>                                                                                