<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Venligst logg inn' %>

  <div class="form-padding">
    <%= form_tag(url_for(:action => "#{controller.action_name}")) do %>
        <table width="100%">
          <tr>
            <td><label>Brukernavn</label></td>
            <td><%= text_field 'user', 'login', :style => 'width: 14em;' %> <small>e-post eller NKF medlemsnr</small></td>
          </tr>
          <tr>
            <td><label>Passord</label></td>
            <td><%= password_field 'user', 'password', :style => 'width: 14em;' %></td>
          </tr>
          <tr>
            <td/>
            <td>
              <label for="remember_me" class="checkbox">
                <%= check_box_tag 'remember_me' %> Husk meg
              </label>
            </td>
          </tr>
        </table>

        <div class="button-bar">
          <%= submit_tag 'Logg inn' %>
          <%= link_to 'Registrer deg', :action => 'signup' %> |
          <%= link_to 'Glemt passord', :action => 'forgot_password' %>      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
    $('#user_login').focus();
<% end %>
