<div title="<%= title_helper %>" class="form">
  <%= head_helper 'Venligst logg inn' %>

  <div class="form-padding">
    <%= form_tag(url_for(:action => "#{controller.action_name}"), :class => 'form-inline') do %>
        <table class="table">
          <tr>
            <td><label>Brukernavn</label></td>
            <td><%= text_field 'user', 'login', :class => 'input-large', :placeholder => 'e-post' %></td>
          </tr>
          <tr>
            <td><label>Passord</label></td>
            <td valign="top">
              <%= password_field 'user', 'password', :class => 'input-large' %>
            </td>
          </tr>
          <tr>
            <td/>
            <td>
              <label for="remember_me" class="checkbox">
                <%= check_box_tag 'remember_me' %> Husk meg på denne datamaskinen
              </label>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <%= submit_tag 'Logg inn', :class => :btn %>
              <%= submit_tag 'Glemt passord?', :class => :btn, :onclick => "form.action = '#{url_for(:action => :forgot_password)}'" %>
              <%= button_tag 'Registrer deg', :class => :btn, :onclick => "form.action = '#{url_for(:action => :signup)}'" %>
            </td>
          </tr>
        </table>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
    $('#user_login').focus();
<% end %>
