<div title="<%= title_helper %>" class="memo">
  <%= head_helper 'Velkommen', :notice => false, :message => false %>
  <p>
    Du er n책 logget p책 systemet og kan laste opp og se p책 interne bilder og filmer i
    "<%=link_to 'Galleriet', :controller => :images, :action => :gallery %>",
    "<%=link_to 'Mine media', :controller => :images, :action => :mine %>"
    eller "<%=link_to 'Min Embu', :controller => :embus %>"
  </p>
  <p>
    Hvis du lurer p책 noe, <%= link_to 'kontakt oss', :controller => :info, :action => :show, :id => :Kontakt %>.
  </p>
  <%= link_to 'logout', :action => 'logout' %>
</div>
