<h1>Editing survey</h1>

<%= render 'form' %>

<h3>Spørsmål</h3>

<table class="table">
  <% @survey.survey_questions.each do |question| %>
      <tr>
        <td>
          <%= question.title %>
        </td>
        <td><%=link_to 'Endre', question, class: 'btn btn-default'%></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Legg til spørsmål',
        new_survey_question_path(survey_question: {survey_id: @survey.id}),
        class: 'btn btn-default' %>

<%= link_to 'Show', @survey, class: 'btn btn-default' %> |
<%= back_or_link_to 'Tilbake', surveys_path, class: 'btn btn-primary' %>
