<% @content_width = 1024 %>

<%= link_to 'New Survey', new_survey_path, class: 'btn btn-primary pull-right' %>

<h1>Listing surveys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Title</th>
      <th>Category</th>
      <th>Group</th>
      <th>Expires at</th>
      <th>Header</th>
      <th>Footer</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.position %></td>
        <td><%= survey.title %></td>
        <td><%= survey.category %></td>
        <td><%= survey.group_id %></td>
        <td><%= survey.expires_at %></td>
        <td><%= survey.header %></td>
        <td><%= survey.footer %></td>
        <td><%= link_to 'Show', survey, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_survey_path(survey), class: 'btn btn-default' %>
        <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
