<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @survey.category %>
</p>

<p>
  <strong>Group:</strong>
  <%= @survey.group_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @survey.position %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @survey.expires_at %>
</p>

<p>
  <strong>Header:</strong>
  <%= @survey.header %>
</p>

<h3>Spørsmål</h3>

<% @survey.survey_questions.order(:position).each do |sq| %>
    <p><%= sq.title %></p>
<% end %>

<p>
  <strong>Footer:</strong>
  <%= @survey.footer %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
