<% [@news_item].each_with_index do |c, i| %>
  <div class="clearfix" style="margin:0 0 10px 0; padding-bottom: 5px;<%='border-bottom: 1px solid #CBC7BD' unless i == 0 %>">
    <p style="margin:0 0 10px 0; font-size:18px; color:#CD071E;"><%= c.title %></p>
    <% if false && c.image %>
      <img src="<%= url_for :only_path => false, :controller => :news_items, :action => :view_image, :id => c.id, :width => c.image_width_max(275), :format => @news_item.format %>" alt="Image" style="margin-left: 5px;" align="right" width="<%=c.image_width_max(275)%>" height="<%=c.image_height_at(275)%>" />
    <% end %>
    <%# = textalize c.heading unless c.heading.blank? %>
    <%= textalize(c.summary) %>
    <%= textalize(c.body) %>
    <br clear="all" />
  </div>
<% end %>
