<h1>Listing basic_technique_links</h1>

<table>
  <tr>
    <th>Basic technique</th>
    <th>Title</th>
    <th>Url</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @basic_technique_links.each do |basic_technique_link| %>
  <tr>
    <td><%= basic_technique_link.basic_technique_id %></td>
    <td><%= basic_technique_link.title %></td>
    <td><%= basic_technique_link.url %></td>
    <td><%= basic_technique_link.position %></td>
    <td><%= link_to 'Show', basic_technique_link %></td>
    <td><%= link_to 'Edit', edit_basic_technique_link_path(basic_technique_link) %></td>
    <td><%= link_to 'Destroy', basic_technique_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Basic technique link', new_basic_technique_link_path %>
