<%= form_for(@event_invitee) do |f| %>
    <% if @event_invitee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_invitee.errors.count, "error") %> prohibited this event_invitee from being
            saved:</h2>

          <ul>
            <% @event_invitee.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :hendelse %>:
      <%= @event_invitee.event.try :name %>
      <%= f.hidden_field :event_id %>
    </div>

    <fieldset title="Kontaktinformasjon">
      <legend>Bruker</legend>
    <div class="field">
      <%= f.select :user_id, [['', nil]] + @users.map { |u| [u.name, u.id] } %>
      <%=link_to('(bruker)', :controller => :user, :action => :edit, :id => @event_invitee.user_id) if @event_invitee.user_id %>
    </div>
      </fieldset>
    <% if @event_invitee.user.nil? %>
        eller

        <fieldset title="Kontaktinformasjon">
          <legend>Kontaktinformasjon</legend>

          <div class="field">
            <%= f.label :navn %>
            <br/>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :organisasjon %>
            <br/>
            <%= f.text_field :organization %>
          </div>
          <div class="field">
            <%= f.label :adresse %>
            <br/>
            <%= f.text_area :address, :rows => 4, :cols => 64 %>
          </div>
          <div class="field">
            <%= f.label :"e-post" %>
            <br/>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :telefon %>
            <br/>
            <%= f.text_field :phone %>
          </div>
        </fieldset>
    <% end %>
    <div class="field">
      <%= f.label 'Vil delta' %>
      <br/>
      <%= f.select :will_attend, [['', nil], ['Ja', true], ['Nei', false]] %>
    </div>
    <div class="field">
      Vil hjelpe til
      <br/>
      <%= f.select :will_work, [['', nil], ['Ja', true], ['Nei', false]] %>
    </div>
    <div class="field">
      <%= f.label :betalt %>
      <br/>
      <%= f.text_field :payed %>
    </div>
    <div class="field">
      <%= f.label :kommentar %>
      <br/>
      <%= f.text_area :comment, :rows => 5 %>
    </div>
    <div class="actions">
      <%= f.submit %>
      <%= back_or_link_to 'Tilbake', event_invitees_path %>
    </div>
<% end %>
