<%= form_for @graduation do |f| %>
    <%= f.error_messages %>

    <div class="form-group">
      <%= f.label :held_on, 'Dato' %>
      <%= f.text_field :held_on, size: 18, class: 'date form-control', style: 'width: 7.5em' %>
      <% if @graduation.held_on %>
          <% if @graduation.held_on == Date.today %>
              I DAG!
          <% elsif @graduation.held_on > Date.today %>
              Om <%= (@graduation.held_on - Date.today).to_i %> dager.
          <% else %>
              For <%= Date.today - @graduation.held_on %> dager siden.
          <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :group_id, 'Gruppe' %>
      <%= f.select :group_id, @groups.map { |c| [c.name, c.id] }, {}, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Lagre', :class => 'btn btn-primary' %>

      <% unless @graduation.new_record? %>
          <%= link_to 'Vis', {:action => 'show', :id => @graduation}, :class => 'btn btn-default' %>
      <% end %>
      <%= back_or_link_to 'Tilbake', {:action => :index}, :class => 'btn btn-default' %>
    </div>
<% end %>
