<% if @censors.any? %>
    <% cmax = 4 %>

    <table width="100%" STYLE="border: 1px solid #000000;" cellspacing="0" cellpadding="0">
      <tr STYLE=" background: #e3e3e3;">
        <th style="text-align: left; border-bottom: 1px solid #000000;" colspan="<%= cmax*2 %>">Sensor</th>
      </tr>

      <% @censors.each_with_index do |cen, i|
          fn = cen.member && cen.member.first_name.split(/\s+/).each { |x| x.capitalize! }.join(' ')
          ln = cen.member && cen.member.last_name.split(/\s+/).each { |x| x.capitalize! }.join(' ')
          name = "#{fn} #{ln}"

          if i % cmax == 0 %>
              <tr>
          <% end %>

          <td style='padding-left: 1em' width=25% nowrap='true'>
            <%= name %>
            <a href="#" onClick='removeCensor(<%=cen.id%>, "<%=name%>");'>
              <img src="<%=asset_path 'button-delete-16x16.png'%>" style="border: 0;" title="Slett sensor <%= name %>" ALT="Slett sensor <%= name %>"></a>
          </td>

          <% if i % cmax == (cmax - 1) %>
              </tr>
          <% end %>
      <% end %>
      <% if @censors.size % cmax > 0 %>
          <% (cmax - @censors.size).times do %>
              <td colspan=2>&nbsp;</td>
          <% end %>
          </tr>
      <% end %>

    </table>
    <br/>
<% end %>

<% if @graduates.any? %>
    <table width="100%" STYLE="border: 1px solid #000000;" cellspacing="0" cellpadding="0">
      <tr STYLE=" background: #e3e3e3;">
        <th STYLE="text-align: left; border-bottom: 1px solid #000000;">Medlem (<%=@graduates.size%>)</th>
        <th STYLE="border-bottom: 1px solid #000000;">Grad</th>
        <th STYLE="border-bottom: 1px solid #000000;">Bestått</th>
        <!--
        <th STYLE="border-bottom: 1px solid #000000;">Bet.Grad</th>
        <th STYLE="border-bottom: 1px solid #000000;">Bet.Belte</th>
        -->
        <th STYLE="border-bottom: 1px solid #000000;" COLSPAN="4">&nbsp;</th>
      </tr>

      <%
         for gr in @graduates
             mbr = gr.member
             fn = mbr.first_name.split(/\s+/).each { |x| x.capitalize! }.join(' ')
             ln = mbr.last_name.split(/\s+/).each { |x| x.capitalize! }.join(' ')
      %>
          <tr id='graduate_<%= gr.id %>_view' style="vertical-align: top;">
            <% below_minimum_age = mbr.age && mbr.age < gr.rank.minimum_age %>
            <% not_in_age_group = !(gr.rank.group.from_age..gr.rank.group.to_age).include?(mbr.age) %>
            <td valign='top'>
              <%=link_to "#{fn} #{ln}", :controller => :members, :action => :edit, :id => mbr.id %>
              <% if below_minimum_age || not_in_age_group %>
                  (<span style="color: red; white-space: nowrap"><%=mbr.age %> år</span>)
              <% end %>
            </td>
            <td STYLE="text-align: left;">
              <%= gr.rank.name %> <%= gr.rank.colour %>
              <% graduated = gr.member.graduates.find { |gr2| gr2 != gr && gr2.passed && gr2.rank_id == gr.rank_id } %>
              <% if graduated %>
                  <br/><span style="color: red">Har allerede bestått denne graden (<%=link_to graduated.graduation.held_on, :id => graduated.graduation_id%>).</span>
              <% else %>
              <% next_rank = mbr.next_rank(@graduation) %>
              <% current_graduate = mbr.current_graduate(@graduation.martial_art, @graduation.held_on) %>
              <% if next_rank && gr.rank != next_rank %>
                  <% if current_graduate %>
                      <br/>Har <%=current_graduate.rank.name %> fra <%=link_to %Q{<font color="red">#{current_graduate.graduation.held_on}</font>}.html_safe, :controller => :graduations, :action => :index, :id => current_graduate.graduation.id %>
                  <% else %>
                      <br/>Har ingen grad fra før.
                  <% end %>
                  <br/><font color="red">Anbefalt neste grad er <%= next_rank.name %>.</font>
              <% end %>
              <% if below_minimum_age %>
                  <br/><span style="color: red">Aldersgrense for <%=gr.rank.name%> er <%=gr.rank.minimum_age%> år.</span>
              <% elsif not_in_age_group %>
                  <br/><span style="color: red">Aldersgruppe for <%=gr.rank.name%> er <%=gr.rank.group.from_age%>-<%=gr.rank.group.to_age%> år.</span>
              <% end %>
              <% future_graduates = mbr.future_graduates(@graduation) %>
              <% future_graduates.select{|fg| fg.rank.position < gr.rank.position}.each do |fg| %>
                <br/>(konflikt: <%=link_to %Q{<font color="red">#{fg.rank.name} #{fg.graduation.held_on}</font>}.html_safe, :controller => :graduations, :action => :index, :id => fg.graduation.id %>)
              <% end %>

              <% training_attendances = gr.training_attendances
                 minimum_attendances = gr.minimum_attendances
                 if training_attendances == 0 %>
                  <br/><span style="color: red">Har ikke vært på trening siden <%=current_graduate ? 'forrige gradering' : 'innmelding'%> (<%=gr.training_start_date%>).</span>
              <% elsif training_attendances < minimum_attendances %>
                      <br/>Har bare vært på <%=link_to "#{training_attendances} trening#{'er' if training_attendances > 1}", {:controller => :attendances, :action => :since_graduation, :id => mbr.id}, :style => "color: red" %> siden <%=current_graduate ? 'forrige gradering' : 'innmelding'%> (<%=gr.training_start_date%>).
                      <br/>Minimum er <%= minimum_attendances %>
                           <% if minimum_attendances <= gr.registered_trainings %>av <%=gr.registered_trainings %><% end %>
                           registrerte treninger.
              <% end %>

              <% if gr.member.left_on && gr.member.left_on < gr.graduation.held_on %>
                  <br/><span style="color: red">Deltakeren er utmeldt.</span>
              <% end %>
              <% end %>
            </td>

        <td STYLE="text-align: center;"><%= gr.passed ? 'Ja' : 'Nei' %></td>
        <!--
        <td STYLE="text-align: center;"><%= gr.paid_graduation ? 'Ja' : 'Nei' %></td>
        <td STYLE="text-align: center;"><%= gr.paid_belt ? 'Ja' : 'Nei' %></td>
        <td STYLE="text-align: center;"><A HREF="/graduates/list/<%= gr.member_id %>">
      <IMG SRC="<%=asset_path 'button-view-16x16.png'%>" STYLE="border: 0;" title="Oversikt" ALT="Oversikt"></A></td>
        -->

            <td STYLE="text-align: center;"><A HREF='#' onClick='saveGraduateInfo(<%=gr.id%>)'>
              <IMG SRC="<%=asset_path 'button-edit-16x16.png'%>" STYLE="border: 0;" title="Endre" ALT="Endre"></A></td>
            <td STYLE="text-align: center;"><A HREF='#' onClick='removeGraduate(<%=gr.id%>,"<%=fn%> <%=ln%>")'>
              <IMG SRC="<%=asset_path 'button-delete-16x16.png'%>" STYLE="border: 0;" title="Slett" ALT="Slett"></A></td>
          </tr>
          <tr id='graduate_<%= gr.id %>_edit' STYLE='display: none;'>
            <td><%= fn %> <%= ln %></td>
            <td style="text-align: center;">
              <% ma_id, member_id, row_id = gr.graduation.martial_art_id, gr.id, gr.rank.id %>
              <% @mranks = Rank.all(:conditions => "martial_art_id = #{ma_id}", :order => 'position') %>
              <select style='width: 72px; height: 18px;' name='rank_row_<%= member_id %>' id='rank_row_<%= member_id %>'>
                <% for rank in @mranks %>
                    <option <%='SELECTED' if row_id == rank.id%> VALUE='<%=rank.id %>' <%='style="font-weight: bold"' if rank == mbr.next_rank(gr.graduation)%> ><%= rank.name %><%='*' if rank == mbr.next_rank(gr.graduation)%></option>
                <% end %>
              </select>
            </td>

            <td STYLE="text-align: center;"><%= yes_no_select('passed', gr.passed, gr.id) %></td>
            <!--
            <td STYLE=\"text-align: center;\">#{yes_no_select('paid_grad', gr.paid_graduation, gr.id)}</td>
            <td STYLE=\"text-align: center;\">#{yes_no_select('paid_belt', gr.paid_belt, gr.id)}</td>
            -->

            <td STYLE="text-align: center;">&nbsp;</td>
            <td STYLE="text-align: center;"><A HREF='#' onClick='saveGraduateInfo(<%=gr.id%>)'>
              <IMG SRC="<%=asset_path 'button-ok-16x16.png'%>" STYLE="border: 0;" title="Lagre" ALT="Lagre"></A></td>
            <td STYLE="text-align: center;"><A HREF='#' onClick='cancelSaveGraduateInfo(<%=gr.id%>)'>
              <IMG SRC="<%=asset_path 'button-cancel-16x16.png'%>" STYLE="border: 0;" title="Avbryt" ALT="Avbryt"></A></td>
          </tr>

      <% end %>
    </table>
<% end %>
