<% @content_width = 1024 %>

<%= link_to 'Til listen', {action: :index}, class: 'btn btn-default pull-right' %>
<% if @graduation.held_on < Date.today && @approval %>
    <% if @approval.approved_grades_at.nil? %>
        <%= link_to 'Godkjenn', {action: :approve, id: @graduation.id},
                class: 'btn btn-primary pull-right', method: :post %>
    <% else %>
        <div class="btn btn-success pull-right">Godkjent</div>
    <% end %>
<% end %>

<h2>Gradering <%= @graduation.group.name %> <%= @graduation.held_on %></h2>

<ul class="nav nav-tabs">
  <li class="active"><a href="#graduates" data-toggle="tab">Deltakere</a></li>
  <li><a href="#censors" data-toggle="tab">
    Eksaminatorer / Sensorer</a>
  <li><a href="#forms" data-toggle="tab">Skjema</a></li>
  <li><a href="#shopping-list" data-toggle="tab">Handleliste belter</a></li>
  <li><a href="#form" data-toggle="tab">Dato / Gruppe</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="graduates">
    <% if @graduation.graduates.any? %>
        <table class="table col-md-9">
          <thead>
          <tr>
            <th>Deltakere (<%= @graduation.graduates.size %>)</th>
            <% unless @graduation.group.school_breaks? %>
                <th>Bestått</th>
            <% end %>
            <th>Grad</th>
            <th>Fjern</th>
          </tr>
          </thead>
          <tbody>
          <% @graduation.graduates.sort_by { |gr| -gr.rank.position }.each do |gr| %>
              <%= render 'graduates/row', graduate: gr %>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>Det er ikke lagt til noen deltakere på denne graderingen enda.</p>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <%= form_for @graduation,
                url: with_detour(controller: :graduations, action: :add_group, id: @graduation.id) do |f| %>
            <div class="input-group">
              <%= select_tag :group_id, options_for_select([['Velg gruppe', nil]] + @groups.map { |g| [g.name, g.id] }, @graduation.group_id),
                      class: 'form-control' %>
              <span class="input-group-btn">
              <%= f.submit 'Legg til alle', class: 'btn btn-default' %>
          </span>
            </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form_for @graduate, url: with_detour(graduates_path),
                html: {method: :post} do |f| %>
            <%= f.hidden_field :graduation_id %>
            <div class="input-group">
              <%= f.select :member_id,
                      grouped_options_for_select(@excluded_members.map { |g, members| [g.name, members.map{|m| ["#{m.name} #{m.age(@graduation.held_on)} år", m.id]}] }),
                      {prompt: 'Velg deltaker'}, class: 'form-control', onchange: 'form.submit()' %>
              <span class="input-group-btn">
          <%= f.submit 'Legg til', class: 'btn btn-default' %>
        </span>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="censors">
    <%= render 'censors_tab' %>
  </div>

  <div class="tab-pane" id="shopping-list">
    <%= render 'shopping_list' %>
  </div>

  <div class="tab-pane" id="forms">
    <%= render 'forms_tab' %>
  </div>

  <div class="tab-pane" id="form">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>

</div>

<%= javascript_tag do %>
    $('a[data-method=delete]').bind('ajax:success', function(event, data, status, xhr) {
    $(event.target).closest('tr').remove();
    $(event.target).closest('.row').remove();
    });
<% end %>
