<% @content_width = 1024 %>

<div class="btn-toolbar pull-right">
  <% if @approval && @graduation.held_on && @graduation.held_on < Date.current %>
      <% if @approval.approved_grades_at.nil? %>
          <%= link_to 'Godkjenn', {action: :approve, id: @graduation.id},
              class: 'btn btn-primary', method: :post %>
      <% else %>
          <div class="btn btn-success">Godkjent</div>
      <% end %>
  <% end %>
  <%= link_to 'Til listen', {action: :index}, class: 'btn btn-default' %>
</div>

<h2>Gradering <%= @graduation.group.name %> <%= @graduation.held_on %></h2>

<ul class="nav nav-tabs">
  <li class="active"><a href="#graduates" data-toggle="tab">Deltakere</a></li>
  <li><a href="#censors" data-toggle="tab">
    Eksaminatorer / Sensorer</a>
  <li><a href="#forms" data-toggle="tab">Skjema</a></li>
  <li><a href="#shopping-list" data-toggle="tab">Handleliste belter</a></li>
  <li><a href="#form" data-toggle="tab">Dato / Gruppe</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="graduates">
    <%=render 'graduates_tab' if @graduation.held_on%>
  </div>

  <div class="tab-pane" id="censors">
    <%= render 'censors_tab' if @graduation.held_on %>
  </div>

  <div class="tab-pane" id="shopping-list">
    <%= render 'shopping_list' %>
  </div>

  <div class="tab-pane" id="forms">
    <%= render 'forms_tab' %>
  </div>

  <div class="tab-pane" id="form">
    <%= render 'form' %>
  </div>
</div>

<%= javascript_tag do %>
    $('a[data-method=delete]').bind('ajax:success', function(event, data, status, xhr) {
    $(event.target).closest('tr').remove();
    $(event.target).closest('.row').remove();
    });
<% end %>
