<% @content_width = 1024 %>

<% if @graduation.held_on < Date.today && @approval %>
    <% if @approval.approved_grades_at.nil? %>
        <%= link_to 'Godkjenn', {:action => :approve, :id => @graduation.id},
                :class => 'btn btn-primary pull-right', :method => :post %>
    <% else %>
        <div class="btn btn-success pull-right">Godkjent</div>
    <% end %>
<% end %>

<h2>Gradering <%= @graduation.group.name %> <%= @graduation.held_on %></h2>

<ul class="nav nav-tabs">
  <li class="active"><a href="#graduates" data-toggle="tab">Deltakere</a></li>
  <li><a href="#censors" data-toggle="tab">
    Eksaminatorer / Sensorer</a>
  <li><a href="#forms" data-toggle="tab">Skjema</a></li>
  <li><a href="#form" data-toggle="tab">Dato / Gruppe</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="graduates">
    <% if @graduation.graduates.any? %>
        <table class="table col-md-9">
          <thead>
          <tr>
            <th>Deltakere (<%= @graduation.graduates.size %>)</th>
            <% unless @graduation.group.school_breaks? %>
                <th>Bestått</th>
            <% end %>
            <th>Grad</th>
            <th>Fjern</th>
          </tr>
          </thead>
          <tbody>
          <% @graduation.graduates.sort_by { |gr| -gr.rank.position }.each do |gr| %>
              <%= render 'graduates/row', :graduate => gr %>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p>Det er ikke lagt til noen deltakere på denne graderingen enda.</p>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <%= form_for @graduation,
                :url => with_detour(:controller => :graduations, :action => :add_group, :id => @graduation.id) do |f| %>
            <div class="input-group">
              <%= select_tag :group_id, options_for_select([['Velg gruppe', nil]] + @groups.map { |g| [g.name, g.id] }, @graduation.group_id),
                      :class => 'form-control' %>
              <span class="input-group-btn">
              <%= f.submit 'Legg til alle', :class => 'btn btn-default' %>
          </span>
            </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form_for @graduate, :url => with_detour(graduates_path),
                :html => {:method => :post} do |f| %>
            <%= f.hidden_field :graduation_id %>
            <div class="input-group">
              <%= f.select :member_id, [['Velg deltaker', nil]] + @members.map { |m| [m.name, m.id] },
                      {}, :class => 'form-control', :onchange => 'form.submit()' %>
              <span class="input-group-btn">
          <%= f.submit 'Legg til', :class => 'btn btn-default' %>
        </span>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="censors">
    <div class="row">
      <div class="col-md-3">
        <h4>Eksaminatorer</h4>

        <div id="examiners_row" class="row">
          <% @graduation.censors.select { |c| c.examiner }.each do |cen| %>
              <div class="col-md-12">
                <%= link_to({:controller => :censors, :action => :destroy, :id => cen.id},
                        :data => {:remote => true, :method => :delete}) do %>
                    <img src="<%= asset_path 'button-delete-16x16.png' %>" style="border: 0;" title="Slett eksaminator <%= cen.member.name %>" ALT="Slett eksaminator <%= cen.member.name %>"/>
                <% end %>
                <%= cen.member.name %>
              </div>
          <% end %>
        </div>
        <br/>

        <%= form_for @censor, :url => with_detour(censors_path), :html => {:method => :post} do |f| %>
            <%= f.hidden_field :graduation_id %>
            <%= f.hidden_field :examiner, :value => 1 %>

            <div class="input-group">
              <%= f.select :member_id, ['Velg instruktør'] + @instructors.map { |m| [m.name, m.id] }.sort,
                      {}, :class => 'form-control', :onchange => 'form.submit()' %>
              <span class="input-group-btn">
              <%= f.submit 'Legg til', :class => 'btn btn-default' %>
            </span>
            </div>
        <% end %>
      </div>

      <div class="col-md-9">
        <h4>Sensorer</h4>

        <div id="censors_row" class="row">
          <% @graduation.censors.each do |cen| %>
              <div class="col-md-4">
                <%= link_to({:controller => :censors, :action => :destroy, :id => cen.id},
                        :data => {:remote => true, :method => :delete}) do %>
                    <img src="<%= asset_path 'button-delete-16x16.png' %>" style="border: 0;" title="Slett sensor <%= cen.member.name %>" ALT="Slett sensor <%= cen.member.name %>"/>
                <% end %>
                <%= cen.member.name %>
                <%= '(Godkjent)' if cen.approved_grades_at %>
              </div>
          <% end %>
        </div>
        <br/>
        <%= form_for @censor, :url => with_detour(censors_path), :html => {:method => :post} do |f| %>
            <%= f.hidden_field :graduation_id %>

            <div class="input-group">
              <%= f.select :member_id, ['Velg sensor'] + @instructors.map { |m| [m.name, m.id] }.sort,
                      {}, :class => 'form-control', :onchange => 'form.submit()' %>
              <span class="input-group-btn">
              <%= f.submit 'Legg til', :class => 'btn btn-default' %>
            </span>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="forms">
    <ul>
      <li>Sensor:
        <%= link_to 'PDF', :action => :censor_form_pdf, :id => @graduation.id %>
        /
        <%= link_to 'HTML', :action => :censor_form, :id => @graduation.id %>
      </li>
      <li><%= link_to 'Diplomer', {:action => :certificates, :id => @graduation.id} %></li>
    </ul>
  </div>

  <div class="tab-pane" id="form">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>

</div>

<%= javascript_tag do %>
    $('a[data-method=delete]').bind('ajax:success', function(event, data, status, xhr) {
    $(event.target).closest('tr').remove();
    $(event.target).closest('.row').remove();
    });
<% end %>
