<% @content_width = 1024 %>

<%= link_to new_graduation_path, class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Ny gradering
<% end %>

<h1>Graderinger</h1>

<% year = month = date = nil %>

<table class="table">
  <% @graduations.each do |held_on, graduations| %>
      <tr>
        <th>
          <% if held_on.cwyear != year %>
              <% year = held_on.cwyear %>
              <%= held_on.cwyear %>
          <% end %>
        <th>
          <% if held_on.month != month %>
              <% month = held_on.month %>
              <%= t(Date::MONTHNAMES[held_on.month]) %>
          <% end %>
        <th>
          <% if held_on != date %>
              <% date = held_on %>
              <%= held_on %>
          <% end %>
        </th>
        </th>
        <% @groups.each do |group| %>
            <td>
              <% if g = graduations.find { |gr| gr.group_id == group.id } %>
                  <%= link_to g.group.name, edit_graduation_path(g) %>
                  <% if g.graduates.empty? %>
                      (<%= link_to 'Slett', graduation_path(g), :method => :delete %>
                      )
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>
