<h1>Graderingsoversikt</h1>

<table WIDTH="400" STYLE="border: 1px solid #000000;" CELLSPACING="0" CELLPADDING="0">
  <tr STYLE=" background: #e3e3e3;">
    <th STYLE="border-bottom: 1px solid #000000;">Dato</th>
    <th STYLE="border-bottom: 1px solid #000000;">Stilart</th>
	<th STYLE="border-bottom: 1px solid #000000;" COLSPAN="2">&nbsp;</th>
  
<% for graduation in @graduations %>
  <tr>
  	<td ALIGN="CENTER"><%=h graduation.held_on %></td>
  	<td ALIGN="CENTER"><%=h graduation.martial_art.name %></td>
    <td>
    	<!-- %= link_to 'Show', :action => 'show', :id => graduation % -->
		<%= menu_item 'List', :controller => 'graduates', :action => :list_graduates, :id => graduation.id %>
	</td>
    <td><%= link_to 'Edit', :action => 'edit', :id => graduation %></td>
    <!-- td>< %= link_to 'Destroy', { :action => 'destroy', :id => graduation }, :confirm => 'Are you sure?', :method => :post % ></td -->
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @graduation_pages.current.previous } if @graduation_pages.current.previous %>
<%= link_to 'Next page', { :page => @graduation_pages.current.next } if @graduation_pages.current.next %> 

<br />

<%= link_to 'New graduation', :action => 'new' %>
