<% @content_width = 1024 %>

<h1>Graderingsoversikt</h1>
<script language="JavaScript1.2">
<!-- 
var CONST_AJAX_UNINITIALIZED    = 0;
var CONST_AJAX_LOADING		    = 1;
var CONST_AJAX_RH_RECEIVED	    = 2;
var CONST_AJAX_SOME_RB_RECEIVED = 3;
var CONST_AJAX_COMPLETE	        = 4;
var CONST_AJAX_HTTP_OK          = 200;
var CONST_AJAX_JAVA_ERROR       = 500;

var firefox = document.getElementById && !document.all;

function initAjax() {
	var xmlHttp;
	try {				// Firefox, Opera 8.0+, Safari
		xmlHttp = new XMLHttpRequest();
	} catch (e) {
		try {			// Internet Explorer 6.x
			xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			try {		// Internet Explorer 5.x
				xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
			} catch (e) {
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	return xmlHttp;
}

// Sets and replace content in referenced object
function setObjectData(ref, file) {
	var xmlHttp = initAjax();
	var obj = document.getElementById(ref);
	var debug = document.getElementById('debug');
	
	if(xmlHttp) {
		xmlHttp.onreadystatechange=function() {
			if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
					if(xmlHttp.status == CONST_AJAX_HTTP_OK) {
						obj.innerHTML = xmlHttp.responseText;
						debug.innerHTML = ""; 
					} else {
						obj.innerHTML = "<font color='#ff0000'>" + 
						                "Det oppstod en feil (" + xmlHttp.status + ")</font>";
					}
			}
		}
		xmlHttp.open("GET", file, true);
		xmlHttp.send(null);
	}
}
function callAjaxObject(file, object) {
	var xmlHttp = initAjax();
    var debug = document.getElementById('debug');

	if(xmlHttp) {
		xmlHttp.onreadystatechange=function() {
			if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
					if(xmlHttp.status != CONST_AJAX_HTTP_OK) {
						debug.innerHTML = "<font color='#ff0000'>" +
						                "Det oppstod en feil (" + xmlHttp.status + ")</font>";
					} else {
						debug.innerHTML = ""; 
					}
			}
		}
		xmlHttp.open("POST", file, true);
        add_csrf_header(xmlHttp);
		xmlHttp.send(null);
	}
}

function hide_glist() {
	var tlist = document.getElementById('glist');
	tlist.innerHTML = '<%=image_tag 'kubinage.png'%>';
}

function show_glist(file) {
	var	tlist = document.getElementById('glist');
	var debug = document.getElementById('debug');
	var xmlHttp = initAjax();
	tlist.style.display = '';
	
	if(xmlHttp) {
		xmlHttp.onreadystatechange=function() {
			if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
					if(xmlHttp.status == CONST_AJAX_HTTP_OK) {
						tlist.innerHTML = xmlHttp.responseText;
						debug.innerHTML = ""; 
					} else {
						debug.innerHTML = "<font color='#ff0000'>" + 
						                  "Det oppstod en feil (" + xmlHttp.status + ")</font>";
					}
			}
		}
		xmlHttp.open("GET", file, true);
		xmlHttp.send(null);
	}
}

function add_csrf_header(request) {
    var csrf_meta_tag = $$('meta[name=csrf-token]')[0];

    if (csrf_meta_tag) {
      var header = 'X-CSRF-Token',
          token = csrf_meta_tag.readAttribute('content');

      request.setRequestHeader(header,  token);
    }
}

function add_censor(c_id, name){
	var pvalues;
	
	var maObj = document.getElementById('held_on_id');
	var maIdent = maObj.selectedIndex;
	var grObj = document.getElementById('grader_' + maObj.options[maIdent].value);
	var grIdent = grObj.selectedIndex;
	
	pvalues = "graduation_id=" + grObj.options[grIdent].value + "&" +
	          "member_id=" + c_id + "&name=" + name;

	var xmlHttp = initAjax();
	var debug = document.getElementById("debug");
	
	if(xmlHttp) {
		xmlHttp.onreadystatechange = function() {
			if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
					if(xmlHttp.status != CONST_AJAX_HTTP_OK) {
						alert("Det oppstod en feil (" + xmlHttp.status + ")");
						debug.innerHTML = "<font color='#ff0000'>" + 
						                  "Det oppstod en feil (" + xmlHttp.status + ")</font>";
					} else {
						changeGraduationData();
						debug.innerHTML = ""; 
					}
			}
		}
		xmlHttp.open("POST", "/censors/add_new_censor", true);
		xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        add_csrf_header(xmlHttp);
		xmlHttp.send(pvalues);
	}
}

function add_graduate(c_id){
	var pvalues;
	
	var maObj = document.getElementById('held_on_id');
	var maIdent = maObj.selectedIndex;
	var grObj = document.getElementById('grader_' + maObj.options[maIdent].value);
	var grIdent = grObj.selectedIndex;
	
	pvalues = "graduation_id=" + grObj.options[grIdent].value+
	          "&member_id=" + c_id +
			  "&martial_arts_id=" + maObj.options[maIdent].value;

	var xmlHttp = initAjax();
	var debug = document.getElementById("debug");
	
	if(xmlHttp) {
		xmlHttp.onreadystatechange=function() {
			if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
					if(xmlHttp.status != CONST_AJAX_HTTP_OK) {
						debug.innerHTML = "<font color='#ff0000'>" + 
						                  "Det oppstod en feil (" + xmlHttp.status + ")</font>";
					} else {
						debug.innerHTML = xmlHttp.responseText + "<br>";
						changeGraduationData();
					}
			}
		}
		xmlHttp.open("POST", "/graduates/add_new_graduate", true);
		xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        add_csrf_header(xmlHttp);
		xmlHttp.send(pvalues);
	}
    document.getElementById('potential_graduate_' + c_id).replace('');
}

function changeStyle() {
	var obj = document.getElementById('held_on_id')
	var myIndex = obj.selectedIndex;
	var myId = obj.options[myIndex].value;
	
	for(var i = 0; i < obj.length; i++) {
		var tmp = null;
		if(tmp = document.getElementById('ma_grad_' + obj.options[i].value)) {
			tmp.style.display = 'none';
		}
	}
	
	var obj = document.getElementById('ma_grad_' + myId);
	obj.style.display = '';

	changeGraduationData();
}

function changeGraduationData() {
	var obj = document.getElementById('held_on_id')
	var objIndex = obj.selectedIndex;
	var objId = obj.options[objIndex].value;
	
	var myIndex = document.getElementById('grader_' + objId).selectedIndex;
	try {
		var myId = document.getElementById('grader_' + objId).options[myIndex].value;
		setObjectData('results', '/graduations/list_graduates/' + myId);
        document.getElementById('certificates_link').href = '<%=url_for(:action => :certificates, :id => '')%>' + myId;
	} catch(e) {
		document.getElementById('results').innerHTML = ""
	}
}

function deleteGraduation() {
	var maObj = document.getElementById('held_on_id');
	var maIdent = maObj.selectedIndex;
	var grObj = document.getElementById('grader_' + maObj.options[maIdent].value);
	var grIdent = grObj.selectedIndex;
	if (confirm('Er du sikker på at du vil slette gradering for ' + grObj.options[grIdent].text + '?')) {
		callAjaxObject('/graduations/destroy/' + grObj.options[grIdent].value, null);
		grObj.remove(grIdent);
		grObj.selectedIndex = 0;
		changeStyle();
	}
}

function removeGraduate(id, name) {
	if (confirm('Er du sikker på at du vil slette ' + name + ' fra denne graderingen ?')) {
        document.getElementById('graduate_' + id + '_view').replace('');
        document.getElementById('graduate_' + id + '_edit').replace('');
		callAjaxObject('/graduates/destroy/' + id, null);
		changeStyle();
	}
}

function removeCensor(id, name) {
	if (confirm('Er du sikker på at du vil slette ' + name + ' som sensor fra denne graderingen ?')) {
		callAjaxObject('/censors/destroy/' + id, null);
		changeStyle();
	}
}

function saveGraduateInfo(graduate_id) {
	var showObj = document.getElementById("graduate_" + graduate_id + "_view");
	var editObj = document.getElementById("graduate_" + graduate_id + "_edit");
	if(showObj.style.display == '') {
		// Edit
		showObj.style.display = 'none';
		editObj.style.display = '';
	} else {
		// Save
		editObj.style.display = 'none';
		showObj.style.display = '';
		var rrObj = document.getElementById('rank_row_' + graduate_id);
		var rrVal = rrObj.value;
//		var prObj = document.getElementById('passed_row_' + graduate_id);
//		var prVal = prObj.value;
//		var pgObj = document.getElementById('paid_grad_row_' + graduate_id);
//		var pgVal = pgObj.value;
//		var pbObj = document.getElementById('paid_belt_row_' + graduate_id);
//		var pbVal = pbObj.value;

//        pvalues = "graduate_id=" + graduate_id + "&rank_id=" + rrVal +
//      		          "&passed=" + prVal + "&" + "paid=" + pgVal +
//      				  "&paid_belt=" + pbVal;

        pvalues = "graduate_id=" + graduate_id + "&rank_id=" + rrVal;

		var xmlHttp = initAjax();
		var debug = document.getElementById("debug");
//        debug.InnerHTML += 'Saving ' + graduate_id + ' ' + rrVal + ' ' + prVal + ' ' + pgVal + ' ' + pbVal;
        debug.InnerHTML += 'Saving ' + graduate_id + ' ' + rrVal;
		if(xmlHttp) {
			xmlHttp.onreadystatechange=function() {
				if(xmlHttp.readyState == CONST_AJAX_COMPLETE) {
						if(xmlHttp.status != CONST_AJAX_HTTP_OK) {
							debug.innerHTML = "<font color='#ff0000'>" + 
						                      "Det oppstod en feil (" + xmlHttp.status + ")</font>"; 
						} else {
							debug.innerHTML = xmlHttp.responseText + "<br>";
							changeGraduationData();
						}
				}
			}
			xmlHttp.open("POST", "/graduates/update_graduate", true);
			xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
            add_csrf_header(xmlHttp);
			xmlHttp.send(pvalues);
		}
	}
}

function cancelSaveGraduateInfo(graduate_id) {
	var showObj = document.getElementById('graduate_' + graduate_id + "_view");
	var editObj = document.getElementById('graduate_' + graduate_id + "_edit");
	
	if(showObj.style.display == '') {
		// Edit
		showObj.style.display = 'none';
		editObj.style.display = '';
	} else {
		// Save
		editObj.style.display = 'none';
		showObj.style.display = '';
		var rrObj = document.getElementById('rank_row_' + graduate_id);
		rrObj.reset;
//		var prObj = document.getElementById('passed_row_' + graduate_id);
//		prObj.reset;
//		var pgObj = document.getElementById('paid_grad_row_' + graduate_id);
//		pgObj.reset;
//		var pbObj = document.getElementById('paid_belt_row_' + graduate_id);
//		pbObj.reset;
	}
	//changeGraduationData();
}
-->
</script>

<!-- %= button_to 'Importer data fra CSV', :action => 'import'% -->
<P>

<table border="0" WIDTH="868" CELLSPACING="0" CELLPADDING="0">
	<tr><td valign="top" WIDTH="700">
<table STYLE="border-top: 1px solid #000000;" WIDTH="700" CELLSPACING="0" CELLPADDING="0">
  <tr STYLE="background: #e3e3e3;">
    <th STYLE="border-bottom: 1px solid #000000;">Stilart</th>
    <th STYLE="border-bottom: 1px solid #000000;">Dato for gradering</th>
	<th STYLE="border-bottom: 1px solid #000000;">Diplomer</th>
  </tr>
  <tr>
	<td colspan="2">&nbsp;</td>
  </tr>
  <tr>
	<form name="ma_form">
	<td ALIGN="center">
		<select name="ma" id="held_on_id" onChange='changeStyle();'>
		<% for ma in @martial_arts %>
			<option value="<%=ma.id%>" <%='SELECTED' if ma == @graduation.try(:martial_art) %>><%=ma.name%></option>
		<% end %>
		</select>
	</td>
	<td ALIGN="center">
  		<% for ma in @martial_arts %>
			<div id="ma_grad_<%=ma.id%>" STYLE="display: <%=ma.id == 1 ? '' : 'none'%>">
			<select id="grader_<%=ma.id%>" onChange="window.location = '<%=url_for(:id => '')%>' + options[selectedIndex].value">
  			<% for grd in ma.graduations.reverse %>
				<option value='<%=grd.id%>' <%='SELECTED' if grd == @graduation %>><%=grd.held_on%></option>
			<% end %>
			</select>
			</div>
		<% end %>
	</td>
	</form>
    <td align="center"><%=link_to 'Diplomer', {:action => :certificates, :id => ''}, :id => :certificates_link %></td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
	<td colspan="3" ALIGN="center">
		<div id="results"><%=render :partial => 'list_graduates' %></div>
	</td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr><td colspan="3" align="center" width="100%">
	<table STYLE="border-top: 1px solid #000000;border-bottom: 1px solid #000000;" CELLPADDING="0" CELLSPACING="0" border="0" width="100%">
	<tr STYLE="background: #e3e3e3;"><TD HEIGHT="2" COLSPAN="4"></TD></tr>
	<tr STYLE="background: #e3e3e3;">
	<td align="left">
		<%= link_to 'Registrer ny gradering', :action => 'new' %>
	</td>
	<td align="center">
		<A HREF="#" onClick="show_glist('/censors/list_instructors');">Legg til sensor</a>
		</td>
	<td align="center">
		<A HREF="#" onClick="show_glist('/graduates/list_potential_graduates?graduation_id=' + $('grader_1').options($('grader_1').selectedIndex).value);">Legg til medlemmer</a>
	</td><td align="right">
		<A HREF="#" onClick='deleteGraduation();'>Fjern gradering</A></td>
	</tr>
		<tr STYLE="background: #e3e3e3;"><TD HEIGHT="2" COLSPAN="4"></TD></tr>

	</table></td></tr>
<tr><td colspan="3"><div id="debug"></div></td></tr>
</table>
</td>
<td WIDTH="4">&nbsp;</td>
<td valign="top" align="center">
	<DIV ID="glist"><%=image_tag 'kubinage.png'%></DIV>
</td>
</tr>
</table>

</P>
