<h2>Gradering</h2>

<table class="table">
  <tr><th>Dato</th><td><%=@graduation.held_on%></td></tr>
  <tr><th>Gruppe</th><td><%=@graduation.group.name%></td></tr>
  <tr><th>Eksminator</th><td><%=@graduation.censors.map(&:member).map(&:name).join(', ')%></td></tr>
  <tr><th>Påmeldte</th><td><%=@graduation.graduates.count%></td></tr>
</table>

<%= link_to 'Endre', edit_graduation_path(@graduation), class: 'btn btn-primary' %>
<%= back_or_link_to 'Tilbake', graduations_path, class: 'btn btn-default' %>
