<h1>Listing event_invitee_messages</h1>

<table>
  <tr>
    <th>Event invitee</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Sent at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_invitee_messages.each do |event_invitee_message| %>
  <tr>
    <td><%= event_invitee_message.event_invitee_id %></td>
    <td><%= event_invitee_message.subject %></td>
    <td><%= event_invitee_message.body %></td>
    <td><%= event_invitee_message.sent_at %></td>
    <td><%= link_to 'Show', event_invitee_message %></td>
    <td><%= link_to 'Edit', edit_event_invitee_message_path(event_invitee_message) %></td>
    <td><%= link_to 'Destroy', event_invitee_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Signup confirmation', new_event_invitee_message_path %>
