Velkommen til <%= @app_name %>, <%= @name %>.

Ditt brukernavn og passord er:

  Brukernavn: <%= @login %>
  Passord   : <%= @password %>

Vennligst klikk på lenken under for å bekrefte registreringen din:

<a href="<%= @url%>">Klick meg!</a>

<%= @url %>
