<% @content_width = 1024 %>

<div style="float: right">
	<%=button_to 'Importer data fra CMS', :action => 'import'%>
</div>

<h2>Aktive Kontrakter (<%=@members.size%>)</h2>

<!--
<%=render :partial => '/members/search_form'%>
-->

<table class="members" border="0" cellpadding="5" cellspacing="1">
  <tr>
    <th><%= link_to 'CMS ID' %></th>
    <th><%= link_to 'Etternavn' %></th>
    <th><%= link_to 'Fornavn' %></th>
	<th>Instruktør</th>
	<th>E-post</th>
	<th>Mobil</th>
  </tr>
  
<% for member in @members %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(member.cms_contract_id), :action => 'edit', :id => member %></td>
    <td><%=h member.last_name %></td>
    <td><%=h member.first_name %></td>
	<td><%=h yes_no(member.instructor) %></td>	
	<td><%=h member.email %></td>
	<td><%=h member.phone_mobile %></td>
	<td><%=h member.gender %></td>	
  </tr>
<% end %>
</table>

<%= link_to 'Nytt medlem', :action => 'new' %>
