<% @content_width = 1024 %>

<h1>Listing cms_members</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone mobile</th>
    <th>Phone home</th>
    <th>Phone work</th>
    <th>Phone parent</th>
    <th>Birthdate</th>
    <th>Male</th>
    <th>Joined on</th>
    <th>Contract</th>
    <th>Cms contract</th>
    <th>Left on</th>
    <th>Parent name</th>
    <th>Address</th>
    <th>Postal code</th>
    <th>Billing type</th>
    <th>Billing name</th>
    <th>Billing address</th>
    <th>Billing postal code</th>
    <th>Payment problem</th>
    <th>Comment</th>
    <th>Instructor</th>
    <th>Nkf fee</th>
    <th>Social sec no</th>
    <th>Account no</th>
    <th>Billing phone home</th>
    <th>Billing phone mobile</th>
  </tr>

<% for cms_member in @cms_members %>
  <tr>
    <td><%=h cms_member.first_name %></td>
    <td><%=h cms_member.last_name %></td>
    <td><%=h cms_member.email %></td>
    <td><%=h cms_member.phone_mobile %></td>
    <td><%=h cms_member.phone_home %></td>
    <td><%=h cms_member.phone_work %></td>
    <td><%=h cms_member.phone_parent %></td>
    <td><%=h cms_member.birthdate %></td>
    <td><%=h cms_member.male %></td>
    <td><%=h cms_member.joined_on %></td>
    <td><%=h cms_member.contract_id %></td>
    <td><%=h cms_member.cms_contract_id %></td>
    <td><%=h cms_member.left_on %></td>
    <td><%=h cms_member.parent_name %></td>
    <td><%=h cms_member.address %></td>
    <td><%=h cms_member.postal_code %></td>
    <td><%=h cms_member.billing_type %></td>
    <td><%=h cms_member.billing_name %></td>
    <td><%=h cms_member.billing_address %></td>
    <td><%=h cms_member.billing_postal_code %></td>
    <td><%=h cms_member.payment_problem %></td>
    <td><%=h cms_member.comment %></td>
    <td><%=h cms_member.instructor %></td>
    <td><%=h cms_member.nkf_fee %></td>
    <td><%=h cms_member.social_sec_no %></td>
    <td><%=h cms_member.account_no %></td>
    <td><%=h cms_member.billing_phone_home %></td>
    <td><%=h cms_member.billing_phone_mobile %></td>
    <td><%= link_to 'Show', cms_member %></td>
    <td><%= link_to 'Edit', edit_cms_member_path(cms_member) %></td>
    <td><%= link_to 'Destroy', cms_member, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cms_member', new_cms_member_path %>
