<h1>New cms_member</h1>

<% form_for(@cms_member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_mobile %><br />
    <%= f.text_field :phone_mobile %>
  </p>
  <p>
    <%= f.label :phone_home %><br />
    <%= f.text_field :phone_home %>
  </p>
  <p>
    <%= f.label :phone_work %><br />
    <%= f.text_field :phone_work %>
  </p>
  <p>
    <%= f.label :phone_parent %><br />
    <%= f.text_field :phone_parent %>
  </p>
  <p>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </p>
  <p>
    <%= f.label :male %><br />
    <%= f.check_box :male %>
  </p>
  <p>
    <%= f.label :joined_on %><br />
    <%= f.date_select :joined_on %>
  </p>
  <p>
    <%= f.label :contract_id %><br />
    <%= f.text_field :contract_id %>
  </p>
  <p>
    <%= f.label :cms_contract_id %><br />
    <%= f.text_field :cms_contract_id %>
  </p>
  <p>
    <%= f.label :left_on %><br />
    <%= f.date_select :left_on %>
  </p>
  <p>
    <%= f.label :parent_name %><br />
    <%= f.text_field :parent_name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :billing_type %><br />
    <%= f.text_field :billing_type %>
  </p>
  <p>
    <%= f.label :billing_name %><br />
    <%= f.text_field :billing_name %>
  </p>
  <p>
    <%= f.label :billing_address %><br />
    <%= f.text_field :billing_address %>
  </p>
  <p>
    <%= f.label :billing_postal_code %><br />
    <%= f.text_field :billing_postal_code %>
  </p>
  <p>
    <%= f.label :payment_problem %><br />
    <%= f.check_box :payment_problem %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.label :instructor %><br />
    <%= f.check_box :instructor %>
  </p>
  <p>
    <%= f.label :nkf_fee %><br />
    <%= f.check_box :nkf_fee %>
  </p>
  <p>
    <%= f.label :social_sec_no %><br />
    <%= f.text_field :social_sec_no %>
  </p>
  <p>
    <%= f.label :account_no %><br />
    <%= f.text_field :account_no %>
  </p>
  <p>
    <%= f.label :billing_phone_home %><br />
    <%= f.text_field :billing_phone_home %>
  </p>
  <p>
    <%= f.label :billing_phone_mobile %><br />
    <%= f.text_field :billing_phone_mobile %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cms_members_path %>
