<p>
  <b>First name:</b>
  <%=h @cms_member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @cms_member.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @cms_member.email %>
</p>

<p>
  <b>Phone mobile:</b>
  <%=h @cms_member.phone_mobile %>
</p>

<p>
  <b>Phone home:</b>
  <%=h @cms_member.phone_home %>
</p>

<p>
  <b>Phone work:</b>
  <%=h @cms_member.phone_work %>
</p>

<p>
  <b>Phone parent:</b>
  <%=h @cms_member.phone_parent %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @cms_member.birthdate %>
</p>

<p>
  <b>Male:</b>
  <%=h @cms_member.male %>
</p>

<p>
  <b>Joined on:</b>
  <%=h @cms_member.joined_on %>
</p>

<p>
  <b>Contract:</b>
  <%=h @cms_member.contract_id %>
</p>

<p>
  <b>Cms contract:</b>
  <%=h @cms_member.cms_contract_id %>
</p>

<p>
  <b>Left on:</b>
  <%=h @cms_member.left_on %>
</p>

<p>
  <b>Parent name:</b>
  <%=h @cms_member.parent_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @cms_member.address %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @cms_member.postal_code %>
</p>

<p>
  <b>Billing type:</b>
  <%=h @cms_member.billing_type %>
</p>

<p>
  <b>Billing name:</b>
  <%=h @cms_member.billing_name %>
</p>

<p>
  <b>Billing address:</b>
  <%=h @cms_member.billing_address %>
</p>

<p>
  <b>Billing postal code:</b>
  <%=h @cms_member.billing_postal_code %>
</p>

<p>
  <b>Payment problem:</b>
  <%=h @cms_member.payment_problem %>
</p>

<p>
  <b>Comment:</b>
  <%=h @cms_member.comment %>
</p>

<p>
  <b>Instructor:</b>
  <%=h @cms_member.instructor %>
</p>

<p>
  <b>Nkf fee:</b>
  <%=h @cms_member.nkf_fee %>
</p>

<p>
  <b>Social sec no:</b>
  <%=h @cms_member.social_sec_no %>
</p>

<p>
  <b>Account no:</b>
  <%=h @cms_member.account_no %>
</p>

<p>
  <b>Billing phone home:</b>
  <%=h @cms_member.billing_phone_home %>
</p>

<p>
  <b>Billing phone mobile:</b>
  <%=h @cms_member.billing_phone_mobile %>
</p>


<%= link_to 'Edit', edit_cms_member_path(@cms_member) %> |
<%= link_to 'Back', cms_members_path %>
