<h1>Listing martial_arts</h1>

<table>
  <tr>
  <% for column in MartialArt.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for martial_art in @martial_arts %>
  <tr>
  <% for column in MartialArt.content_columns %>
    <td><%=h martial_art.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => martial_art %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => martial_art %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => martial_art }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @martial_arts %>  

<br />

<%= link_to 'New martial_art', :action => 'new' %>
