<%
  initial_icon = nil
  initial_class = 'secondary'
  initial_disabled = nil
  gs = attendance.group_schedule
  practice_passed = attendance.practice.passed?
  practice_imminent = attendance.practice.imminent?
  initial_text =
      if attendance.user_id != current_user.id
        practice_passed ? 'Trente?' : practice_imminent ? 'Trener?' : 'Kommer?'
      else
        practice_passed ? 'Trente du?' : practice_imminent ? 'Trener du?' : 'Kommer du?'
      end
  year = attendance.practice.year
  week = attendance.practice.week
  link_target = { controller: :attendances, action: practice_passed ? :review : :announce, details: local_assigns[:details],
                  year: year, week: week, group_schedule_id: gs.id, status: 'toggle', user_id: attendance.user_id }
  states = (practice_passed ? Attendance::PAST_STATES : practice_imminent ? Attendance::CURRENT_STATES : Attendance::STATES)
  if attendance.persisted?
    states.each do |state, (link_text, link_icon, link_class)|
      if attendance.status == state
        initial_text = link_text
        initial_icon = link_icon
        initial_class = link_class
        break
      end
    end
  end
%>
<div id="button_<%= year %>_<%= week %>_<%= gs.id %>_<%= attendance.user_id %>" class="btn-group">
  <% replace_element = initial_disabled || local_assigns[:details] ? "#practice_#{week}_#{gs.id}" : "#button_#{year}_#{week}_#{gs.id}_#{attendance.user_id}" %>
  <%= link_to(link_target, method: :post, remote: !initial_disabled,
      id: "btn_#{year}_#{week}_#{gs.id}_#{attendance.user_id}", class: "btn btn-#{initial_class} pr-0",
      style: 'width: 6.9em', onclick: initial_disabled ? 'return false' : "$(this).find('i').attr('class', 'fa fa-sync fa-spin')",
      data: { status: attendance.status || :nil, replace: replace_element }) do %>
    <i class="<%= "fa fa-#{initial_icon}" if initial_icon %>" <%= 'data-fa-i2svg' unless initial_icon %>></i>
    <span><%= initial_text %></span>
  <% end %>
  <button id="btn_<%= "#{year}_#{week}_#{gs.id}_#{attendance.user_id}" %>_tgl" type="button" class="<%= 'disabled' if initial_disabled %> btn btn-<%= initial_class %> dropdown-toggle dropdown-toggle-split" <%= 'data-toggle="dropdown"'.html_safe unless initial_disabled %>>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <% states.each do |state, (link_text, link_icon, link_class)| %>
      <%= link_to(link_target.merge(status: state),
                  method: :post, remote: true, onclick: "setAttendanceBtn(this)",
                  data: { replace: replace_element },
                  class: "dropdown-item text-#{link_class}") do %>
        <i class="fa fa-<%= link_icon %>"></i>
        <span><%= link_text %></span>
      <% end %>
    <% end %>
  </div>
</div>
