<div id="practice_<%= week %>_<%= gs.id %>">
  <%= render 'attendances/button', gs: gs, year: year, week: week, attendance: attendance %>
  <% if @reviewed_attendance && @reviewed_attendance.group_schedule == gs && @reviewed_attendance.practice.year == year && @reviewed_attendance.practice.week == week %>
    <%= javascript_tag do %>
        $(function() {
            $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover({content: 'Oppmøte registrert', placement: 'top', container: 'body'});
            $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover('show');
            $('body').one('click', function(){
                $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover('hide')
        });
        });
    <% end %>
  <% end %>

  <div class="clearfix"></div>

  <% practice = gs.practices.find { |p| p.year == year && p.week == week } %>
  <%= render 'attendances/details_link', practice: practice %>
</div>
