<div id="practice_<%= week %>_<%= gs.id %>">
  <%
     initial_icon = nil
     initial_class = 'secondary'
     initial_disabled = nil
     practice_end = Date.commercial(year, week, gs.weekday).at(gs.end_at)
     practice_passed = Time.current > practice_end
     initial_text = practice_passed ? 'Trente du?' : 'Kommer du?'
     link_target = {controller: :attendances,
             action: practice_passed ? :review : :announce, year: year,
             week: week, group_schedule_id: gs.id, status: 'toggle'}
     if attendance
       if attendance.status == Attendance::Status::INSTRUCTOR
         initial_class = 'success'
         initial_text = 'Instruerte!'
         initial_icon = 'thumbs-up'
       elsif Attendance::PRESENT_STATES.include?(attendance.status)
         initial_class = 'success'
         initial_text = 'Trente!'
         initial_icon = 'thumbs-up'
       else
         Attendance::STATES.each do |state, link_text, link_icon, link_class|
           if attendance.status == state
             if state == Attendance::Status::WILL_ATTEND && practice_passed
               initial_text = 'Ubekreftet'
             else
               initial_text = link_text
             end
             initial_icon = link_icon
             initial_class = link_class
             break
           end
         end
       end
     end
  %>
  <div id="button_<%= year %>_<%= week %>_<%= gs.id %>" class="btn-group">
    <%= link_to(link_target, method: :post, remote: !initial_disabled,
            id: "btn_#{year}_#{week}_#{gs.id}", class: "btn btn-outline-#{initial_class}",
            style: 'width: 7.5em', onclick: initial_disabled ? 'return false' : nil,
            data: {replace: initial_disabled || "#practice_#{week}_#{gs.id}"}) do %>
        <i class="fa fa-<%= initial_icon %>"></i>
        <span><%= initial_text %></span>
    <% end %>
    <button type="button" class="<%= 'disabled' if initial_disabled %> btn btn-outline-dark dropdown-toggle dropdown-toggle-split" <%= 'data-toggle="dropdown"'.html_safe unless initial_disabled %>>
    </button>
    <div class="dropdown-menu">
      <% (practice_passed ? Attendance::PAST_STATES : Attendance::STATES).each do |state, link_text, link_icon, link_class| %>
          <%= link_to({ controller: :attendances, action: :announce, year: year, week: week, group_schedule_id: gs.id, status: state },
              method: :post, remote: true, id: "btn_#{year}_#{week}_#{gs.id}",
              onclick: "$('#btn_#{year}_#{week}_#{gs.id}').removeClass('btn-info btn-success btn-warning btn-danger').addClass('btn-#{link_class}').html($(this).html()); $('[data-toggle=dropdown]').parent().removeClass('open'); return true",
              class: "dropdown-item text-#{link_class}") do %>
              <i class="fa fa-<%= link_icon %>"></i>
              <span><%= link_text %></span>
          <% end %>
      <% end %>
    </div>
  </div>
  <% if @reviewed_attendance && @reviewed_attendance.group_schedule == gs && @reviewed_attendance.practice.year == year && @reviewed_attendance.practice.week == week %>
    <%= javascript_tag do %>
        $(function() {
            $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover({content: 'Oppmøte registrert', placement: 'top', container: 'body'});
            $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover('show');
            $('body').one('click', function(){
                $('#button_<%= year %>_<%= week %>_<%= gs.id %>').popover('hide')
        });
        });
    <% end %>
  <% end %>

  <div class="clearfix"></div>

  <% practice = gs.practices.find { |p| p.year == year && p.week == week } %>
  <%= render 'details_link', practice: practice %>
</div>
