<style type="text/css">
    tr:hover {
        background-color: lightyellow;
    }
</style>
<style type="text/css" media="print">
    .no-print, .no-print * {
        display: none !important;
    }
</style>

<h1 style="font-family:Arial, Helvetica, sans-serif">
  Oppmøteliste <%= @group.try(:name) %>
  <%= l Date::MONTHNAMES[@date.mon] %> <%= @date.year %>
</h1>

<% @member_count = 0 %>
<% @date_totals = {} %>
<% @blank_lines = 42 %>

<%= render :partial => 'attendance_form_header' %>

<% unless @instructors.empty? %>
    <% for member in @instructors %>
        <%= render :partial => 'attendance_row', :locals => {:member => member} %>
    <% end %>

    <tr class="<%= cycle('odd', 'even') %>">
      <td colspan="3">&nbsp;</td>
      <% if @birthdate_missing %>
          <td>&nbsp;</td>
      <% end %>
      <% @dates.each do |d| %>
          <td onclick="window.location = '<%=url_for with_detour(:controller => :attendances, :action => :new,
                  :attendance => {:practice_attributes => {:group_schedule_id => @group.group_schedules.find{|gs| gs.weekday == d.cwday}.id, :year => d.cwyear, :week => d.cweek}})
          %>';return false">&nbsp;</td>
      <% end %>
      <td>&nbsp;</td>
    </tr>
    <% @blank_lines -= 2 %>

    <%= render :partial => 'attendance_form_footer' %>

    <tr style="border-left: hidden ; border-right: hidden">
      <td colspan="<%= 4 + @dates.size + (@birthdate_missing ? 1 : 0) %>">&nbsp;</td>
    </tr>
<% end %>

<% @member_count = 0 %>
<% @date_totals = {} %>

<% for member in @members %>
    <%= render :partial => 'attendance_row', :locals => {:member => member} %>
<% end %>

<% @trials.each do |trial| %>
    <% @member_count += 1 %>
    <% missing_contract = (trial.reg_dato + 14) < Date.today %>
    <% @blank_lines -= missing_contract ? 3 : 2 %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td>
        <%= "#{trial.fornavn} #{trial.etternavn}" %>
        <br/>
        <% if missing_contract %>
            <% message = "Hei #{trial.fornavn}!%0A%0A
For en stund siden registrerte du deg hos Romerike Jujutsu Klubb, men vi har ikke sett så mye til deg i det siste.  Kanskje du kommer på neste trening?%0A
Treningstidene er%0A
%0A
Panda       (6-9 år): Torsdag 17.45 - 18.45%0A
Tiger     (10-14 år): Tirsdag+Torsdag 17.45 - 18.45%0A
Grizzly (over 15 år): Tirsdag+Torsdag 19.00 - 20.30%0A
%0A
Ting som har skjedd nylig: ...%0A
For tiden trener vi på ...%0A
og neste sosiale samling er ...%0A
Gradering er ..." %>
            <%= link_to trial.epost_faktura || trial.epost, "mailto:#{trial.epost_faktura || trial.epost}?subject=Innmelding Romerike Jujutsu Klubb&body=#{message}" %>
            <br>
        <% end %>
      </td>
      <td nowrap="true" align="right">
        <%= h trial.age %>
      </td>
      <td align="center" nowrap="true">
        Prøvetid til
        <%= (trial.reg_dato + 14).strftime('%Y-%m-%d') %>
        <% if missing_contract %>
            <br/>
            <%= link_to 'Mangler kontrakt', :action => :trial_missing_contract, :id => trial.id %>
        <% end %>
      </td>
      <% if @birthdate_missing %>
          <td>&nbsp;</td>
      <% end %>
      <% member_trial_total = 0 %>
      <% @dates.each do |d| %>
          <% if @group %>
              <% group_schedule = @group.group_schedules.to_a.find { |gs| gs.weekday == d.cwday } %>
              <% trial_attendance = trial.trial_attendances.select { |a| a.practice.group_schedule == group_schedule && a.date == d }.first %>
              <td id="trial_attendance_<%= trial.id %>_<%= d.day %>" align="center">
                <% if trial_attendance %>
                    <% member_trial_total += 1 -%>
                    <% @date_totals[d] ||= 0 -%>
                    <% @date_totals[d] += 1 -%>
                    <%= render :partial => 'trial_attendance_delete_link', :locals => {:trial_attendance => trial_attendance} %>
                <% else %>
                    <%= render :partial => 'trial_attendance_create_link', :locals => {:nkf_member_trial_id => trial.id, :group_schedule_id => group_schedule.id, :date => d} %>
                <% end %>
              </td>

              <%= javascript_tag do %>
                  $("#trial_attendance_<%= trial.id %>_<%= d.day %>").bind("ajax:complete", function(et, e){
                    $(this).html(e.responseText);
                  });
              <% end %>

          <% else %>
              <td>&nbsp;</td>
          <% end %>
      <% end %>
      <td align="center"><%= trial.trial_attendances.size if trial.trial_attendances.size > 0 %></td>
    </tr>
<% end %>

<% @blank_lines.times do %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td colspan="3"><%= ('&nbsp;' * 35).html_safe %></td>
      <% if @birthdate_missing %>
          <td>&nbsp;</td>
      <% end %>
      <% @dates.each do |d| %>
          <td>&nbsp;</td>
      <% end %>
      <td>&nbsp;</td>
    </tr>
<% end %>

<%= render :partial => 'attendance_form_footer' %>

</tbody>
</table>



<% unless @passive_members.empty? %>
    <h2 style="page-break-before:always">Passive
      medlemmer <%= @group.try(:name) %> <%= l Date::MONTHNAMES[@date.mon] %> <%= @date.year %></h2>

    <%= render :partial => 'attendance_form_header' %>
    <% for member in @passive_members %>
        <%= render :partial => 'attendance_row', :locals => {:member => member} %>
    <% end %>

    <tr class="<%= cycle('odd', 'even') %>">
      <td colspan="3">Totalt <%= @passive_members.size %></td>
      <% if @birthdate_missing %>
          <td>&nbsp;</td>
      <% end %>
      <% @dates.each do |d| %>
          <td align="center"></td>
      <% end %>
      <td align="center"></td>
    </tr>

    </tbody>
    </table>
<% end %>
