<h1>Registrer oppmøte</h1>

<%= form_for(@attendance, :html => {:class => 'form-inline'}) do |f| %>
    <%= f.error_messages %>

    <% if @attendance.practice.nil? || @attendance.practice.new_record? %>
        <%= f.fields_for :practice do |pf| %>
            <p style="float: left; margin-right: 2em">
              <%= pf.label :group_schedule_id, 'Trening' %><br/>
              <%= pf.select :group_schedule_id, ['', ''] + @group_schedules.map { |gs| ["#{gs.group.name} #{gs.weekday_name}", gs.id] } %>
            </p>

            <p style="float: left; margin-right: 2em">
              <%= pf.label :year, 'År' %><br/>
              <%= pf.text_field :year, :size => 4 %>
            </p>

            <p>
              <%= pf.label :week, 'Uke' %><br/>
              <%= pf.select :week, (1..52) %>
            </p>
        <% end %>
    <% else %>
        <p>
          <%= f.hidden_field :practice_id %>
          <%= @attendance.practice %>
        </p>
    <% end %>

    <p style="float: left; margin-right: 2em">
      <%= f.label :member_id, 'Medlem' %><br/>
      <%= f.select :member_id, [nil] + @members.map { |m| [m.name, m.id] } %>
    </p>

    <p>
      <%= f.label :status, 'Status' %><br/>
      <%= f.select :status, Attendance::Status.constants.sort.map { |s| [t(s.to_s.downcase), Attendance::Status.const_get(s)] } %>
    </p>

    <p>
      <%= f.submit 'Create', :class => 'btn btn-default' %>
    </p>
<% end %>

<%= link_to 'Back', attendances_path %>

<%= javascript_tag do %>
    $('#attendance_member_id').focus();
<% end %>
