<h1>Registrer oppmøte</h1>

<%= form_for(@attendance) do |f| %>
    <%= f.error_messages %>

    <p style="float: left; margin-right: 2em">
      <%= f.label :member_id, 'Medlem' %>
      <%= f.select :member_id, [nil] + @members.map{|m| [m.name, m.id]} %>
    </p>

    <p>
      <%= f.label :group_schedule_id, 'Trening' %>
      <%= f.select :group_schedule_id, [nil] + @group_schedules.map{|gs| ["#{gs.group.name} #{gs.weekday_name}", gs.id]} %>
    </p>

    <p style="float: left; margin-right: 2em">
      <%= f.label :year, 'År' %>
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label :week, 'Uke' %>
      <%= f.select :week, (1..52) %>
    </p>

    <p>
      <%= f.label :status, 'Status' %>
      <%= f.select :status, Attendance::Status.constants.sort.map{|s| [t(s.to_s.downcase), Attendance::Status.const_get(s)]} %>
    </p>

    <p>
      <%= f.submit 'Create', :class => :btn %>
    </p>
<% end %>

<%= link_to 'Back', attendances_path %>

<%=javascript_tag do %>
    $('#attendance_member_id').focus();
<% end %>
