<table class="table">
  <% if @groups.size > 1 %>
      <tr>
        <th>Måned/Gruppe</th>
        <% @attended_groups.each do |g| %>
            <th><%= g.name %></th>
        <% end %>
      </tr>
  <% end %>
  <% @months.each do |fields| %>
      <tr>
        <% fields.each do |f| %>
            <td><%= f unless f == 0 %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<% @weeks.each.with_index do |(year, week), i| %>

    <h4><%= i == 0 ? 'Denne uken' : i == 1 ? 'Neste uke' : "Uke #{week}" %></h4>

    <table width="1" cellpadding="4">
      <tr>
        <% @group_schedules.each do |gs| %>
            <% date = Date.commercial(year, week, gs.weekday) %>
            <th>
              <%= t(:date)[:day_names][gs.weekday] %>
              <%= date.day %>.
              <%= t(:date)[:month_names][date.mon] %>
            </th>
        <% end %>
      </tr>
      <tr>
        <% @group_schedules.each do |gs| %>
            <%
               ats = @planned_attendances.select { |a| a.group_schedule == gs && a.year == year && a.week == week }
               initial_text = 'Kommer du?'
               initial_icon = nil
               initial_class = nil
               initial_disabled = nil
               if ats.any? { |a| [Attendance::WILL_ATTEND].include?(a.status) }
                 initial_text = 'Kommer!'
                 initial_icon = 'icon-thumbs-up'
                 initial_class = 'btn-success '
               elsif ats.any? { |a| [Attendance::ATTENDED].include?(a.status) }
                 initial_class = 'btn-success '
                 initial_text = 'Var der!'
                 initial_disabled = true
               else
                 Attendance::STATES.each do |state, link_text, link_icon, link_class|
                   if ats.any? { |a| a.status == state }
                     initial_text = link_text
                     initial_icon = link_icon
                     initial_class = link_class
                     break
                   end
                 end
               end
            %>
            <td valign="top" align="center">
              <div class="btn-group">
                <%= link_to(initial_disabled ? '#' : {:controller => :attendances, :action => :announce, :id => Attendance::WILL_ATTEND, :gs_id => gs.id, :year => year, :week => week},
                            :method => initial_disabled ? nil : :post, :remote => !initial_disabled, :id => "btn_#{year}_#{week}_#{gs.id}",
                            :class => "btn #{initial_class} input-small",
                            :onclick => initial_disabled ? 'return false' : "$(this).toggleClass('btn-success').removeClass('btn-info btn-warning btn-danger') ; $(this).find('i').toggleClass('icon-thumbs-up') ; $(this).find('span').text(($(this).find('span').text() == 'Kommer du?') ? 'Kommer!' : 'Kommer du?') ; return false") do %>
                    <i class="<%= initial_icon %>"></i>
                    <span><%= initial_text %></span>
                <% end %>
                <a class="<%= 'disabled ' if initial_disabled %>btn dropdown-toggle" <%= (initial_disabled ? 'onclick="return false"' : 'data-toggle="dropdown"').html_safe %> href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu" align="left">
                  <% Attendance::STATES.each do |state, link_text, link_icon, link_class| %>
                      <li>
                        <%= link_to({:controller => :attendances, :action => :announce, :id => state, :gs_id => gs.id, :year => year, :week => week},
                                    :mmethod => :post, :remote => true, :id => "btn_#{year}_#{week}_#{gs.id}",
                                    :onclick => "$('#btn_#{year}_#{week}_#{gs.id}').removeClass('btn-info btn-success btn-warning btn-danger').addClass('#{link_class}').html($(this).html()); $('[data-toggle=dropdown]').parent().removeClass('open'); return true") do %>
                            <i class="<%= link_icon %>"></i>
                            <%= link_text %>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
              <br/>
              <% others = gs.attendances.select { |a| [Attendance::ATTENDED, Attendance::WILL_ATTEND].include?(a.status) && a.year == year && a.week == week && a.member_id != current_user.member.id } %>
              <% if others.any? %>
                  <small>
                    <%= others[rand others.size].member.first_name %>
                    <% if others.size > 1 %>
                        og
                        <%= others.size - 1 %>
                        <%= others.size == 2 ? 'annen' : 'andre' %>
                    <% end %>
                    kommer.
                  </small>
              <% end %>
            </td>
        <% end %>
      </tr>
    </table>

<% end %>

<br/>

<p>For å kunne organisere treningene fremover ønsker vi at alle på voksengruppen merker av når de
  planlegger å komme og når de ikke kan komme.</p>

<p>Trykk på "<strong>Kommer!</strong>"-knappene slik at de blir
  <span style="color: #5BB75B">grønne</span> på de treningene du planlegger å komme på, eller velg
  årsak fra listen på de treningene du ikke kan delta på.</p>


<!--
<h4>Melding til instruktør</h4>
<%= text_area :attendance, :message, :class => 'input-xxlarge', :rows => 6 %>
<%= submit_tag 'Lagre', :class => 'btn' %>
-->

<%= back_or_link_to 'Tilbake' %>
