<% @content_width = 880 %>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag url_for(:controller => :attendances, :action => :month_chart, :year => @year, :month => @month, :size => '832x300', :format => :png),
                    :title => 'Oppmøte graf', :class => 'img-rounded', :style => 'width: 832px; height: 300px',
                    :usemap => '#monthmap' %>
    </div>
    <div class="item">
      <%= image_tag url_for(:controller => :attendances, :action => :history_graph, :id => '832x300', :format => :png),
                    :title => 'Oppmøte graf', :class => 'img-rounded', :style => 'width: 832px; height: 300px',
                    :usemap => '#monthmap' %>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control" style="top: 10%" href="#myCarousel" data-slide="next">&lsaquo;</a>
  <a class="carousel-control left" href="<%= url_for :id => (@date.beginning_of_month - 1).beginning_of_month %>">&lsaquo;</a>
  <a class="carousel-control right" href="<%=url_for :id => (@date.end_of_month + 1)%>">&rsaquo;</a>
</div>

<style>
    .carousel .carousel-control {
        visibility: hidden;
    }

    .carousel:hover .carousel-control {
        visibility: visible;
    }
</style>

<map name="monthmap">
  <!--
  <area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury">
  <area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus">
  -->
</map>

<table class="table">
  <% @monthly_summary_per_group.each do |g, stats| %>
      <tr>
        <th><%= g.name %></th>
        <td><%= stats[:present].size %></td>
        <td>Gjennomsnittlig <%= (stats[:present].size.to_f / stats[:practices]).round %>
          deltakere på <%= stats[:practices] %> treninger
        </td>
      </tr>
  <% end %>
</table>

<h3>Antall deltakere</h3>

<table class="table">
  <tr>
    <th></th>
    <th style="text-align:center">Totalt</th>
    <th style="text-align:center">Tilstede +50%</th>
    <th style="text-align:center">Tilstede +67%</th>
  </tr>
  <% @by_group_and_member.each do |group, members| %>
      <tr>
        <th><%= group.name %></th>
        <td style="text-align:center"><%= members.select { |m, ats| true }.size %></td>
        <td style="text-align:center"><%= members.select { |m, ats| ats.size >= @monthly_summary_per_group[group][:practices] * 0.5 }.size %></td>
        <td style="text-align:center"><%= members.select { |m, ats| ats.size >= @monthly_summary_per_group[group][:practices] * 0.67 }.size %></td>
      </tr>
  <% end %>
</table>
