<% @content_width =880 %>

<% attendance_chart_link = image_tag(url_for(:controller => :attendances, :action => :month_chart, :year => @year, :month => @month, :size => '800x300', :format => :png),
                                     :title => 'Oppmøte graf', :class => 'img-rounded', :style => 'width: 800px; height: 300px') %>
<%= link_to attendance_chart_link, :controller => :attendances, :action => :month_chart, :year => @year, :month => @month, :size => 800, :format => :png %>

<table class="table">
  <% @monthly_summary_per_group.each do |g, stats| %>
      <tr>
        <th><%= g.name %></th>
        <td><%= stats[:present].size %></td>
        <td>Gjennomsnittlig <%= (stats[:present].size.to_f / stats[:practices]).round %>
          deltakere på <%= stats[:practices] %> treninger
        </td>
      </tr>
  <% end %>
</table>

<h3>Antall deltakere</h3>

<table class="table">
  <tr>
    <th></th>
    <th style="text-align:center">Totalt</th>
    <th style="text-align:center">Tilstede +50%</th>
    <th style="text-align:center">Tilstede +67%</th>
  </tr>
  <% @by_group_and_member.each do |group, members| %>
      <tr>
        <th><%= group.name %></th>
        <td style="text-align:center"><%= members.select { |m, ats| true }.size %></td>
        <td style="text-align:center"><%= members.select { |m, ats| ats.size >= @monthly_summary_per_group[group][:practices] * 0.5 }.size %></td>
        <td style="text-align:center"><%= members.select { |m, ats| ats.size >= @monthly_summary_per_group[group][:practices] * 0.67 }.size %></td>
      </tr>
  <% end %>
</table>
