<h1>Registrert oppmøte <%= @attendance.user&.name %></h1>

<ul>
  <li>
    <%= @attendance.date %>
    <%= day_name(@attendance.date.cwday) %>
    <%= @attendance.group_schedule.start_at.strftime('%H:%M') %>-<%= @attendance.group_schedule.end_at.strftime('%H:%M') %>
    <%= @attendance.group_schedule.group.name %>
    <%= @attendance.status %>
  </li>
</ul>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
