<%= form_for @image do |f| %>
    <% unless @image.new_record? %>
        <div style="float: right; width: 45%; text-align: center">
          <%= image_tag(url_for(:action => :show, :id => @image.id, :format => @image.format), :style => 'width: 100%') if @image.name %>
          (<%= @image.content_data.size / 1024 %>KB)
        </div>
    <% end %>
    <%= error_messages_for 'image' %>

    <p><%= f.label :name, 'Navn' %><br/>
      <%= f.text_field :name %>
    </p>

    <p><%= f.label :file, 'Bilde' %><br/>
      <%= f.file_field :file, :style => 'width: 45%' %>
    </p>

    <%= f.submit 'Lagre', :class => 'btn btn-default' %>
    <%= back_or_link_to 'Tilbake', :action => 'list' %>
<% end %>
