<div align="center">
  <%= detour_to 'Legg til bilde', :controller => 'images', :action => 'new' %>
</div>

<table>
  <% for image in @images.sort_by { |i| i.name.upcase } %>
      <tr>
        <td align="center">
          <%=link_to_redbox(
                      image_tag(url_for(:only_path => false, :controller => 'images', :action => :inline, :id => image.id, :format => image.format), :width => 160, :title => h(image.name), :alt => h(image.name)),
                      {:controller => 'images', :action => 'show', :id => image.id},
                      :title => h(image.name), :author => "RJJK", :caption => h(image.name)
              ) %>
        </td>
        <td>
          <%=image.name %><br/>
          <%=link_to_redbox(
                      'Vis',
                      {:controller => 'images', :action => 'show', :id => image.id},
                      :title => h(image.name), :author => "RJJK", :caption => h(image.name)
              ) %>
          <%= detour_to 'Rediger', :controller => 'images', :action => 'edit', :id => image.id %>
          <%= detour_to 'Slett', {:controller => 'images', :action => 'destroy', :id => image.id}, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>

<br/>

<div align="center">
  <%= detour_to 'Legg til bilde', :controller => 'images', :action => 'new' %>
</div>
