<% if @image.video? %>
    <%= video_tag url_for(:controller => :images, :action => :show, :id => @image.id, :format => @image.format), :title => @image.name || 'Film', :controls => true, :autobuffer => true, :style => 'width: 100%' %>
    </video>
<% else %>
    <%= image_tag url_for(:controller => :images, :action => :inline, :id => @image.id, :format => @image.format), :title => @image.name || 'Bilde' %>
<% end %>

<div width="100%" align="center">
  <%= @image.description || @image.name%>
  av <%= @image.user.name %>
    <br/>
<%= link_to 'Godkjenn', {:controller => :images, :action => :update, :id => @image.id, :image => {:approved => true}}, :method => :put if admin? && !@image.approved? %>
<%= link_to @image.public? ? 'Skjul' : 'Publiser', {:controller => :images, :action => :update, :id => @image.id, :image => {:public => !@image.public?}}, :method => :put if admin? %>
<%= link_to 'Liker', {:controller => :user, :action => :like, :id => @image.id}, :method => :post if user? && !@image.likers.include?(current_user) %>
</div>

<% @images.each_slice(5) do |slice| %>
    <br clear="all"/><hr/><br/>
    <div align="center">
    <% slice.each do |i| %>
        <div style="float: left; width: 20%">
          <%= link_to :controller => :images, :action => :gallery, :id => i.id do %>
              <% if i.video? %>
                  <%= video_tag url_for(:controller => :images, :action => :show, :id => i.id, :format => i.format), :title => i.name || 'Film', :controls => true, :autobuffer => true, :style => 'width: 100%' %>
              <% else %>
                  <%= image_tag url_for(:controller => :images, :action => :inline, :id => i.id, :format => i.format, :width => 492 / 5), :title => i.name || 'Bilde' %>
              <% end %>
          <% end %>
        </div>
    <% end %>
      <br clear="all"/>
      <% slice.each do |i| %>
          <div style="float: left; width: 20%; text-align: center">
                <%=i.description || i.name.gsub(/[._-]/, ' ').chomp(i.format) %>
          </div>
      <% end %>
      <br clear="all"/>
      <% slice.each do |i| %>
          <div style="float: left; width: 20%; text-align: center">
            <%= link_to 'Godkjenn', {:controller => :images, :action => :update, :id => i.id, :image => {:approved => true}}, :method => :put if admin? && !i.approved? %>
            <%= link_to i.public? ? 'Skjul' : 'Publiser', {:controller => :images, :action => :update, :id => i.id, :image => {:public => !i.public?}}, :method => :put if admin? %>
            <%= link_to 'Liker', {:controller => :user, :action => :like, :id => i.id}, :method => :post if user? && !i.likers.include?(current_user) %>
          </div>
      <% end %>
    </div>
<% end %>
