<% @content_width = 1024 %>

<h1>Informasjonssider</h1>

<table>
  <tr valign="top">
  <% for column in InformationPage.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for information_page in @information_pages %>
  <tr valign="top">
  <% for column in InformationPage.content_columns %>
    <td><%=h information_page.send(column.name).to_s.html_safe %></td>
  <% end %>
    <td><%= link_to 'Vis', :action => 'show', :id => information_page %></td>
    <td><%= link_to 'Rediger', :action => :edit, :id => information_page %></td>
    <td><%= link_to 'Slett', { :action => :destroy, :id => information_page }, :data => {:confirm => 'Er du sikker?'}, :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @information_pages %>

<br />

<%= link_to 'Ny side', :action => 'new' %>
