<h1>Web</h1>

<div id="admin_menu">
  <ul>
    <li><%= link_to 'Ny nyhet', controller: :news, action: :new %></li>
    <li><%= link_to 'Ny side', controller: :info, action: :new %></li>
    <li><%= link_to 'Ny hendelse', controller: :events, action: :new %></li>
    <li><%= link_to 'Brukere', controller: :user, action: :index %></li>
  </ul>
</div>

<h1>Medlemsreg.</h1>

<div id="members_menu">
  <ul>
    <!--
          <li><%= menu_item 'Medlemsliste NY!', controller: :members_drilldown, action: :index %></li>
          -->
    <li><%= menu_item 'Medlemsliste', controller: :members, action: :list_active %></li>
    <li><%= menu_item 'Instruksjon', controller: :group_instructors %></li>
    <li><%= menu_item 'Instruktørsamling', controller: :instructor_meetings %></li>
    <li><%= menu_item 'Styremøter', controller: :board_meetings %></li>
    <li><%= menu_item 'Bursdager', controller: :birthday_celebrations %></li>
    <li><%= menu_item 'Treningstider', controller: :group_schedules %></li>
    <li><%= menu_item 'Grupper', controller: :groups %></li>
    <li><%= menu_item 'Spørreundersøkelser', controller: :surveys %></li>
    <li><%= menu_item 'Grader', controller: :ranks, anchor: :KeiWaRyu_Voksne %></li>
    <li><%= menu_item 'Roller', controller: :roles %></li>
    <li><%= menu_item 'Styret', controller: :elections %></li>
    <li><%= menu_item 'Verv', controller: :appointments %></li>
    <!--
          <li><%= menu_item 'Stiler', controller: :martial_arts %></li>
          <li><%= menu_item 'Inntekt', controller: :members, action: :income %></li>
          <li><%= menu_item 'NKF Rapport', controller: :members, action: :nkf_report %></li>
          <li><%= menu_item 'CMS-Kontrakter', controller: :cms_members, action: :active_contracts %></li>
          <li><%= menu_item 'CMS Avstemming', controller: :members, action: :cms_comparison %></li>
          <li><%= menu_item 'NKF Medlemsliste', controller: :nkf_members, action: :index %></li>
          <li><%= menu_item 'NKF Avstemming', controller: :nkf_members, action: :comparison %></li>
          -->
    <li><%= menu_item 'Versjon', controller: :info, action: :versjon %></li>
  </ul>
</div>
