<% if events.any? %>
    <% last_year = Date.today.year %>
    <% last_mon = nil %>
    <% last_start_at = nil %>
    <% last_end_at = nil %>
    <div class="events">
      <h3>Hva skjer?
        <%= link_to image_tag('ical.png', :style => 'width: 24px;height: 24px'),
            {only_path: false, protocol: 'webcal', controller: :events,
                action: :calendar, format: :ics},
            title: 'Abonnér på hendelseskalender!' %></h3>

      <% events.each do |event| %>
          <% ingress = nil # event.ingress     %>
          <% ingress = nil if ingress.blank? %>
          <% body = event.body %>
          <% if event.start_at.year != last_year %>
              <% last_year = event.start_at.year %>
              <h4 style="color: #E20916"><%= last_year %></h4>
          <% end %>
          <% if event.start_at.mon != last_mon %>
              <% last_mon = event.start_at.mon %>
              <h4 style="color: #E20916"><%= t Date::MONTHNAMES[last_mon] %></h4>
          <% end %>
          <% if event.start_at != last_start_at || event.end_at != last_end_at %>
              <% last_start_at = event.start_at %>
              <% last_end_at = event.end_at %>
              <h4 style="">
                <% if event.end_at.nil? || event.end_at == event.start_at %>
                    <%= event.start_at.mday %>.
                    <%= t(:date)[:day_names][event.start_at.wday] %>
                    <% if event.start_at.min != 0 || event.start_at.hour != 0 %>
                        <%= event.start_at.strftime('kl. %H:%M') %>
                    <% end %>
                <% else %>
                    <% if event.end_at.to_date == event.start_at.to_date %>
                        <%= event.start_at.mday %>.
                        <%= t(:date)[:day_names][event.start_at.wday] %>
                        <%= event.start_at.strftime('%H:%M') %> - <%= event.end_at.strftime('%H:%M') %>
                    <% else %>
                        <% if event.start_at.min == 0 && event.start_at.hour == 0 && event.end_at.hour == 0 && event.end_at.min == 0 %>
                            <%= event.start_at.mday %>-<%= event.end_at.mday %>.
                        <% else %>
                            <%= t(:date)[:day_names][event.start_at.wday] %> <%= event.start_at.mday %>.
                            <%= event.start_at.strftime('%H:%M') %>
                            -
                            <%= t(:date)[:day_names][event.end_at.wday] %>  <%= event.end_at.mday %>.
                            <%= event.end_at.strftime('%H:%M') %>
                        <% end %>
                    <% end %>
                <% end %>
              </h4>
          <% end %>

          <% if event.id %>
              <%= link_to image_tag('ical.png', style: 'width: 24px;height: 24px'),
                  {controller: :events, action: :calendar, id: event.id,
                      format: :ics}, class: 'pull-right',
                  title: "Sett '#{event.name}' på din kalender!" %>
          <% end %>
          <h4 style="margin-bottom: 0;color: #FFB400">
            <% if body %>
                <%= link_to event.name, event, style: 'color: #FFB400' %>
            <% else %>
                <%= event.name %>
            <% end %>
          </h4>

          <% if user? -%>
              <% if (crowd_size = event.size) > 0 -%>
                  <div class="details">
                    <%= crowd_size %> påmeldte.
                  </div>
              <% end %>
          <% end %>

          <% if ingress %>
              <%= ingress.gsub(/&nbsp;/, ' ').html_safe %>
          <% end %>
          <ul class="controls">
            <% if ingress && event.description.size > ingress.size %>
                <li><%= link_to 'Les mer', {:controller => :events, :action => :show, :id => event.id}, :class => :edit %></li>
            <% end %>
            <li><%= link_to 'Redigèr', edit_polymorphic_path(event), :class => :edit if admin? && event.persisted? %></li>
          </ul>
      <% end %>
    </div>

    <% if admin? %>
        <ul class="controls">
          <li><%= link_to 'Ny hendelse', {:controller => :events, :action => :new}, :class => :edit %></li>
          <li><%= link_to 'Arkiv', {:controller => :events, :action => :index}, :class => :edit %></li>
        </ul>
        <br/>
    <% end %>

<% end %>
