<!-- THE MENU -->
<menu id="mainmenuholder">
  <!-- THE NAVIGATION HOLDER -->
  <a>
    <div class="header-menu-closer hidden-phone hidden-tablet menucloser nobg">
      <div class="single_blurredbg_holder noborder">
        <div class="single_blurredbg"></div>
        <div class="single_bluroverlay"></div>
      </div>
      <i class="fa fa-times fa-2x"></i></div>
  </a>
  <div id="navigation" class="menu-main-menu-container">
    <ul id="menu-main-menu" class="">
      <li class="header-menu-closer visible-phone visible-tablet"><a>
        <div class="menubutton txt-center"><i class="fa fa-times fa-2x"></i></div>
      </a></li>
      <li id="menu-item-15458" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item">
        <a href="/"><img src="<%= asset_path('rjjk_logo_plus_txt_320.png') %>" style="height:2rem" alt="RJJK Logo"/></a>
        <div class="clear"></div>
      </li>
      <% @information_pages.select(&:public).reject(&:hidden).each do |ip| %>
        <li id="menu-item-<%= ip.id %> %>" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
          <a href="<%= url_for ip %>"><%= ip.title %></a>
          <div class="clear"></div>
        </li>
      <% end %>
      <li id="menu-item-1723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="<%= current_user ? root_path : with_detour(login_path) %>">Medlemssider<%= " (#{current_user&.name})" if current_user %></a>
        <div class="clear"></div>
      </li>
    </ul>
  </div>

  <div class="mainmenuholder-wihite">
    <div></div>
  </div>

</menu>
<!-- END OF MENU -->
