<ul>
  <li><%= link_to 'Forsiden', root_path %></li>
  <li><%= link_to 'Nyheter', controller: :news %></li>
</ul>

<% if user? %>
    <h1><%= current_user.name %></h1>
    <ul>
      <% if member? %>
          <% if current_user.member.groups.reject(&:school_breaks).any? %>
              <li><%= detour_to 'Mitt oppmøte', controller: :attendances, action: :plan %></li>
          <% end %>
          <li><%= menu_item 'Pensum', controller: :ranks, action: :pensum %></li>
          <li><%= link_to 'Min Embu', controller: :embus, action: :index %></li>
      <% end %>
      <li><%= link_to 'Mine media', controller: :images, action: :mine %></li>
      <li><%= detour_to 'Logg ut', controller: :user, action: :logout %></li>
    </ul>
<% end %>

<% if instructor? %>
    <h1>Instruksjon</h1>

    <div id="instructor_menu">
      <ul>
        <li><%= menu_item 'Oppmøtelister', controller: :attendances, action: :form_index %></li>
        <li><%= menu_item 'Graderinger', controller: :graduations %></li>
      </ul>
    </div>
<% end %>

<% if admin? %>
    <%= render 'layouts/admin_menu' %>
<% end %>

<h1>Oversikt</h1>
<ul>
  <% @information_pages.each do |page| %>
      <li>
        <%= link_to page.title + (page.visible? ? '' : ' (skjult)'), controller: :info, action: :show, id: page.title %>
      </li>
  <% end %>
  <% unless user? %>
      <li><%= detour_to 'Logg inn', controller: :user, action: :login %></li>
  <% end %>
</ul>
