<% if @next_practice %>
    <div id="next_practice">
      <h4>Neste trening</h4>

      <h5 style="color: #FFB400">
        <%= t(:date)[:day_names][@next_practice.group_schedule.weekday] %> <%= @next_practice.date.day %>
        .
        <%= t(:date)[:month_names][@next_practice.date.month].downcase %>
      </h5>

      <% if @your_attendance_next_practice &&
              [Attendance::Status::ATTENDED, Attendance::Status::WILL_ATTEND].include?(@your_attendance_next_practice.status) %>
          <%=render 'attendances/details_link', practice: @next_practice %>
          <% unless @other_absentees.empty? %>
              <%= @other_absentees.size %> har meldt fravær.
          <% end %>
          <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::ABSENT),
                  class: 'btn btn-secondary btn-sm', title: 'Kan ikke allikevel...', method: :post) do %>
              <i class="fa fa-thumbs-down"></i> Angre
          <% end %>
      <% elsif @your_attendance_next_practice %>
          Du kommer ikke.
          <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::WILL_ATTEND),
                  class: 'btn btn-secondary btn-sm', title: 'Kommer allikevel!', method: :post) do %>
              <i class="fa fa-thumbs-up"></i> Kommer allikevel
          <% end %>
          <% unless @other_attendees.empty? %>
              <br/>
              <%= @other_attendees.size %> andre kommer.
          <% end %>
          <% unless @other_absentees.empty? %>
              <br/>
              <%= @other_absentees.size %> har meldt fravær.
          <% end %>
      <% else %>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Kommer du?</span>
            <span class="input-group-btn">
              <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::WILL_ATTEND),
                      class: 'btn btn-secondary', title: 'Kommer!', method: :post) do %>
                  <i class="fa fa-thumbs-up"></i>
              <% end %>
            </span>
            <span class="input-group-btn">
              <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::ABSENT),
                      class: 'btn btn-secondary', title: 'Kan ikke...', method: :post) do %>
                  <i class="fa fa-thumbs-down"></i>
              <% end %>
            </span>
          </div>
          <%=render 'attendances/details_link', practice: @next_practice %>
      <% end %>
    </div>
<% end %>
