<% column_width_1200 = 268 %>
<% column_width_992 = 218 %>
<div class="padded" class="stretch">

<div align="center">
  <%= link_to image_tag('rjjk_logo_&_txt_320.png', :id => :logo_img), '/' %>
</div>

<form action="/search" role="search">
  <div class="input-group">
    <%= search_field nil, nil, :name => :q, :value => @query, :placeholder => 'Søk',
            :class => 'search-query form-control', :onmouseup => 'select()' %>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>

<% if @image && !@image.new_record? && (controller.class != ImagesController || !%w{gallery mine}.include?(controller.action_name)) %>
    <div align="center">
      <%= link_to :controller => :images, :action => :gallery, :id => @image.id do %>
          <% if @image.video? %>
              <%= video_tag url_for(:controller => :images, :action => :show, :id => @image.id, :format => @image.format), :title => @image.name || 'Film', :style => 'width: 100%; border: 0', :controls => true, :autobuffer => true %>
          <% else %>
              <% image_width_1200 = @image.width_max(column_width_1200) %>
              <% image_width_992 = @image.width_max(column_width_992) %>
              <% image_height_1200 = @image.height_at(image_width_1200) %>
              <% image_height_992 = @image.height_at(image_width_992) %>
              <style type="text/css">
                  @media (min-width: 992px) {
                      #gallery_img {
                          height: <%=image_height_992%>px;
                      }
                  }

                  @media (min-width: 1200px) {
                      #gallery_img {
                          height: <%=image_height_1200%>px;
                      }
                  }
              </style>
              <%= image_tag url_for(:controller => :images, :action => :inline, :id => @image.id,
                      :width => image_width_1200, :format => @image.format),
                      :id => :gallery_img,
                      :title => @image.name || 'Bilde', :class => 'img-rounded' %>
          <% end %>
          <br clear="all"/>
          <%= @image.description %>
      <% end %>
      <ul class="controls text-center">
        <li><%= link_to 'Godkjenn', {:controller => :images, :action => :update, :id => @image.id, :image => {:approved => true}}, :method => :put if admin? && !@image.approved? %></li>
        <li><%= link_to @image.public? ? 'Skjul' : 'Publiser', {:controller => :images, :action => :update, :id => @image.id, :image => {:public => !@image.public?}}, :method => :put if admin? %></li>
        <li><%= link_to 'Liker', {:controller => :user, :action => :like, :id => @image.id}, :method => :post if user? && !@image.likers.include?(current_user) %></li>
      </ul>
    </div>
<% end %>

<% if user? %>
    <h3 align="center">Last opp media</h3>
    <%= form_for :image, :url => {:controller => :images, :action => :upload} do |f| %>
        <%= f.file_field :file, :onchange => 'form.submit()',
                :size => '10', :style => 'width: 100%',
                :class => 'hide ie_show', :multiple => true %>
        <div class="input-append ie_hide">
          <input id="pretty-input" style="width: 100%" type="text" onclick="$('input[id=image_file]').click();">
          <a class="btn" onclick="$('input[id=image_file]').click();">Velg
            fil</a>
        </div>
    <% end %>
    <script type="text/javascript">
        $('input[id=image_file]').change(function () {
            $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        });
    </script>
<% end %>

<% if @next_practice %>
    <div id="next_practice">
      <h3>Neste trening</h3>

      <h4 style="color: #FFB400">
        <%= t(:date)[:day_names][@next_practice.group_schedule.weekday] %> <%= @next_practice.date.day %>
        .
        <%= t(:date)[:month_names][@next_practice.date.month].downcase %>
      </h4>

      <% if @your_attendance_next_practice &&
              [Attendance::Status::ATTENDED, Attendance::Status::WILL_ATTEND].include?(@your_attendance_next_practice.status) %>
          Du
          <% unless @other_attendees.empty? %>
              og
              <% if @other_attendees.size == 1 %>
                  <%= @other_attendees[0].member.first_name %>
              <% else %>
                  <a class="colorbox" href="#layout_attendance_details"
                     title="Påmeldt til neste trening">
                    <%= @other_attendees.size %>
                    andre
                  </a>

                  <div style="display:none">
                    <div id="layout_attendance_details" style="padding: 1em">
                      <img style="float: left; width: 100px; height: 100px; margin-right: 1em; margin-left: 0.5em"
                           src="/assets/rjjk_logo_&_txt_320.png"/>

                      <h3>Påmeldt til neste trening</h3>
                      <br clear="all"/>
                    <span class="pull-right" style="font-size: 30pt;background-attachment: scroll;
                            background-clip: border-box;
                            background-color: rgb(0, 0, 255);
                            background-image: none;
                            background-origin: padding-box;
                            background-size: auto;
                            border-bottom-color: rgb(255, 255, 255);
                            border-bottom-left-radius: 23px;
                            border-bottom-right-radius: 23px;
                            border-bottom-style: solid;
                            border-bottom-width: 3px;
                            border-left-color: rgb(255, 255, 255);
                            border-left-style: solid;
                            border-left-width: 3px;
                            border-right-color: rgb(255, 255, 255);
                            border-right-style: solid;
                            border-right-width: 3px;
                            border-top-color: rgb(255, 255, 255);
                            border-top-left-radius: 23px;
                            border-top-right-radius: 23px;
                            border-top-style: solid;
                            border-top-width: 3px;
                            color: rgb(255, 255, 255);
                            padding: 0.25em;
                    "><%= @other_attendees.size + ([Attendance::Status::WILL_ATTEND, Attendance::Status::ATTENDED].include?(@your_attendance_next_practice.status) ? 1 : 0) %></span>
                      <ul>
                        <% if [Attendance::Status::WILL_ATTEND, Attendance::Status::ATTENDED].include? @your_attendance_next_practice.status %>
                            <li><%= @your_attendance_next_practice.member.name %></li>
                        <% end %>
                        <% @other_attendees.each do |a| %>
                            <li>
                              <% if admin? %>
                                  <%= link_to a.member.name, a.member %>
                              <% else %>
                                  <%= a.member.name %>
                              <% end %>
                            </li>
                        <% end %>
                      </ul>
                      <% if @other_absentees.any? %>
                          <h3>Disse kommer ikke</h3>
                          <ul>
                            <% @other_absentees.each do |a| %>
                                <li><%= a.member.name %></li>
                            <% end %>
                          </ul>
                      <% end %>
                    </div>
                  </div>
              <% end %>
          <% end %>
          kommer.
          <% unless @other_absentees.empty? %>
              <%= @other_absentees.size %> har meldt fravær.
          <% end %>
          <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::ABSENT),
                  class: 'btn btn-default btn-xs', title: 'Kan ikke allikevel...', method: :post) do %>
              <i class="glyphicon glyphicon-thumbs-down"></i> Angre
          <% end %>
      <% elsif @your_attendance_next_practice %>
          Du kommer ikke.
          <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::WILL_ATTEND),
                  class: 'btn btn-default btn-xs', title: 'Kommer allikevel!', method: :post) do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
          <% end %>
          <% unless @other_attendees.empty? %>
              <br/>
              <%= @other_attendees.size %> andre kommer.
          <% end %>
          <% unless @other_absentees.empty? %>
              <br/>
              <%= @other_absentees.size %> har meldt fravær.
          <% end %>
      <% else %>
          <% if @other_attendees.any? %>
              <%= @other_attendees.size %> andre kommer.
          <% end %>

          <div class="input-group">
            <div class="input-group-btn">
              Kommer du?
              <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::WILL_ATTEND),
                      class: 'btn btn-default btn-xs', title: 'kommer!', method: :post) do %>
                  <i class="glyphicon glyphicon-thumbs-up"></i>
              <% end %>
              <%= link_to(with_detour(controller: :attendances, action: :announce, status: Attendance::Status::ABSENT),
                      class: 'btn btn-default btn-xs', title: 'kan ikke...', method: :post) do %>
                  <i class="glyphicon glyphicon-thumbs-down"></i>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<% if @layout_events.any? %>
    <% last_year = Date.today.year %>
    <% last_mon = nil %>
    <div class="events">
      <h3>Hva skjer?
        <%= link_to image_tag('ical.png', :style => 'width: 24px;height: 24px'),
                {:only_path => false, :protocol => 'webcal',
                        :controller => :events, :action => :calendar,
                        :format => :ics}, :title => 'Abonnér på hendelseskalender!' %></h3>

      <% @layout_events.each do |event| %>
          <% ingress = nil # event.ingress    %>
          <% ingress = nil if ingress.blank? %>
          <% body = event.body %>
          <% if event.start_at.year != last_year %>
              <% last_year = event.start_at.year %>
              <h4 style="color: #E20916"><%= last_year %></h4>
          <% end %>
          <% if event.start_at.mon != last_mon %>
              <% last_mon = event.start_at.mon %>
              <h4 style="color: #E20916"><%= t Date::MONTHNAMES[last_mon] %></h4>
          <% end %>
          <h4 style="color: #FFB400">
            <% if event.end_at.nil? || event.end_at == event.start_at %>
                <% if event.start_at.min != 0 || event.start_at.hour != 0 %>
                    <%= t(:date)[:day_names][event.start_at.wday] %> <%= event.start_at.strftime('%d. kl. %H:%M') %>
                <% else %>
                    <%= t(:date)[:day_names][event.start_at.wday] %> <%= event.start_at.mday %>
                    .
                <% end %>
            <% else %>
                <% if event.end_at.to_date == event.start_at.to_date %>
                    <%= t(:date)[:day_names][event.start_at.wday] %> <%= event.start_at.mday %>
                    .<br/>
                    kl. <%= event.start_at.strftime('%H:%M') %>
                    -<%= event.end_at.strftime('%H:%M') %>
                <% else %>
                    <% if event.start_at.min == 0 && event.start_at.hour == 0 && event.end_at.hour == 0 && event.end_at.min == 0 %>
                        <%= event.start_at.mday %>-<%= event.end_at.mday %>.
                    <% else %>
                        <%= t(:date)[:day_names][event.start_at.wday] %> <%= event.start_at.mday %>
                        .
                        <%= event.start_at.strftime('%H:%M') %>
                        -
                        <%= t(:date)[:day_names][event.end_at.wday] %>  <%= event.end_at.mday %>
                        .
                        <%= event.end_at.strftime('%H:%M') %>
                    <% end %>
                <% end %>
            <% end %>
          </h4>

          <h4 style="margin-bottom: 0">
            <% if body %>
                <%= link_to event.name, event %>
            <% else %>
                <%= event.name %>
            <% end %>
            <%= link_to image_tag('ical.png', :style => 'width: 24px;height: 24px'),
                    {:controller => :events, :action => :calendar,
                            :id => event.id, :format => :ics},
                    :title => "Sett '#{event.name}' på din kalender!" %>
          </h4>

          <% if user? -%>
              <% if (crowd_size = event.size) > 0 -%>
                  <div class="details">
                    <%= crowd_size %> påmeldte.
                  </div>
              <% end %>
          <% end %>

          <% if ingress %>
              <%= ingress.gsub(/&nbsp;/, ' ').html_safe %>
          <% end %>
          <ul class="controls">
            <% if ingress && event.description.size > ingress.size %>
                <li><%= link_to 'Les mer', {:controller => :events, :action => :show, :id => event.id}, :class => :edit %></li>
            <% end %>
            <li><%= link_to 'Redigèr', edit_polymorphic_path(event), :class => :edit if admin? %></li>
          </ul>
      <% end %>
    </div>

    <% if admin? %>
        <ul class="controls">
          <li><%= link_to 'Ny hendelse', {:controller => :events, :action => :new}, :class => :edit %></li>
          <li><%= link_to 'Arkiv', {:controller => :events, :action => :index}, :class => :edit %></li>
        </ul>
        <br/>
    <% end %>

<% end %>

<% if admin? %>
    <% if Rails.env != 'development' %>
        <% history_chart_link = image_tag(url_for(:controller => :members, :action => :history_graph, :format => :png, :id => 268), :title => 'Historikk graf', :class => 'img-rounded', :style => 'width: 100%; border: 0') %>
        <% attendance_chart_link = image_tag(url_for(:controller => :attendances, :action => :history_graph, :format => :png, :id => 268), :title => 'Oppmøte graf', :class => 'img-rounded', :style => 'width: 100%; border: 0') %>
        <% grades_chart_link = image_tag(url_for(:controller => :members, :action => :grade_history_graph, :format => :png, :id => 268), :title => 'Historikk over grader', :class => 'img-rounded', :style => 'width: 100%; border: 0') %>
        <% age_chart_link = image_tag(url_for(:controller => :members, :action => :age_chart, :format => :png, :id => 268), :title => 'Aldersfordeling', :class => 'img-rounded', :style => 'width: 100%; border: 0') %>
        <% good_attendance_chart_link = image_tag(url_for(:controller => :members, :action => :grade_history_graph_percentage, :format => :png, :id => 268, :percentage => 50, :step => 30, :interval => 92), :title => 'Jevnt oppmøte voksne per grad', :class => 'img-rounded', :style => 'width: 100%; border: 0') %>
    <% else %>
        <% history_chart_link = 'Medlemshistorikk' %>
        <% attendance_chart_link = 'Oppmøte' %>
        <% grades_chart_link = 'Historikk over grader' %>
        <% age_chart_link = 'Aldersfordeling' %>
        <% good_attendance_chart_link = 'Jevnt oppmøte voksne' %>
    <% end %>
    <%= link_to history_chart_link, :controller => :members, :action => :report %>
    <br/>
    <%= link_to attendance_chart_link, :controller => :attendances, :action => :report %>
    <br/>
    <%= link_to grades_chart_link, :controller => :members, :action => :grade_history_graph, :format => :png, :id => 800 %>
    <br/>
    <%= link_to age_chart_link, :controller => :members, :action => :age_chart, :format => :png, :id => 800 %>
    <br/>
    <%= link_to good_attendance_chart_link, :controller => :members, :action => :grade_history_graph_percentage, :format => :png, :id => 800, :percentage => 50, :step => 30, :interval => 92 %>
    <br/>
<% end %>

<h3>Grupper</h3>
<ul>
  <% @groups.each do |g| %>
      <li>
        <%= link_to g.name, g %>
        <span style="white-space:nowrap">(<%= g.from_age %>-<%= g.to_age %>
          år)</span>
        <% if admin? %>
            <ul>
              <% g.instructors.each do |m| %>
                  <li><%= m.name %>
                    <% roles = g.group_schedules.map { |gs| gs.group_instructors.active.select { |gi| gi.member_id == m.id }.map(&:role) }.flatten.uniq %>
                    <% if roles != [GroupInstructor::Role::INSTRUCTOR] %>
                        (<%= roles.join(', ') %>)
                    <% end %>
                    <% unless g.group_schedules.all? { |gs2| gs2.group_instructors.active.map(&:member).include?(m) } %>
                        <% g.group_schedules.each do |gs| %>
                            <% if gs.group_instructors.active.map(&:member).include?(m) %>
                                (<%= gs.weekday_name %>)
                            <% end %>
                        <% end %>
                    <% end %>
                  </li>
              <% end %>
              <% g.group_schedules.each do |gs| %>
                  <% if gs.group_instructors.active.empty? && g.current_semester %>
                      <li>
                        <%= link_to "#{gs.weekday_name} mangler!",
                                controller: :group_instructors, action: :new,
                                group_instructor: {
                                        group_schedule_id: gs.id,
                                        group_semester_id: g.current_semester.id,
                                } %>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        <% end %>
      </li>
  <% end %>
</ul>

</div>
