<h1><%= current_user.name %></h1>
<ul>
  <% if member? %>
      <% if current_user.member.groups.reject(&:school_breaks).any? %>
          <li><%= detour_to 'Mitt oppmøte', controller: :attendances, action: :plan %></li>
      <% end %>
      <li><%= menu_item 'Pensum', controller: :ranks, action: :pensum %></li>
      <li><%= link_to 'Min Embu', controller: :embus, action: :index %></li>
  <% end %>
  <li><%= link_to 'Mine media', controller: :images, action: :mine %></li>
  <li><%= detour_to 'Logg ut', controller: :login, action: :logout %></li>
</ul>