<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="description"/>
  <meta name="keywords" content="keywords"/>
  <meta name="author" content="author"/>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

  <link href="<%= url_for(:controller => 'stylesheets', :action => 'dark_ritual', :format => 'css', :id => @content_width) %>" media="screen" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag :application, :media => :all %>

  <title>Romerike Jujutsu Klubb</title>

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20693372-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>

</head>

<body>

<div class="container">

  <div class="header">
    Romerike Jujutsu Klubb<br/>

    <% if flash[:notice] %>
        <div style="width: 45% ; height: 3em ; background: white; margin-left: 1em ; border: 1px solid yellow; font-size: 10pt ; float: left">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <span style="font-size: 10pt; text-align: center">
      <%= link_to 'Logg på NKF', 'http://nkfwww.kampsport.no/portal/page/portal/ks_utv/st_login', :onclick => 'return !window.open(this.href)', :style => 'margin-right: 50px' %>
      <%= link_to 'FaceBook', 'http://www.facebook.com/home.php#!/pages/Romerike-Jujutsu-Klubb/260684570923?ref=ts', :onclick => 'return !window.open(this.href)' %>
      <%= link_to 'Bli medlem!', 'http://nkfwww.kampsport.no/portal/page/portal/ks_utv/ks_bli_medlem?p_o3_pk_id=162', :onclick => 'return !window.open(this.href)' %>
	</span>
  </div>

  <div class="main_right">

    <div class="padded">
      <%= link_to image_tag('rjjk_logo_&_txt_320.png', :style => 'width: 182px; height: 181px; border: 0'), '/' %>

      <% if @image %>
          <%= link_to :controller => :images, :action => admin? ? :index : :show, :id => @image.id do %>
              <% if @image.video? %>
                  <%= video_tag image_url(@image), :title => @image.name || 'Film', :style => 'width: 100%; border: 0', :controls => true, :autobuffer => true %>
              <% else %>
                  <%= image_tag url_for(:controller => :images, :action => :inline, :id => @image.id, :width => 182), :title => @image.name || 'Bilde', :style => 'width: 100%; border: 0' %>
              <% end %>
              <%= @image.description %>
              <%= link_to 'Godkjenn', {:controller => :images, :action => :update, :id => @image.id, :image => {:approved => true}}, :method => :put if admin? && !@image.approved? %>
              <%= link_to @image.public? ? 'Skjul' : 'Publiser', {:controller => :images, :action => :update, :id => @image.id, :image => {:public => !@image.public?}}, :method => :put if admin? %>
              <%= link_to 'Liker', {:controller => :user, :action => :like, :id => @image.id}, :method => :post if user? && !@image.likers.include?(current_user) %>
          <% end %>
          <br/>
      <% end %>

      <% if user? %>
          <h3>Last opp</h3>
          <%= form_for @new_image do |f| %>
              <%= f.file_field :file %>
              <%= f.submit %>
          <% end %>
      <% end %>

      <h3>Hva skjer?</h3>

      <% for event in @events %>
          <% ingress = event.ingress %>
          <% ingress = nil if ingress.blank? %>
          <h4><span style="white-space: nowrap">
            <% if event.start_at.min != 0 || event.start_at.hour != 0 %>
                <%= event.start_at.strftime('%d/%m %H:%M') %>
            <% else %>
                <%= event.start_at.strftime('%d/%m') %>
            <% end %>
            <% if event.end_at %>
                -
                <%= event.end_at.strftime('%Y-%m-%d') if event.end_at.to_date != event.start_at.to_date %>
                <%= event.end_at.strftime('%H:%M') if event.end_at.hour != 0 || event.end_at.min != 0 %>
            <% end %>
            <% if ingress %>
                <%= link_to event.name, :controller => :events, :action => :show, :id => event.id %>
            <% else %>
                <%= event.name %>
            <% end %>
          </span></h4>
          <%= link_to 'Redigèr', :controller => :events, :action => :edit, :id => event.id if admin? %>

          <% if ingress %>
              <%= ingress.html_safe %>
          <% end %>
          <% if ingress && event.description.size > ingress.size %>
              <ul class="controls">
                <li><%= link_to 'Les mer', {:controller => :events, :action => :show, :id => event.id}, :class => :edit %></li>
              </ul>
          <% end %>
      <% end %>

      <% if admin? %>
          <ul class="controls">
            <li><%= link_to 'Ny hendelse', {:controller => 'events', :action => 'new'}, :class => :edit %></li>
          </ul>
      <% end %>
      <br/>

      <!--<% if admin? %>-->
          <!--<%= link_to image_tag(url_for(:controller => :members, :action => :history_graph, :format => :png, :id => 182), :title => 'Historikk graf', :style => 'width: 100%; border: 0'), :controller => :members, :action => :history_graph, :format => :png, :id => 1024 %>-->
          <!--<%= link_to image_tag(url_for(:controller => :attendances, :action => :history_graph, :format => :png, :id => 182), :title => 'Historikk graf', :style => 'width: 100%; border: 0'), :controller => :attendances, :action => :history_graph, :format => :png, :id => 1024 %>-->
          <!--<%= link_to image_tag(url_for(:controller => :members, :action => :grade_history_graph, :format => :png, :id => 182), :title => 'Historikk over grader', :style => 'width: 100%; border: 0'), :controller => :members, :action => :grade_history_graph, :format => :png, :id => 1024 %>-->
          <!--<br/>-->
          <!--<br/>-->
      <!--<% end %>-->

      <br/>
      <%= link_to image_tag('http://romerikeaikido.org/Bilder/san_gen-logo-rak.jpg', :style => 'width: 182px; height: 182px; border: 0'), 'http://romerikeaikido.org/', :target => :blank %>

    </div>

  </div>

  <div class="subnav">

    <ul>
      <li><%= link_to 'Forside', '/' %></li>
    </ul>

		<h1>Oversikt</h1>
		<ul>
			<% @information_pages.each do |page| %>
			<li>
				<%=link_to page.title + (page.visible? ? '' : ' (skjult)'), :controller => :info, :action => :show, :id => page.title%>
				<%#=link_to 'ned', :controller => :info, :action => :move_down, :id => page.id%>
			</li>
			<% end %>

		<% if not user? %>
   			<li><%=link_to 'Login', :controller => 'user', :action => :login %></li>
		<% else %>
   			<li><%=link_to 'Logout', :controller => 'user', :action => :logout %></li>
		<% end %>
		</ul>

      <% if admin? %>
		<h1>Administrasjon</h1>
          <div id="admin_menu">
            <ul>
              <li><%= link_to 'Ny nyhet', :controller => 'news', :action => 'new' %></li>
              <li><%= link_to 'Ny side', :controller => 'info', :action => 'new' %></li>
              <li><%= link_to 'Ny hendelse', :controller => 'events', :action => 'new' %></li>
              <li><%= link_to 'Brukere', :controller => 'user', :action => :list %></li>
            </ul>
          </div>

          <h1>Medlemsreg.</h1>

          <div id="members_menu">
            <ul>
            <li><%=menu_item 'Medlemsliste', :controller => 'members', :action => :list_active %></li>
			<li><%=menu_item 'Oppmøtelister', :controller => 'members', :action => :attendance_form_index %></li>
			<li><%=menu_item 'Graderingsoversikt', :controller => 'members', :action => :grading_form_index %></li>
			<li><%=menu_item 'Telefonliste', :controller => 'members', :action => :telephone_list %></li>
			<li><%=menu_item 'E-postlister', :controller => 'members', :action => :email_list %></li>
			<li><%=menu_item 'Gamle medlemmer', :controller => 'members', :action => :list_inactive %></li>
			<li><%=menu_item 'Graderinger', :controller => 'graduations' %></li>
			<li><%=menu_item 'Stiler', :controller => 'martial_arts' %></li>
			<li><%=menu_item 'Grader', :controller => 'ranks' %></li>
			<li><%=menu_item 'Grupper', :controller => 'groups' %></li>
			<li><%=menu_item 'Treninger', :controller => 'group_schedules' %></li>
			<!--
			<li><%=menu_item 'Inntekt', :controller => 'members', :action => :income %></li>
			<li><%=menu_item 'NKF Rapport', :controller => 'members', :action => :NKF_report %></li>
			<li><%=menu_item 'CMS-Kontrakter', :controller => 'cms_members', :action => :active_contracts %></li>
			<li><%=menu_item 'CMS Avstemming', :controller => 'members', :action => :cms_comparison %></li>
			<li><%=menu_item 'NKF Medlemsliste', :controller => 'nkf_members', :action => :index %></li>
			-->
              <li><%=menu_item 'NKF Avstemming', :controller => 'nkf_members', :action => :comparison %></li>
			<li><%=menu_item 'Versjon', :controller => 'info', :action => :versjon %></li>
		</ul>
		</div>
		<% end %>

<!--
		<h1>Third and last</h1>
		<ul>
			<li><a href="index.html">sociis natoque</a></li>
			<li><a href="index.html">magna sed purus</a></li>
			<li><a href="index.html">tincidunt</a></li>
			<li><a href="index.html">consequat molestie</a></li>
		</ul>
-->

	</div>
		
	<div class="main">

		<div class="padded">
          <%= yield %>
		</div>

	</div>
	
	<div class="clearer"><span></span></div>

	<div class="footer">
		
		<span class="left">&copy; 2008 <a href="http://jujutsu.no/">Romerike Jujutsu Klubb</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a></span>
		
		<span class="right">Template design by <a href="http://templates.arcsin.se">Arcsin</a></span>
		
		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>