<%= error_messages_for 'member' %>

<div class="row">
  <div class="col-md-4">
          <% if @member.image? %>
              <%= image_tag url_for(:action => :thumbnail, :id => @member.id, :format => @member.image.format), :title => @member.image.name, :style => 'float: left' %>
          <% else %>
              Last opp bilde:
          <% end %>
          <br/>
          <%= file_field :member, :image_file, :style => 'width: 206px' %>

          <div class="form-group">
            <label for="member_first_name">Fornavn</label>
            <%= text_field 'member', 'first_name', :class => 'form-control' %>
          </div>

          <div class="form-group">
            <label for="member_last_name">Etternavn</label>
            <%= text_field 'member', 'last_name', :class => 'form-control' %>
          </div>

          <div class="form-group">
            <label for="member_address">Adresse</label>
            <%= text_field 'member', 'address', :class => 'form-control' %>
          </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="member_postal_code">Postnummer</label>
        <%= text_field 'member', 'postal_code', class: 'postal_code form-control' %>
      </div>

      <div class="form-group col-6">
        <label for="member_phone_mobile">Telefon mobil</label>
        <%= text_field 'member', 'phone_mobile', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <label for="member_email">E-post</label>
        <%= text_field 'member', 'email', class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="member_phone_home">Telefon hjem</label>
        <%= text_field 'member', 'phone_home', class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <label for="member_phone_work">Telefon arbeid</label>
        <%= text_field 'member', 'phone_work', class: 'form-control' %>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="form-group col-9">
        <label for="member_birthdate">Fødselsdato</label>
        <%= text_field :member, :birthdate, placeholder: 'år-måned-dag', class: 'date form-control' %>
      </div>
      <div class="col-3">
        <label>Alder</label>
        <%= "#{((Date.current - @member.birthdate.to_date) / 365).to_i} år" if @member.birthdate %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="member_male">Kjønn</label>
        <%= select 'member', 'male', [['Mann', true], ['Kvinne', false]], {}, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <%= label :member, :joined_on, 'Innmeldingsdato' %>
        <%= text_field :member, :joined_on, class: 'date form-control' %>
      </div>

      <div class="form-group col-6">
        <%= label :member, :left_on, 'Utmeldingsdato' %>
        <%= text_field :member, :left_on, class: 'date form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="member_contract_id">Medlemsnummer</label>
        <%= text_field 'member', 'contract_id', class: 'form-control col-6' %>
      </div>

      <div class="form-group col-6">
        <label for="member_nkf_member_id">NKF medlemsnummer</label>
        <span class="form-control"><%= @member.nkf_member.try(:medlemsnummer) %></span>
      </div>
    </div>

    <div class="form-group">
      <label for="member_parent_name">Foresattes navn</label>
      <%= text_field 'member', 'parent_name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="member_phone_parent">Foresattes telefon</label>
      <%= text_field 'member', 'phone_parent', :class => 'form-control col-6' %>
    </div>

    <div class="form-group">
      <label for="member_parent_email">Foresattes e-post</label>
      <%= text_field 'member', 'parent_email', :class => 'form-control col-6' %>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="member_billing_type">Faktureringsmåte</label>
        <%= select 'member', 'billing_type', [['AutoGiro', 'AUTOGIRO'], ['Manuell Giro', 'MANUELL GIRO'], ['AvtaleGiro', 'AvtaleGiro'],
                        @member.billing_type && [@member.billing_type, @member.billing_type]].compact.uniq.sort,
                {}, class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <label for="member_account_no">Kontonummer</label>
        <%= text_field 'member', 'account_no', class: 'form-control col-6' %>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <% @groups.each do |g| %>
        <% next unless g.active? || @member.groups.include?(g) %>
        <% attendances_since_graduation = @member.attendances_since_graduation(Date.current, g).size -%>
        <label for="member_group_ids_<%= g.id %>" <%= 'style="font-weight: bold"'.html_safe if g.contains_age(@member.age) %> >
          <%= check_box_tag "member_group_ids[#{g.id}]", g.id, @member.groups.include?(g) %>
          <%= "#{g.martial_art.name} #{g.name} #{link_to("(#{attendances_since_graduation} treninger)", :controller => :attendances, :action => :since_graduation, :id => @member.id) if attendances_since_graduation > 0}".html_safe %>
        </label><br/>
    <% end %>

    <div class="form-group">
      <label>Instruktør:</label>
      <%= link_to @member.group_instructor? ? 'Ja' : 'Nei', controller: :group_instructors %>
      <%= check_box :member, :instructor, title: 'Permanent instruktør' %>
      <%= label :member, :instructor, 'fast', title: 'Permanent instruktør' %>
    </div>

    <div class="form-group">
      <label for="member_nkf_fee">NKF Hovedklubb</label>
      <%= select :member, :nkf_fee, [['Ja', true], ['Nei', false]], {},
              class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="member_payment_problem">Betalingsproblem</label>
      <%= select :member, :payment_problem, [['Nei', false], ['Ja', true]], {},
              class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="member_rfid">RFID</label>
      <%= text_field 'member', 'rfid', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="member_billing_name">Fakturanavn (hvis annet enn medlem)</label>
      <%= text_field 'member', 'billing_name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="member_billing_address">Fakturaadresse</label>
      <%= text_field 'member', 'billing_address', class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="member_billing_postal_code">Fakturapostnummer</label>
      <%= text_field 'member', 'billing_postal_code', class: 'form-control postal_code' %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="member_Kommentar">Kommentar</label>
    <%= text_area 'member', 'comment', class: 'form-control' %>
  </div>
</div>
