<%=javascript_include_tag 'CalendarPopup' %>
<script language="JavaScript">
var cal = new CalendarPopup();
</script>

<%= error_messages_for 'member' %>

<!--[form:member]-->
<style type="text/css">
table#spaced td {
  padding: 0.5em;
}
input.full {width: 16em;}
input.postal_code {width: 3em;}
input.half {width: 7.5em;}
</style>

<div style="float: left">
<% if @member.image? %>
	<%=image_tag url_for(:action => :thumbnail, :id => @member.id, :format => @member.image.format), :title => @member.image.name, :style => 'float: left'%>
<% else %>
	Last opp bilde: 
<% end %>
<%=file_field :member, :image_file, :size => 8 %>
</div>

<table id="spaced" style="float: left" cellpadding="20px">
	<tr>
		<td valign="top">
<label for="member_first_name">Fornavn</label>
<%= text_field 'member', 'first_name', :class => :full %>

<label for="member_last_name">Etternavn</label>
<%= text_field 'member', 'last_name', :class => :full %>

<label for="member_address">Adresse</label>
<%= text_field 'member', 'address', :class => :full %>

<label for="member_postal_code">Postnummer</label>
<%= text_field 'member', 'postal_code', :class => :postal_code %>

<label for="member_email">E-post</label>
<%= text_field 'member', 'email', :class => :full %>

<div style="float: left; margin-right: 1em"><label for="member_phone_mobile">Telefon mobil</label>
<%= text_field 'member', 'phone_mobile', :class => :half %></div>

<div><label for="member_phone_home">Telefon hjem</label>
<%= text_field 'member', 'phone_home', :class => :half %></div>

<label for="member_phone_work">Telefon arbeid</label>
<%= text_field 'member', 'phone_work', :class => :half %>

<label for="member_birthdate">Fødselsdato (format yyyy-mm-dd)</label>
<%=text_field 'member', 'birthdate', :class => :half %>
<%="#{((Date.today - @member.birthdate.to_date) / 365).to_i} år" if @member.birthdate %>

<label for="member_male">Kjønn</label>
<%=select "member", "male", [['Mann', true], ['Kvinne', false]] %>

		</td>
		<td valign="top">
<label for="member_joined_on">Innmeldingsdato</label>
<%= date_select 'member', 'joined_on', :start_year=>1982 %>

<label for="member_contract_id">Medlemsnummer</label>
<%= text_field 'member', 'contract_id', :class => :half %>

  <label for="member_nkf_member_id">NKF medlemsnummer</label>
  <span style="background-color: white; border: 1px solid #d3d3d3;"><%=@member.nkf_member.try(:medlemsnummer) %></span>

<label for="member_left_on">Utmeldt dato</label>
<%=text_field :member, :left_on, :value => @member.left_on && @member.left_on.strftime('%Y-%m-%d'), :size => 10 %>
<a href="#" onclick="cal.select(document.forms[0].member_left_on,'anchor1','yyyy-MM-dd'); return false;" name="anchor1" id="anchor1">Velg</a>

<label for="member_parent_name">Foresattes navn</label>
<%= text_field 'member', 'parent_name', :class => :full %>

<label for="member_phone_parent">Foresattes telefon</label>
<%= text_field 'member', 'phone_parent', :class => :half %>

<label for="member_billing_type">Faktureringsmåte</label>
  <%=select 'member', 'billing_type', [['AutoGiro', 'AUTOGIRO'], ['Manuell Giro', 'MANUELL GIRO'], ['AvtaleGiro', 'AvtaleGiro'], @member.billing_type && [@member.billing_type, @member.billing_type]].compact.uniq.sort %>

<label for="member_account_no">Kontonummer</label>
  <%=text_field 'member', 'account_no', :class => :half %>

<br clear="all"/>

<label for="member_billing_name">Fakturanavn (hvis annen enn medlem)</label>
<%= text_field 'member', 'billing_name', :class => :full %>

<label for="member_billing_address">Fakturaadresse</label>
<%= text_field 'member', 'billing_address', :class => :full %>

<label for="member_billing_postal_code">Fakturapostnummer</label>
<%= text_field 'member', 'billing_postal_code', :class => :postal_code %>

		</td>

		<td valign="top">
<p>
<% @groups.each do |g| %>
  <% attendances_since_graduation = @member.attendances_since_graduation(Date.today, g).size -%>
  <label for="member_group_ids_<%=g.id%>" <%='style="font-weight: bold"' if g.contains_age(@member.age)%> >
    <%=check_box_tag "member_group_ids[#{g.id}]", g.id, @member.groups.include?(g) %>
    <%= "#{g.martial_art.name} #{g.name} #{link_to("(#{attendances_since_graduation} treninger)", :controller => :attendances, :action => :since_graduation, :id => @member.id) if attendances_since_graduation > 0}".html_safe %>
  </label>
<% end %>
</p>

<label for="member_instructor">Instruktør</label>
<%=select :member, :instructor, [['Nei', false], ['Ja', true]] %>

<label for="member_nkf_fee">NKF Hovedklubb</label>
<%=select :member, :nkf_fee, [['Ja', true], ['Nei', false]] %>

<label for="member_payment_problem">Betalingsproblem</label>
<%=select :member, :payment_problem, [['Nei', false], ['Ja', true]] %>

<label for="member_rfid">RFID</label>
<%=text_field 'member', 'rfid', :class => :full %>

<label for="member_Kommentar">Kommentar</label>
<%=text_area 'member', 'comment', :cols => 47, :rows => 12 %>

		</td>

	</tr>
</table>

<br clear="all"/>
<!--[eoform:member]-->
