<% @content_width = 1024 %>

<% if @members and not @members.empty? %>
    <table class="table">
      <tr>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Gruppe</th>
        <th>Grad</th>
        <th>Status</th>
        <th>E-post</th>
        <th>Mobil</th>
      </tr>
      <% @members.each do |member| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= link_to member.first_name, member %></td>
            <td><%= link_to member.last_name, member %></td>
            <td><%= member.groups.map { |g| "#{g.name}#{" (#{g.martial_art.family})" if g.martial_art.family != 'Jujutsu'}" } * ', ' %></td>
            <td><%= member.current_rank && member.current_rank.name %></td>
            <td><%= member.left_on ? 'Utmeldt' : (member.instructor ? 'Instruktør' : 'Aktiv') %></td>
            <td><a href="mailto:<%= h member.email %>"><%= h member.email %></a></td>
            <td><%= member.user.phone %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p></p>
    Ingen treff på dette søket.
<% end %>
