<% @content_width = 1024 %>

<div id="graduations" style="float: right">
<table class="table table-bordered table-condensed">
	<tr>
		<th>Dato</th>
		<th>Grad</th>
		<th>Tid før grad</th>
		<th>Treninger</th>
	</tr>
	<% for graduate in @member.graduates.sort_by{|g|g.graduation.held_on}.reverse %>
	<tr>
		<td><%=link_to graduate.graduation.held_on, :controller => :graduations, :action => :index, :id => graduate.graduation_id %></td>
		<td>
          <%=graduate.rank.martial_art.name unless graduate.rank.martial_art.name == 'Kei Wa Ryu'%>
          <%=graduate.rank.name%>
          <%=graduate.rank.colour%>
        </td>
		<td align="center">
          <%= graduate.training_duration %>
          <% if graduate.training_duration != graduate.rank.standard_months %>
              (<span title="Normert tid i måneder"><%= graduate.rank.standard_months %></span>)
          <% end %>
          mnd
          (<%= graduate.training_period.to_s.gsub('..', ' - ') %>)
        </td>
		<td style="text-align: center">
          <%=link_to graduate.training_attendances, :controller => :attendances, :action => :since_graduation, :id => graduate.member_id, :date => graduate.graduation.held_on %>
        </td>
	</tr>
	<% end %>
  <% if @member.graduates.empty? %>
	<tr>
		<td colspan="4" align="center">
			<%=link_to 'Graderinger', :controller => 'graduations'%>
		</td>
	</tr>
      <% end %>
</table>
</div>

<%=form_tag({:action => 'update', :id => @member}, {:multipart => true, :method => :put}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Lagre', :id => 'save', :class => 'btn' %>
  <%= back_or_link_to 'Tilbake', :action => :list %>
  <%= link_to 'Til NKF avstemming', :controller => :nkf_members, :action => :comparison, :id => 0 %>
<% end %>

<script type="text/JavaScript">
//<!--
document.getElementById('member_first_name').focus();
document.getElementById('member_first_name').select();
new Effect.ScrollTo("graduations")
//-->
</script>
