<% @content_width = 1024 %>

<div id="graduations" style="float: right">
<table border="1">
	<tr>
		<th>Dato</th>
		<th>Grad</th>
		<th>Tid før grad</th>
		<th>Treninger</th>
	</tr>
	<% for graduate in @member.graduates.sort_by{|g|g.graduation.held_on} %>
	<tr>
		<td><%=link_to graduate.graduation.held_on, :controller => :graduations, :action => :index, :id => graduate.graduation_id %></td>
		<td><%=graduate.rank.martial_art.name%> <%=graduate.rank.name%></td>
		<td align="center"><%=graduate.training_duration %> (<%=graduate.rank.standard_months %>)  mnd</td>
		<td align="center"><%=link_to graduate.training_attendances, :controller => :attendances, :action => :since_graduation, :id => graduate.member_id, :date => graduate.graduation.held_on %>
          <%= graduate.training_period %>
        </td>
	</tr>
	<% end %>
	<tr>
		<td colspan="4" align="center">
			<%=link_to 'Graderinger', :controller => 'graduations'%>
		</td>
	</tr>
</table>
</div>


<h1>Redigèr Medlem</h1>

<%=form_tag({:action => 'update', :id => @member}, {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Lagre', :id => 'save' %>
  <%= link_to 'Tilbake', :action => 'list' %>
  <%= link_to 'Til NKF avstemming', :controller => :nkf_members, :action => :comparison, :id => 0 %>
<% end %>

<script type="text/JavaScript">
//<!--
document.getElementById('member_first_name').focus();
document.getElementById('member_first_name').select();
new Effect.ScrollTo("graduations")
//-->
</script>
