<% @content_width = 1024 %>

<%= form_tag({:action => 'update', :id => @member}, {:multipart => true, :method => :put}) do %>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_details" data-toggle="tab">Detaljer</a></li>
      <li><a href="#tab_graduations" data-toggle="tab">Graderinger</a></li>
      <li><a href="#tab_user" data-toggle="tab">Web-bruker</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab_details">
        <%= render :partial => 'form' %>
      </div>
      <div class="tab-pane fade " id="tab_graduations">
        <%= render :partial => 'graduations' %>
      </div>
      <div class="tab-pane fade" id="tab_user">
        <p>
          <% if @member.user %>
              <%= link_to 'Bruker', edit_user_path(@member.user) %>
          <% else %>
              Ingen bruker!
          <% end %>
        </p>
      </div>
    </div>

    <br/>

    <div class="btn-toolbar float-right">
      <%= back_or_link_to 'Tilbake', {action: :index}, class: 'btn btn-link' %>
      <%= link_to 'Til NKF avstemming', {controller: :nkf_members, action: :comparison, id: 0}, class: 'btn btn-link' %>
      <%= submit_tag 'Lagre', id: 'save', class: 'btn btn-primary' %>
    </div>
<% end %>

<%= javascript_tag do %>
    document.getElementById('member_first_name').focus();
    document.getElementById('member_first_name').select();
<% end %>
