<% @content_width = 1024 %>

<h1>E-postlister</h1>

<table>
  <% emails = @groups.map { |g| g.members.active(Date.current).map { |m| m.email } }.flatten.compact.sort.uniq %>
  <% missing_emails = @groups.inject(0) { |sum, g| sum += g.members.active(Date.current).size } - emails.size %>
  <tr>
    <td>Alle aktive medlemmer</td>
    <td><%= link_to 'Send e-post', "mailto:#{emails * ','}?subject=[RJJK] Melding fra RJJK&body=Din tekst her." %></td>
    <td>(<%= emails.size %>stk<%= ", #{missing_emails} mangler adresse" if missing_emails.nonzero? %>)</td>
  </tr>
  <% for group in @groups %>
      <% emails = group.members.active(Date.current).map { |m| m.email }.compact.uniq %>
      <% next if emails.empty? %>
      <% missing_emails = group.members.active(Date.current).select{|m| m.email.blank?} %>
      <tr>
        <td>Aktive <%= group.martial_art.family %> <%= group.name %></td>
        <td><%= link_to 'Send e-post', "mailto:#{emails * ','}?subject=[RJJK] Melding fra RJJK&body=Din tekst her." %></td>
        <td>(<%= emails.size %>stk<%= ", #{missing_emails.size} mangler adresse" if missing_emails.any? %>)</td>
      </tr>
  <% end %>
  <tr>
    <td>Administratorer</td>
    <td><%= link_to 'Send e-post', "mailto:#{@administrator_emails * ','}?subject=[RJJK][Administratorer] Ditt emne her&body=Din tekst her." %></td>
    <td>(<%= @administrator_emails.size %>
      stk<%= ", #{@missing_administrator_emails} mangler adresse" if @missing_administrator_emails.nonzero? %>)
    </td>
  </tr>
  <% former_emails = @former_members.map { |m| m.email }.compact.uniq %>
  <tr>
    <td>Tidligere medlemmer</td>
    <td><%= link_to 'Send e-post', "mailto:#{former_emails * ','}?subject=E-post fra RJJK&body=Din tekst her." %></td>
    <td>(<%= former_emails.size %> stk, <%= @former_members.size - former_emails.size %> mangler adresse)</td>
  </tr>
</table>
