<% @content_width = 1024 %>

<div class="float-right">
  <ul>
    <li><%= link_to 'Telefonliste', action: :telephone_list %></li>
    <li><%= link_to 'E-postlister', action: :email_list %></li>
    <li><%= link_to 'Gamle medlemmer', action: :list_inactive %></li>
  </ul>
</div>

<h1>Medlemsliste (<%= @member_count %>)
  (<%= link_to 'Excel', :action => :excel_export %>)</h1>

<%= render :partial => '/members/search_form' %>

<%= render :partial => 'user_table' %>

<%= will_paginate @members %>

<br/>

<%#= link_to 'Nytt medlem', :action => 'new' %>
