<% @content_width = 1024 %>

<h1>Medlemsliste (<%=@member_count%>) (<%=link_to 'Excel', :action => :excel_export%>)</h1>

<%=render :partial => '/members/search_form'%>

<table class="members" border="0" cellpadding="5" cellspacing="1">
  <tr>
    <th align="left">Fornavn'</th>
    <th align="left">Etternavn</th>
    <th align="left">Grad</th>
  </tr>
  
<%
	for member in @members
		fn = member.first_name.split(/\s+/).each { |x| x.capitalize!}.join(' ')
		ln = member.last_name.split(/\s+/).each { |x| x.capitalize!}.join(' ') 
%>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(fn), :action => 'edit', :id => member %></td>
    <td><%=h ln %></td>
    <td><%=h(member.current_rank && member.current_rank.name) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @members %>

<br />

<%#= link_to 'Nytt medlem', :action => 'new' %>
