<%=image_tag 'rjjk_logo_&_txt_320.png', :align => :right %>

<h1>Innmelding for<br/><%=@name%></h1>

<p>
<% if @trial %>
	<%=@name%> sin prøvetid er nå over, og vi savner en medlemskontrakt.
<% else %>
	Vi savner en medlemskontrakt for <b><%=@name%></b>.
<% end %>
	<br/>
	En kontrakt er sendt til følgende e-postadresse:
</p>

<h2><%=@email%></h2>

<p>
	Hvis e-postadressen er feil, vennligst fyll inn riktig adresse og gi til medlemsansvarlig
	<b>Uwe Kubosch</b> eller til en <b>instruktør</b>:
</p>

<p>
	<br/>
	<br/>
	_________________________________________________________
</p>	
	
<p>
	Hvis e-postadressen er riktig, men du ikke har mottatt noen e-post med medlemskontrakt i innboksen din,
	vennligst sjekk om den har havnet i din <b>Spam</b> / <b>Junk</b> mappe.
</p>

<p>
	Når du har mottatt en medlemskontrakt, vennligst skriv den ut,
	fyll inn skjemaet og lever det til medlemsansvarlig <b>Uwe Kubosch</b> eller til en <b>instruktør</b>.
</p>

<p align="right"><b>
	Med vennlig hilsen<br/>
	Romerike Jujutsu Klubb
</b></p>