
<%=image_tag @trial.try(:stilart) == 'Aikikan Norge' ? 'http://romerikeaikido.org/Bilder/san_gen-logo-rak.jpg' : 'rjjk_logo_&_txt_320.png', :width=> '33%', :align => :right %>

<h1>Innmelding for<br/><%=@name%></h1>

<p>
<% if @trial %>
	<%=@name%> sin prøvetid er nå over, og vi savner en medlemskontrakt (AvtaleGiro avtale).
<% else %>
	Vi savner en medlemskontrakt (AvtaleGiro avtale) for <b><%=@name%></b>.
<% end %>
	En kontrakt er sendt til følgende e-postadresse:
</p>

<h2><%=@email%></h2>

<p>
	Hvis e-postadressen er feil, vennligst fyll inn riktig adresse og gi til medlemsansvarlig
	<b>Uwe Kubosch</b> eller til en <b>instruktør</b>.<br/>
	<b>BRUK BLOKKBOKSTAVER</b>:
</p>

<p>
	<br/>
	<br/>
	_________________________________________
</p>	
	
<p>
	Hvis e-postadressen er riktig, men du ikke har mottatt noen e-post med medlemskontrakt i innboksen din,
	vennligst sjekk om den har havnet i din <b>Spam</b> / <b>Junk</b> mappe.
	Hvis du ikke finner e-posten, snakk med <b>Uwe Kubosch</b>, så sender vi en ny.
</p>

<% unless @trial %>
<p>
	Hvis du har mottatt en faktura på e-post, finner du medlemskontrakten på baksiden av fakturaen.
</p>
<% end %>

<p>
  Når du har mottatt en medlemskontrakt, vennligst skriv den ut,
  fyll inn skjemaet og lever det til medlemsansvarlig <b>Uwe Kubosch</b> eller til en <b>instruktør</b>.
</p>

<p>
  Hvis du har levert kontrakt tidligere, kan det hende at den har blitt borte i systemet.
  Vi beklager i så fall dette, og ber om at du leverer en ny kontrakt.
</p>

<p><b>
    <br/>
    <br/>
	Med vennlig hilsen<br/>
	Romerike Jujutsu Klubb
</b></p>
