<% @content_width = 880 %>

<div>
<a class="carousel-control left" style="position: inherit; margin-top: -0.05em" href="<%= url_for :id => (@date.beginning_of_month - 1).beginning_of_month %>">&lsaquo;</a>
<a class="carousel-control right" style="position: inherit; margin-top: -0.05em" href="<%= url_for :id => (@date.end_of_month + 1) %>">&rsaquo;</a>

<h2>Medlemsrapport <%= t(:date)[:month_names][@month] %> <%= @year %></h2>
<table class="table">
  <tr>
    <th width="70%">Nye medlemmer</th>
    <td><%= @members_in.size %></td>
  </tr>
  <tr>
    <th>Utmeldinger</th>
    <td><%= @members_out.size %></td>
  </tr>
</table>
</div>

<%= image_tag url_for(:action => :history_graph, :id => '832x600', :format => :png),
              :title => 'Medlemmer graf', :class => 'img-rounded', :style => 'width: 832px; height: 600px' %>

<% if @members_in.any? %>
    <table class="table">
      <tr>
        <th width="70%">Nye medlemmer</th>
        <th>Innmelding</th>
      </tr>
      <% @members_in.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.joined_on %></td>
            <td><%= m.left_on %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if @members_out.any? %>
    <table class="table">
      <tr>
        <th width="70%">Utmeldinger</th>
        <th>Utmelding</th>
      </tr>
      <% @members_out.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.left_on %></td>
          </tr>
      <% end %>
    </table>
<% end %>
