<% @content_width = 880 %>

<div>
  <a class="carousel-control left" style="position: inherit; margin-top: -0.05em" href="<%= url_for :year => @first_date.year, :month => @first_date.month %>">&lsaquo;</a>
  <a class="carousel-control right" style="position: inherit; margin-top: -0.05em" href="<%= url_for :year => (@last_date + 1).year, :month => (@last_date + 1).month %>">&rsaquo;</a>

  <h2>Medlemsrapport <%= t(:date)[:month_names][@month] %> <%= @year %></h2>

  <table class="table">
    <thead>
    <tr>
      <th width="70%">Gruppe</th>
      <th>Antall</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Totalt</th>
      <th><%= @members_after.size %></th>
    </tr>
    </tfoot>
    <tbody>

    <%# TODO(uwe): Separate honorary/passive members %>

    <% before_by_group = @members_before.group_by { |m| m.groups.sort_by(&:to_age).last } %>
    <% @members_after.group_by { |m| m.groups.sort_by(&:to_age).last }.each do |group, members| %>
        <% diff = members.size - before_by_group[group].size%>
        <tr>
          <td><%= group&.name || 'Uten gruppe' %></td>
          <td><%= members.size %>
          <%= diff != 0 ? "(#{diff > 0 ? '+' : nil}#{diff})" : nil %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%# TODO(uwe): Display trial members, maybe with attendances %>

  <table class="table">
    <tr>
      <th width="70%">Nye medlemmer</th>
      <td><%= @members_in.size %></td>
    </tr>
    <tr>
      <th>Utmeldinger</th>
      <td><%= @members_out.size %></td>
    </tr>
  </table>
</div>

<%= image_tag url_for(action: :history_graph, id: '832x600', format: :png),
        title: 'Medlemmer graf', class: 'rounded', style: 'width: 100%' %>

<!-- FIXME(uwe): Hvis medlem er meldt inn og ut i samme måned?  Ref. Test Testesen. -->

<% if @members_in.any? %>
    <table class="table">
      <tr>
        <th width="70%">Nye medlemmer</th>
        <th>Alder</th>
        <th>Innmelding</th>
      </tr>
      <% @members_in.each do |m| %>
          <tr>
            <td><%=link_to m.name, m %></td>
            <td><%= m.age(m.joined_on) %></td>
            <td><%= m.joined_on %></td>
            <td><%= m.left_on %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if @members_out.any? %>
    <table class="table">
      <tr>
        <th width="70%">Utmeldinger</th>
        <th>Alder</th>
        <th>Utmelding</th>
      </tr>
      <% @members_out.each do |m| %>
          <tr>
            <td><%=link_to m.name, m %></td>
            <td><%= m.age(m.left_on) %></td>
            <td><%= m.left_on %></td>
          </tr>
      <% end %>
    </table>
<% end %>
