<h1>Telefonlister</h1>

<% for group in @groups %>
<h2>Aktive <%=group.name%></h2>
<table>
  <tr>
	<th><%= link_to 'Etternavn' %></th>
    <th><%= link_to 'Fornavn' %></th>
    <th><%= link_to 'Mobil' %></th>
    <th><%= link_to 'Hjemme' %></th>
    <th><%= link_to 'Jobb' %></th>
  </tr>
  
<% for member in group.members.active(Date.today) %>
  <tr>
    <td><%=h member.last_name %></td>
    <td><%=h member.first_name %></td>
    <td><%=h member.phone_mobile %></td>
    <td><%=h member.phone_home %></td>
    <td><%=h member.phone_work %></td>
    <td><%= link_to 'Rediger', :action => 'edit', :id => member.id %></td>
  </tr>
<% end %>
</table>

<% end %>
