<h1>Bursdagsfeiringer</h1>

<table>
  <tr>
    <th>Dato</th>
    <th>Deltakere</th>
    <th></th>
  </tr>

  <% @birthday_celebrations.each do |birthday_celebration| %>
      <tr valign="top">
        <td nowrap="true"><%= birthday_celebration.held_on %></td>
        <td><%= birthday_celebration.participants.gsub(/\s*\n\s*/, ', ') %></td>
        <td>
          <%= link_to 'Vis', birthday_celebration %>
          <%= link_to 'Rediger', edit_birthday_celebration_path(birthday_celebration) %>
          <%= link_to 'Diplomer', :action => :certificates, :id => birthday_celebration.id %>
          <%= link_to 'Slett', birthday_celebration, method: :delete,
                      data: {confirm: 'Er du sikker på at du vil slette bursdagen?'} %>
        </td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Registrer ny bursdag', new_birthday_celebration_path %>
