<p id="notice"><%= notice %></p>

<p>
  <b>Dato:</b>
  <%= @birthday_celebration.held_on %>
</p>

<p>
  <b>Deltakere:</b>
  <div style="white-space: pre; font-size: smaller;"><%= @birthday_celebration.participants %>
  </div>
</p>


<%= link_to 'Rediger', edit_birthday_celebration_path(@birthday_celebration) %> |
<%= link_to 'Diplomer', :action => :certificates, :id => @birthday_celebration.id %> |
<%= back_or_link_to 'Tilbake', birthday_celebrations_path %>
